workflows/01 Whatsapp AI Agent.json
{
  "updatedAt": "2026-02-16T14:41:33.031Z",
  "createdAt": "2026-02-14T16:36:00.130Z",
  "id": "-yN8AJ3CHdjtkwnalEIuo",
  "name": "01 Whatsapp AI Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -272
      ],
      "id": "a7457a46-ca44-4111-8334-75740a119e4c",
      "name": "WhatsApp Trigger",
      "webhookId": "9b886710-40b0-4498-b7d8-5d2d5653a1fd",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "DP5qP3nrpK1pcng0",
          "name": "DP: WhatsApp OAuth Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User's Input:\n{{ $json.messages[0].text.body }}\n\nCurrent date/time:\n{{ $now }}\n\n\nUser's Phone Number:\n{{ $('WhatsApp Trigger').item.json.messages[0].from }}\n(Remove the country code while confirming it back)",
        "options": {
          "systemMessage": "=You are Lady Gaga, a friendly and professional customer support representative for Techwired AI — an AI automation agency that helps businesses automate and scale their operations.\n\nYou are chatting via WhatsApp.\n\nUse the following runtime variables:\n\nUser's Input:\n{{ $json.messages[0].text.body }}\n\nCurrent date/time:\n{{ $now }}\n\nUser's Phone Number:\n{{ $json.messages[0].from }}\n\nIf confirming the phone number back to the user, remove the country code.\n\nTOOL ACCESS\n\nYou have access to a Google Calendar tool.\n\nCRITICAL RULES:\n\nOnly create a Google Calendar event AFTER the user clearly confirms the booking.\n\nNever create multiple events for the same confirmed booking.\n\nNever manually confirm a booking unless the calendar event was successfully created.\n\nIf an event already exists for the same user and time, do NOT create another one.\n\nWHEN TO CREATE A CALENDAR EVENT\n\nYou MUST create a Google Calendar event ONLY when:\n\nThe user confirms a booking\n\nThe user provides a specific date AND time\n\nThe user agrees to schedule a consultation\n\nDo NOT create an event if:\n\nThe user is just asking about availability\n\nThe date/time is unclear\n\nRequired details are missing\n\nBEFORE CREATING EVENT — REQUIRE THESE:\n\nYou must collect:\n\nFull Name\n\nEmail Address\n\nPreferred Date\n\nPreferred Time\n\nTimezone (Ask if missing)\n\nIf any are missing → ask first before using the tool.\n\nGOOGLE CALENDAR TOOL ACTION\n\nWhen creating the event:\n\nTitle:\nTechwired AI Consultation - {Client Name}\n\nDescription:\nFree AI Automation Consultation with Techwired AI\n\nDuration:\nDefault 30 minutes (unless user specifies different duration)\n\nAdd client email as attendee (if provided).\n\nUse correct timezone.\n\nAfter successful creation → confirm booking warmly.\n\nIf the tool fails:\n\nInform the user politely\n\nConfirm details again\n\nRetry once only\n\nPRICING RULES\n\nWhen discussing pricing:\n\nBasic automation & ongoing support start from $20/hour\n\nProject builds start from $40/hour depending on complexity\n\nFinal cost depends on actual hours required\n\n$200 upfront required for project builds\n\nKeep pricing conversational.\nNever overwhelm with numbers.\nStay flexible.\n\nCOMMUNICATION STYLE\n\nKeep messages:\n\nShort (1–3 sentences max)\n\nWhatsApp casual tone\n\nWarm & enthusiastic\n\nNo bullet points in replies\n\nNo corporate sounding language\n\nUse phrases like:\n\"Hey!\"\n\"Awesome!\"\n\"Yep!\"\n\"Sounds good!\"\n\nAlways ask follow-up questions naturally."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        -272
      ],
      "id": "dba798b4-90d0-409a-baa7-93324cd5d9db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        -48
      ],
      "id": "221aeb55-e224-4f6d-9c5d-7edabb9f4d30",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        -48
      ],
      "id": "ac9b40f1-3a6c-48a1-b95f-b51e2e0f2a5d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "XIm7JAuRV9KXny3Q",
          "name": "DP: Google Gemini(PaLM) Api Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=907722985768357",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        688,
        -272
      ],
      "id": "7ab73628-bfb3-4761-aa82-da257356d31e",
      "name": "Send message and wait for response",
      "webhookId": "9c533bf4-f821-4d9e-bb06-188303b15db8",
      "credentials": {
        "whatsAppApi": {
          "id": "fJoSFpa4TcBzUGmP",
          "name": "DP: WhatsApp Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fb5b4162-4b8b-4542-a1bf-75ed6f747b6f",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -128,
        -272
      ],
      "id": "4910b0ac-4736-4b92-b6b4-5cf59ca09e1d",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "e9125362854663aaf3bf950614104d453e80f5cbe9c0529c292e3403e3e4d29a@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Automation Bookings Hub"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `Check for the events scheduled 8 hours before the requested time. Pass the date and time in ISO format using the Asia/Manila timezone.`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `Check for the events scheduled 8 hours after the requested time. Pass the date and time in ISO format using the Asia/Manila timezone.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        352,
        -48
      ],
      "id": "8c7f9950-ae31-4a1f-8a6c-dec86e7d9a2e",
      "name": "Check calendar booking activities",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1TXl73FCExI5p2lV",
          "name": "DP: Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "e9125362854663aaf3bf950614104d453e80f5cbe9c0529c292e3403e3e4d29a@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Automation Bookings Hub"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Generate the event start date and time in ISO 8601 format using Asia/Manila timezone (UTC+08:00). Always ensure the time reflects Manila local time and includes the +08:00 offset.`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Generate the event end date and time in ISO 8601 format using Asia/Manila timezone (UTC+08:00). Always ensure the time reflects Manila local time and includes the +08:00 offset.`, 'string') }}",
        "additionalFields": {
          "description": "Add the details such as the type of appointment, the date, the time, the customer's whatsapp number and customer's name.",
          "summary": "The title of the event"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        -48
      ],
      "id": "74d139dd-248a-4e40-8922-0d4d434213a6",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1TXl73FCExI5p2lV",
          "name": "DP: Google Calendar Account"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check calendar booking activities": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "76489b6e-5b0f-46f3-92cc-7dd1bb2cdc32",
  "activeVersionId": "9d183a2b-fc87-43ca-8023-9826a620e992",
  "versionCounter": 239,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-14T16:36:00.135Z",
      "createdAt": "2026-02-14T16:36:00.135Z",
      "role": "workflow:owner",
      "workflowId": "-yN8AJ3CHdjtkwnalEIuo",
      "projectId": "p3k6mrxCVXQTfj2s",
      "project": {
        "updatedAt": "2025-12-28T03:48:55.498Z",
        "createdAt": "2025-12-23T06:42:33.272Z",
        "id": "p3k6mrxCVXQTfj2s",
        "name": "Don Puerto <don.puerto.1003@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
        "projectRelations": [
          {
            "updatedAt": "2025-12-23T06:42:33.313Z",
            "createdAt": "2025-12-23T06:42:33.313Z",
            "userId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
            "projectId": "p3k6mrxCVXQTfj2s",
            "user": {
              "updatedAt": "2026-02-16T14:26:24.000Z",
              "createdAt": "2025-12-23T06:42:33.249Z",
              "id": "e46dc87f-10bb-402e-9a73-9fe38838f451",
              "email": "don.puerto.1003@gmail.com",
              "firstName": "Don",
              "lastName": "Puerto",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-28T03:49:29.611Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "reporting",
                  "monitoring-alerting",
                  "data-syncing",
                  "other"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "-yN8AJ3CHdjtkwnalEIuo",
                "userActivated": true,
                "userActivatedAt": 1771210378925
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-16T02:52:51.000Z",
    "createdAt": "2026-02-15T16:50:43.725Z",
    "versionId": "9d183a2b-fc87-43ca-8023-9826a620e992",
    "workflowId": "-yN8AJ3CHdjtkwnalEIuo",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {}
        },
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          -320,
          -272
        ],
        "id": "a7457a46-ca44-4111-8334-75740a119e4c",
        "name": "WhatsApp Trigger",
        "webhookId": "9b886710-40b0-4498-b7d8-5d2d5653a1fd",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "DP5qP3nrpK1pcng0",
            "name": "DP: WhatsApp OAuth Account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=User's Input:\n{{ $json.messages[0].text.body }}\n\nCurrent date/time:\n{{ $now }}\n\n\nUser's Phone Number:\n{{ $('WhatsApp Trigger').item.json.messages[0].from }}\n(Remove the country code while confirming it back)",
          "options": {
            "systemMessage": "=You are Lady Gaga, a friendly and professional customer support representative for Techwired AI — an AI automation agency that helps businesses automate and scale their operations.\n\nYou are chatting via WhatsApp.\n\nUse the following runtime variables:\n\nUser's Input:\n{{ $json.messages[0].text.body }}\n\nCurrent date/time:\n{{ $now }}\n\nUser's Phone Number:\n{{ $json.messages[0].from }}\n\nIf confirming the phone number back to the user, remove the country code.\n\nTOOL ACCESS\n\nYou have access to a Google Calendar tool.\n\nCRITICAL RULES:\n\nOnly create a Google Calendar event AFTER the user clearly confirms the booking.\n\nNever create multiple events for the same confirmed booking.\n\nNever manually confirm a booking unless the calendar event was successfully created.\n\nIf an event already exists for the same user and time, do NOT create another one.\n\nWHEN TO CREATE A CALENDAR EVENT\n\nYou MUST create a Google Calendar event ONLY when:\n\nThe user confirms a booking\n\nThe user provides a specific date AND time\n\nThe user agrees to schedule a consultation\n\nDo NOT create an event if:\n\nThe user is just asking about availability\n\nThe date/time is unclear\n\nRequired details are missing\n\nBEFORE CREATING EVENT — REQUIRE THESE:\n\nYou must collect:\n\nFull Name\n\nEmail Address\n\nPreferred Date\n\nPreferred Time\n\nTimezone (Ask if missing)\n\nIf any are missing → ask first before using the tool.\n\nGOOGLE CALENDAR TOOL ACTION\n\nWhen creating the event:\n\nTitle:\nTechwired AI Consultation - {Client Name}\n\nDescription:\nFree AI Automation Consultation with Techwired AI\n\nDuration:\nDefault 30 minutes (unless user specifies different duration)\n\nAdd client email as attendee (if provided).\n\nUse correct timezone.\n\nAfter successful creation → confirm booking warmly.\n\nIf the tool fails:\n\nInform the user politely\n\nConfirm details again\n\nRetry once only\n\nPRICING RULES\n\nWhen discussing pricing:\n\nBasic automation & ongoing support start from $20/hour\n\nProject builds start from $40/hour depending on complexity\n\nFinal cost depends on actual hours required\n\n$200 upfront required for project builds\n\nKeep pricing conversational.\nNever overwhelm with numbers.\nStay flexible.\n\nCOMMUNICATION STYLE\n\nKeep messages:\n\nShort (1–3 sentences max)\n\nWhatsApp casual tone\n\nWarm & enthusiastic\n\nNo bullet points in replies\n\nNo corporate sounding language\n\nUse phrases like:\n\"Hey!\"\n\"Awesome!\"\n\"Yep!\"\n\"Sounds good!\"\n\nAlways ask follow-up questions naturally."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          160,
          -272
        ],
        "id": "dba798b4-90d0-409a-baa7-93324cd5d9db",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          304,
          -48
        ],
        "id": "221aeb55-e224-4f6d-9c5d-7edabb9f4d30",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          176,
          -48
        ],
        "id": "ac9b40f1-3a6c-48a1-b95f-b51e2e0f2a5d",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "XIm7JAuRV9KXny3Q",
            "name": "DP: Google Gemini(PaLM) Api Account"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "=907722985768357",
          "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
          "textBody": "={{ $json.output }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          512,
          -272
        ],
        "id": "7ab73628-bfb3-4761-aa82-da257356d31e",
        "name": "Send message and wait for response",
        "webhookId": "9c533bf4-f821-4d9e-bb06-188303b15db8",
        "credentials": {
          "whatsAppApi": {
            "id": "fJoSFpa4TcBzUGmP",
            "name": "DP: WhatsApp Account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fb5b4162-4b8b-4542-a1bf-75ed6f747b6f",
                "leftValue": "={{ $json.messages[0].text.body }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -64,
          -272
        ],
        "id": "4910b0ac-4736-4b92-b6b4-5cf59ca09e1d",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "e9125362854663aaf3bf950614104d453e80f5cbe9c0529c292e3403e3e4d29a@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Automation Bookings Hub"
          },
          "returnAll": true,
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `Check for the events scheduled 8 hours before the requested time. Pass the date and time in ISO format using the Asia/Manila timezone.`, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `Check for the events scheduled 8 hours after the requested time. Pass the date and time in ISO format using the Asia/Manila timezone.`, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          416,
          32
        ],
        "id": "8c7f9950-ae31-4a1f-8a6c-dec86e7d9a2e",
        "name": "Check calendar booking activities",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "1TXl73FCExI5p2lV",
            "name": "DP: Google Calendar Account"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "e9125362854663aaf3bf950614104d453e80f5cbe9c0529c292e3403e3e4d29a@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Automation Bookings Hub"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Generate the event start date and time in ISO 8601 format using Asia/Manila timezone (UTC+08:00). Always ensure the time reflects Manila local time and includes the +08:00 offset.`, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Generate the event end date and time in ISO 8601 format using Asia/Manila timezone (UTC+08:00). Always ensure the time reflects Manila local time and includes the +08:00 offset.`, 'string') }}",
          "additionalFields": {
            "description": "Add the details such as the type of appointment, the date, the time, the customer's whatsapp number and customer's name.",
            "summary": "The title of the event"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          512,
          128
        ],
        "id": "74d139dd-248a-4e40-8922-0d4d434213a6",
        "name": "Create an event in Google Calendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "1TXl73FCExI5p2lV",
            "name": "DP: Google Calendar Account"
          }
        }
      }
    ],
    "connections": {
      "WhatsApp Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send message and wait for response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check calendar booking activities": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Create an event in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Don Puerto",
    "name": "Version 9d183a2b",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-16T02:52:51.854Z",
        "id": 178,
        "workflowId": "-yN8AJ3CHdjtkwnalEIuo",
        "versionId": "9d183a2b-fc87-43ca-8023-9826a620e992",
        "event": "activated",
        "userId": "e46dc87f-10bb-402e-9a73-9fe38838f451"
      },
      {
        "createdAt": "2026-02-15T16:52:06.127Z",
        "id": 174,
        "workflowId": "-yN8AJ3CHdjtkwnalEIuo",
        "versionId": "9d183a2b-fc87-43ca-8023-9826a620e992",
        "event": "deactivated",
        "userId": "e46dc87f-10bb-402e-9a73-9fe38838f451"
      },
      {
        "createdAt": "2026-02-16T02:52:40.103Z",
        "id": 177,
        "workflowId": "-yN8AJ3CHdjtkwnalEIuo",
        "versionId": "9d183a2b-fc87-43ca-8023-9826a620e992",
        "event": "deactivated",
        "userId": "e46dc87f-10bb-402e-9a73-9fe38838f451"
      }
    ]
  }
}