workflows/01. Backup & Restore Workflow.json
{
  "updatedAt": "2026-02-17T01:51:42.755Z",
  "createdAt": "2026-02-13T14:21:39.857Z",
  "id": "CPxhdWrDqI60Zub3-HlUd",
  "name": "01. Backup & Restore Workflow",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        1200
      ],
      "id": "294bf68f-3462-4d91-8ab3-39510b96c3d6",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        1136
      ],
      "id": "5da72489-0ffd-4e60-9828-678fbe0dd58f",
      "name": "Wait",
      "webhookId": "4e6da3b8-0f5e-418c-9d2d-12d53e17bbcf"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        1008
      ],
      "id": "f177158e-f46b-4454-ae53-c34f994cb285",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2416,
        1104
      ],
      "id": "c5f056d7-9fde-469a-a402-40240193cb1c",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2624,
        1104
      ],
      "id": "153803d9-933f-4d44-b635-e41727b76e8f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1puJcuewFSKJEDObSZkZ_3Wr1egjQowuVdSGuk47Puvs",
          "mode": "list",
          "cachedResultName": "Backups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puJcuewFSKJEDObSZkZ_3Wr1egjQowuVdSGuk47Puvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puJcuewFSKJEDObSZkZ_3Wr1egjQowuVdSGuk47Puvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $json.data[0].n8n_id }}",
            "Title": "={{ $json.data[0].name }}",
            "Date Created": "={{ $json.data[0].createdAt }}",
            "Last Modified": "={{ $json.data[0].updatedAt }}",
            "N8N Url": "=https://n8n.srv1127913.hstgr.cloud/workflow/{{ $json.data[0].n8n_id }}",
            "Github Url": "={{ $json.data[1].github }}",
            "Shared Url": "=https://drive.google.com/file/d/{{ $json.data[0].drive_id }}/view?usp=drive_link "
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "N8N Url",
              "displayName": "N8N Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Github Url",
              "displayName": "Github Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shared Url",
              "displayName": "Shared Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2208,
        448
      ],
      "id": "220150f1-f325-4bc8-aeb5-7301ee6d5604",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DBEwozLer2lI42WC",
          "name": "DP: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1puJcuewFSKJEDObSZkZ_3Wr1egjQowuVdSGuk47Puvs",
          "mode": "list",
          "cachedResultName": "Backups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puJcuewFSKJEDObSZkZ_3Wr1egjQowuVdSGuk47Puvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puJcuewFSKJEDObSZkZ_3Wr1egjQowuVdSGuk47Puvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $json.id }}",
            "Title": "={{ $json.name }}",
            "Date Created": "={{ $json.createdAt }}",
            "Last Modified": "={{ $json.updatedAt }}",
            "Github Url": "={{ $json.github_url }}",
            "N8N Url": "=https://n8n.srv1127913.hstgr.cloud/workflow/{{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "N8N Url",
              "displayName": "N8N Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Github Url",
              "displayName": "Github Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3104,
        1104
      ],
      "id": "20dcde06-8e6c-40f9-a060-4a38a8a47a99",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DBEwozLer2lI42WC",
          "name": "DP: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        1120
      ],
      "id": "45306c4c-e1f6-436c-9fc6-64e93a809f0e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        304,
        1120
      ],
      "id": "85b05771-ffd1-4f0d-90ad-1623ffa85269",
      "name": "Get many n8n workflows",
      "credentials": {
        "n8nApi": {
          "id": "m0mRpO0w7IZZq2ku",
          "name": "DP: n8n Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8195660-b59a-440c-8114-ff6377a536b0",
              "leftValue": "={{ Object.keys($json).length === 0 }}\n",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1312,
        1136
      ],
      "id": "f98873b7-0fa9-4d3e-bb54-b3c0a93d470d",
      "name": "Route if Workflow Exists"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('Wait').item.json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1568,
        1120
      ],
      "id": "86dd34d6-5dbc-4b84-bf4a-0870ca0d7a62",
      "name": "Get Workflow by ID",
      "alwaysOutputData": true,
      "credentials": {
        "n8nApi": {
          "id": "m0mRpO0w7IZZq2ku",
          "name": "DP: n8n Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n\n  // Get workflow name safely\n  const workflowName = item.json.name || 'workflow';\n\n  // Optional: sanitize filename (remove illegal characters)\n  const safeName = workflowName.replace(/[<>:\"/\\\\|?*]+/g, '');\n\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: `${safeName}.json`\n    }\n  };\n\n  return item;\n});\n"
      },
      "id": "e56397e5-872c-450b-8ea9-f3c4310c0b5a",
      "name": "Convert JSON to Binary File",
      "type": "n8n-nodes-base.code",
      "position": [
        1776,
        1120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "name": "={{ $json.name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1TF8p98z5gmhfQXzZrN5Ts89KEArvPwHZ",
          "mode": "list",
          "cachedResultName": "JSON Files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TF8p98z5gmhfQXzZrN5Ts89KEArvPwHZ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1968,
        1120
      ],
      "id": "653360b7-9f58-44e4-9fcc-87c3f2918a5b",
      "name": "Upload JSON to Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YO4qnGhKlEgotzkB",
          "name": "DP: Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5dffcc1f-5136-4ae0-826b-b8d73dc56e18",
              "name": "n8n_id",
              "value": "={{ $('Convert JSON to Binary File').item.json.id }}",
              "type": "string"
            },
            {
              "id": "b187d35a-9ae3-46c9-bb08-bd3e07d9d0b8",
              "name": "drive_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "e76b5251-6955-4f7a-a986-35dae2912e2e",
              "name": "name",
              "value": "={{ $('Convert JSON to Binary File').item.json.name }}",
              "type": "string"
            },
            {
              "id": "09e140c2-9de6-4ede-b9e0-15689f941e1f",
              "name": "createdAt",
              "value": "={{ $('Convert JSON to Binary File').item.json.createdAt }}",
              "type": "string"
            },
            {
              "id": "eb108deb-01c6-4d70-9448-c093867d42f1",
              "name": "updatedAt",
              "value": "={{ $('Convert JSON to Binary File').item.json.updatedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        1120
      ],
      "id": "e18b8007-3217-4c1f-8763-15ba6655efb5",
      "name": "Set Fields from JSON Binary to Google Drive"
    },
    {
      "parameters": {
        "jsCode": "const wf = items[0].json;\n\n// 1) Build filename from workflow name\nconst workflowName = wf.name || 'workflow';\nconst safeName = workflowName.replace(/[<>:\"/\\\\|?*]+/g, '').trim();\n\n// 2) JSON string (pretty format)\nconst jsonString = JSON.stringify(wf, null, 2);\n\n// 3) Convert to base64\nconst base64 = Buffer.from(jsonString, 'utf8').toString('base64');\n\n// 4) Return as binary \"data\"\nreturn [\n  {\n    json: {\n      workflowId: wf.id,\n      workflowName: wf.name,\n      fileName: `${safeName}.json`,\n      path: `workflows/${safeName}.json`,\n    },\n    binary: {\n      data: {\n        data: base64,\n        mimeType: 'application/json',\n        fileName: `${safeName}.json`,\n      },\n    },\n  },\n];\n"
      },
      "id": "e3158b2d-6adb-401d-8c06-8e9ccc0ebb9e",
      "name": "Prepare workflow JSON for GitHub commit",
      "type": "n8n-nodes-base.code",
      "position": [
        1760,
        864
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=https://github.com/donPuerto",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "=n8n-workflows"
        },
        "filePath": "={{ $json.path }}",
        "binaryData": true,
        "commitMessage": "first commit"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1968,
        864
      ],
      "id": "b1b682d6-5dd4-400f-9cd3-8283ba77760a",
      "name": "Upload JSON File to GitHub",
      "webhookId": "16e5f2e5-4072-4f0a-b013-a1d2b5e9b390",
      "credentials": {
        "githubApi": {
          "id": "H2VTfwuqfmPzjb9v",
          "name": "DP: GitHub API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34775986-2867-4e53-b4b3-f6392d652107",
              "name": "github",
              "value": "={{ $json.content.html_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        864
      ],
      "id": "bc369717-0161-4530-a6c6-b4c37be2841e",
      "name": "Set Field for GitHub URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2c60222-d8ef-4753-b4a6-97ee1d55b6ab",
              "name": "drive_id",
              "value": "={{ $json.data[1].drive_id }}",
              "type": "string"
            },
            {
              "id": "6000cea5-f98c-4d75-9d38-e09d104bafb2",
              "name": "id",
              "value": "={{ $json.data[1].n8n_id }}",
              "type": "string"
            },
            {
              "id": "f7d93c15-f265-4ce5-96ff-1bdc1818c166",
              "name": "name",
              "value": "={{ $json.data[1].name }}",
              "type": "string"
            },
            {
              "id": "b7c6c7d4-ac5d-4964-9a33-d792393ef210",
              "name": "github_url",
              "value": "={{ $json.data[0].github }}",
              "type": "string"
            },
            {
              "id": "1c699d7d-6c69-4b92-a664-084513dfc879",
              "name": "createdAt",
              "value": "={{ $json.data[1].createdAt }}",
              "type": "string"
            },
            {
              "id": "69b38d9f-7ddd-40ef-a391-ce44cb480055",
              "name": "updatedAt",
              "value": "={{ $json.data[1].updatedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        1104
      ],
      "id": "852b8ebd-4772-444e-896a-328527c326ab",
      "name": "Final Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1puJcuewFSKJEDObSZkZ_3Wr1egjQowuVdSGuk47Puvs",
          "mode": "list",
          "cachedResultName": "Backups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puJcuewFSKJEDObSZkZ_3Wr1egjQowuVdSGuk47Puvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puJcuewFSKJEDObSZkZ_3Wr1egjQowuVdSGuk47Puvs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Title",
              "lookupValue": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1088,
        1136
      ],
      "id": "a2f1f907-c603-4ea2-b55a-f52877d82735",
      "name": "Check Title If Exist in Workflow Sheet Tab",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DBEwozLer2lI42WC",
          "name": "DP: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get all workflows and store in Google Drive and Github",
        "height": 608,
        "width": 3280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        800
      ],
      "typeVersion": 1,
      "id": "14d6dd81-636d-4a87-a2db-e916157b4886",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1puJcuewFSKJEDObSZkZ_3Wr1egjQowuVdSGuk47Puvs",
          "mode": "list",
          "cachedResultName": "Backups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puJcuewFSKJEDObSZkZ_3Wr1egjQowuVdSGuk47Puvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKdVAQPyfl0LXCExNYjStmWmebb000rAoCULm88zdhA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Id",
              "lookupValue": "={{ $json.workflow_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        288,
        64
      ],
      "id": "fe997183-36dc-47c7-9dee-30d4b3006d47",
      "name": "Check Title/Name Existence in Workflow Sheet Tab1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DBEwozLer2lI42WC",
          "name": "DP: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "wr-group",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "=n8n-workflows"
        },
        "filePath": "={{ $json.path }}",
        "binaryData": true,
        "commitMessage": "=Backup workflow {{ $json.workflowName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        800,
        592
      ],
      "id": "1ab48db8-6823-4cb9-8c6d-9cd051a28268",
      "name": "Workflow → GitHub File Builder",
      "webhookId": "6d34e561-d4d8-45ad-bad5-b38b775c223d",
      "credentials": {
        "githubOAuth2Api": {
          "id": "HXZmS7poh93Qp0Vm",
          "name": "DP: GitHub Account OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const wf = items[0].json;\n\n// Build filename from workflow name\nconst workflowName = wf.name || 'workflow';\nconst safeName = workflowName.replace(/[<>:\"/\\\\|?*]+/g, '').trim();\n\n// Convert full workflow JSON to formatted string\nconst jsonString = JSON.stringify(wf, null, 2);\n\n// Convert to base64\nconst base64 = Buffer.from(jsonString, 'utf8').toString('base64');\n\nreturn [\n  {\n    json: {\n      workflowId: wf.id,\n      workflowName: workflowName,\n      createdAt: wf.createdAt,\n      updatedAt: wf.updatedAt,\n    },\n    binary: {\n      data: {\n        data: base64,\n        mimeType: 'application/json',\n        fileName: `${safeName}.json`,\n      },\n    },\n  },\n];\n"
      },
      "id": "1bdfc454-9882-41b3-889d-2da3f959e127",
      "name": "Prepare Workflow JSON for Google Drive",
      "type": "n8n-nodes-base.code",
      "position": [
        576,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const wf = items[0].json;\n\nconst workflowName = wf.name || 'workflow';\nconst safeName = workflowName.replace(/[<>:\"/\\\\|?*]+/g, '').trim();\n\nconst jsonString = JSON.stringify(wf, null, 2);\nconst base64 = Buffer.from(jsonString, 'utf8').toString('base64');\n\nreturn [\n  {\n    json: {\n      workflowId: wf.id,\n      workflowName: wf.name,\n      fileName: `${safeName}.json`,\n      path: `workflows/${safeName}.json`,\n    },\n    binary: {\n      data: {\n        data: base64,\n        mimeType: 'application/json',\n        fileName: `${safeName}.json`,\n      },\n    },\n  },\n];\n"
      },
      "id": "9b09132f-79d3-4970-8247-252a1b9f9ea5",
      "name": "Prepare Workflow JSON for GitHub",
      "type": "n8n-nodes-base.code",
      "position": [
        576,
        592
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "name": "={{ $json.workflowName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1TF8p98z5gmhfQXzZrN5Ts89KEArvPwHZ",
          "mode": "list",
          "cachedResultName": "JSON Files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TF8p98z5gmhfQXzZrN5Ts89KEArvPwHZ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        320
      ],
      "id": "cbf0a3a9-0609-457b-bf56-12fb884f7120",
      "name": "Google Drive File Builder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YO4qnGhKlEgotzkB",
          "name": "DP: Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "events": [
          "update"
        ]
      },
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [
        80,
        464
      ],
      "id": "c8781d0c-3dea-4e5b-b98c-49173e4d3e5f",
      "name": "n8n → Workflow Update Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.workflow_id }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        304,
        464
      ],
      "id": "4b8e8ae8-f928-428c-a1ac-97e6337efd72",
      "name": "n8n → Get Workflow by ID",
      "credentials": {
        "n8nApi": {
          "id": "m0mRpO0w7IZZq2ku",
          "name": "DP: n8n Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfa7919f-9ffe-4664-9137-51b896a4973a",
              "name": "Shared Url",
              "value": "={{ $json[\"Shared Url\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        64
      ],
      "id": "606efc06-c542-4e70-97d7-72606fa668ab",
      "name": "Extract Drive File ID from Sheet"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json[\"Shared Url\"] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        64
      ],
      "id": "1521ff47-6900-47b2-b925-daa09d3f458d",
      "name": "Delete Existing Drive Backup",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YO4qnGhKlEgotzkB",
          "name": "DP: Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5dffcc1f-5136-4ae0-826b-b8d73dc56e18",
              "name": "n8n_id",
              "value": "={{ $('n8n → Get Workflow by ID').item.json.id }}",
              "type": "string"
            },
            {
              "id": "b187d35a-9ae3-46c9-bb08-bd3e07d9d0b8",
              "name": "drive_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "e76b5251-6955-4f7a-a986-35dae2912e2e",
              "name": "name",
              "value": "={{ $('n8n → Get Workflow by ID').item.json.name }}",
              "type": "string"
            },
            {
              "id": "09e140c2-9de6-4ede-b9e0-15689f941e1f",
              "name": "createdAt",
              "value": "={{ $('n8n → Get Workflow by ID').item.json.createdAt }}",
              "type": "string"
            },
            {
              "id": "eb108deb-01c6-4d70-9448-c093867d42f1",
              "name": "updatedAt",
              "value": "={{ $('n8n → Get Workflow by ID').item.json.updatedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        320
      ],
      "id": "f79fd592-e2c6-4ea8-a8f5-3641e6a60ce8",
      "name": "Set Drive File Metadata"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34775986-2867-4e53-b4b3-f6392d652107",
              "name": "github",
              "value": "={{ $json.content.html_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        592
      ],
      "id": "ea95bda7-db7f-479a-9809-a521178ba8f0",
      "name": "Set GitHub File Metadata"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        448
      ],
      "id": "3c52d176-557c-4a26-ac2e-a727d64af6f3",
      "name": "Combine Drive + GitHub Results"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1664,
        448
      ],
      "id": "e6491c33-83da-4b1e-9a6c-e2d4aadec227",
      "name": "Consolidate Backup Data"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1920,
        448
      ],
      "id": "8c24b54a-97db-426c-8ddc-06601bbbee19",
      "name": "Stabilize Before Sheet Update",
      "webhookId": "801c9260-f7a8-4b73-afba-6a8c61e280a1"
    },
    {
      "parameters": {
        "content": "## Update working during Published instance\n",
        "height": 784,
        "width": 3280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "6e0c9301-de41-40d5-8d10-ea3c4478b3f0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        816,
        928
      ],
      "id": "a9a218a7-0602-43c0-a273-68ebc566a7d8",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get many n8n workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Title If Exist in Workflow Sheet Tab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many n8n workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Final Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many n8n workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route if Workflow Exists": {
      "main": [
        [
          {
            "node": "Get Workflow by ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow by ID": {
      "main": [
        [
          {
            "node": "Prepare workflow JSON for GitHub commit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert JSON to Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert JSON to Binary File": {
      "main": [
        [
          {
            "node": "Upload JSON to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload JSON to Google Drive": {
      "main": [
        [
          {
            "node": "Set Fields from JSON Binary to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields from JSON Binary to Google Drive": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare workflow JSON for GitHub commit": {
      "main": [
        [
          {
            "node": "Upload JSON File to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload JSON File to GitHub": {
      "main": [
        [
          {
            "node": "Set Field for GitHub URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Field for GitHub URL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Title If Exist in Workflow Sheet Tab": {
      "main": [
        [
          {
            "node": "Route if Workflow Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Title/Name Existence in Workflow Sheet Tab1": {
      "main": [
        [
          {
            "node": "Extract Drive File ID from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow → GitHub File Builder": {
      "main": [
        [
          {
            "node": "Set GitHub File Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Workflow JSON for Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive File Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Workflow JSON for GitHub": {
      "main": [
        [
          {
            "node": "Workflow → GitHub File Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Builder": {
      "main": [
        [
          {
            "node": "Set Drive File Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n → Workflow Update Trigger": {
      "main": [
        [
          {
            "node": "n8n → Get Workflow by ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Title/Name Existence in Workflow Sheet Tab1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n → Get Workflow by ID": {
      "main": [
        [
          {
            "node": "Prepare Workflow JSON for GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Workflow JSON for Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Drive File ID from Sheet": {
      "main": [
        [
          {
            "node": "Delete Existing Drive Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Drive File Metadata": {
      "main": [
        [
          {
            "node": "Combine Drive + GitHub Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub File Metadata": {
      "main": [
        [
          {
            "node": "Combine Drive + GitHub Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Drive + GitHub Results": {
      "main": [
        [
          {
            "node": "Consolidate Backup Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Backup Data": {
      "main": [
        [
          {
            "node": "Stabilize Before Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stabilize Before Sheet Update": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "aa53155a-be53-49da-8196-362b12b4aa9e",
  "activeVersionId": null,
  "versionCounter": 100,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-13T14:21:39.862Z",
      "createdAt": "2026-02-13T14:21:39.862Z",
      "role": "workflow:owner",
      "workflowId": "CPxhdWrDqI60Zub3-HlUd",
      "projectId": "p3k6mrxCVXQTfj2s",
      "project": {
        "updatedAt": "2025-12-28T03:48:55.498Z",
        "createdAt": "2025-12-23T06:42:33.272Z",
        "id": "p3k6mrxCVXQTfj2s",
        "name": "Don Puerto <don.puerto.1003@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
        "projectRelations": [
          {
            "updatedAt": "2025-12-23T06:42:33.313Z",
            "createdAt": "2025-12-23T06:42:33.313Z",
            "userId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
            "projectId": "p3k6mrxCVXQTfj2s",
            "user": {
              "updatedAt": "2026-02-16T14:26:24.000Z",
              "createdAt": "2025-12-23T06:42:33.249Z",
              "id": "e46dc87f-10bb-402e-9a73-9fe38838f451",
              "email": "don.puerto.1003@gmail.com",
              "firstName": "Don",
              "lastName": "Puerto",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-28T03:49:29.611Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "reporting",
                  "monitoring-alerting",
                  "data-syncing",
                  "other"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "-yN8AJ3CHdjtkwnalEIuo",
                "userActivated": true,
                "userActivatedAt": 1771210378925
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}