workflows/03. Discord File Upload v2 - Hi Pages Lead.json
{
  "updatedAt": "2026-03-25T22:54:21.305Z",
  "createdAt": "2026-01-01T03:52:58.551Z",
  "id": "Dm34kcocvPR7PllT",
  "name": "03. Discord File Upload v2 - Hi Pages Lead",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "value": "753455160209965106",
          "mode": "list",
          "cachedResultName": "Window Revival",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channelId }}",
          "mode": "id"
        },
        "messageId": "={{ $json.messageId }}",
        "emoji": "👍"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1120,
        -400
      ],
      "id": "988bfb9f-465e-4e92-b273-97dc446e3455",
      "name": "React with an emoji to a message",
      "webhookId": "78d6b1b5-2d88-4a5b-aaaa-4c7a5e59edfc",
      "credentials": {
        "discordBotApi": {
          "id": "a0FDlWFh8PBA5Add",
          "name": "WR: Discord Bot Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "753455160209965106",
          "mode": "list",
          "cachedResultName": "Window Revival",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106"
        },
        "channelId": {
          "__rl": true,
          "value": "912496260823519232",
          "mode": "list",
          "cachedResultName": "leads・new",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106/912496260823519232"
        },
        "content": "===========\nLead Type: {{ $json.leadType }}\nTimestamp: {{ $now.setZone('Australia/Brisbane').toFormat('LL/dd/yyyy, HH:mm:ss') }}\nId: {{ $json.id }}\nFirst Name: {{ $json.firstName }}\nLast Name: {{ $json.lastName }}\nMobile Number: {{ $json.mobileNumber }}\nPhone Number: {{ $json.phoneNumber }}\nEmail Address: {{ $json.emailAddress }}\nAddress: {{ $json.address }}\nState: {{ $json.state }}\nSuburb: {{ $json.suburb }}\n\nEnquiry: {{ $json.enquiry }}\n\nQuantity: {{ $json.quantity }}\nI'd Like to Get My Project Underway: {{ $json.IdLikeToGetMyProjectUnderway }}\nHow they heard about us?: {{ $json.howTheyHeardAboutUs }}\nLead Qualifier: {{ $json.leadQualifier }}\nReferred by: {{ $json.leadQualifier }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1344,
        176
      ],
      "id": "85a55159-3e0a-4822-bf8d-5bae880f586a",
      "name": "Send a message",
      "webhookId": "d2e978df-db4f-4b19-b1e8-31948398a217",
      "credentials": {
        "discordBotApi": {
          "id": "a0FDlWFh8PBA5Add",
          "name": "WR: Discord Bot Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Function node\n * Output ONLY:\n * messageId, guildId, channelId, authorId, authorName,\n * content,\n * leadType,\n * howDidYouHearAboutUs,\n * referredBy,\n * leadQualifier,\n * imageAttachments[]\n */\n\n// ---------- Helpers ----------\nconst firstNonEmpty = (...vals) => {\n  for (const v of vals) {\n    if (v !== undefined && v !== null && v !== \"\") return v;\n  }\n  return null;\n};\n\nfunction isImageAttachment(att) {\n  const ct = String(\n    att?.content_type ?? att?.contentType ?? \"\"\n  ).toLowerCase();\n\n  const name = String(\n    att?.filename ?? att?.name ?? \"\"\n  ).toLowerCase();\n\n  if (ct.startsWith(\"image/\")) return true;\n  return /\\.(png|jpe?g|gif|webp|bmp|tiff?)$/i.test(name);\n}\n\nfunction pickImageFields(att) {\n  return {\n    id: firstNonEmpty(att?.id),\n    name: firstNonEmpty(att?.filename, att?.name),\n    url: firstNonEmpty(att?.url, att?.attachment),\n    proxyURL: firstNonEmpty(att?.proxy_url, att?.proxyURL, att?.proxyUrl),\n    size: firstNonEmpty(att?.size),\n    width: firstNonEmpty(att?.width),\n    height: firstNonEmpty(att?.height),\n    contentType: firstNonEmpty(att?.content_type, att?.contentType),\n    title: firstNonEmpty(att?.title),\n    description: firstNonEmpty(att?.description),\n  };\n}\n\n// ---------- Main ----------\nconst msg = $input.first().json;\n\n// ✅ grab ids from either camelCase or snake_case or nested author object\nconst channelId = firstNonEmpty(msg?.channelId, msg?.channel_id);\nconst authorId = firstNonEmpty(msg?.authorId, msg?.author?.id);\nconst authorName = firstNonEmpty(\n  msg?.authorName,\n  msg?.author?.username,\n  msg?.author?.global_name\n);\n\n// ✅ attachments can be either msg.attachments (your note) or discord message.attachments\nconst attachments = Array.isArray(msg?.attachments) ? msg.attachments : [];\n\nconst imageAttachments = attachments\n  .filter(isImageAttachment)\n  .map(pickImageFields);\n\nconst output = {\n  messageId: firstNonEmpty(msg?.messageId, msg?.id),\n  guildId: firstNonEmpty(msg?.guildId, msg?.guild_id, \"753455160209965106\"), // fallback safe\n  channelId,\n  authorId,\n  authorName,\n  content: firstNonEmpty(msg?.content, \"\"), // keep empty string if empty\n  leadType: \"HiPages Lead\",\n  howDidYouHearAboutUs: \"HiPages\",\n  referredBy: null,\n  leadQualifier: \"Good\",\n  imageAttachments,\n};\n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -384
      ],
      "id": "904c6a3a-b84b-4668-a309-4886089fbaf9",
      "name": "Normalize – Discord Message"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (Once for All Items)\n// FIXED: Robust parsing for truncated AI JSON + CRM enquiry formatting\n// - Recovers fields even when AI response is cut off mid-key (status: incomplete)\n// - Enquiry formatted for Google Sheets (CRM clean) and works even if Discord message is missing\n// - Removes imageAttachments here (you will merge later)\n// - Fixes address: \"Carindale, 4152\" => \"Carindale\"\n// - Adds Timestamp (Australia/Brisbane)\n// - fileName: FirstNameLastName-DD-MM-YYYY-HiLead\n//\n// CHANGE REQUEST APPLIED:\n// - Removed messageId, channelId, authorId, authorName from the output completely\n// - Also deletes these keys if they appear in AI JSON (lead.*)\n//\n// NEW FIX:\n// - Prevent Google Sheets formula errors/injection by prefixing ' when a value starts with = + - @\n//   (especially enquiry which starts with \"=====\")\n\nconst inputItems = $input.all();\nconst outputItems = [];\n\n// ---------- Brisbane Timestamp ----------\nfunction nowBrisbaneTimestamp() {\n  const tz = 'Australia/Brisbane';\n  const d = new Date();\n\n  const parts = new Intl.DateTimeFormat('en-AU', {\n    timeZone: tz,\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false,\n  }).formatToParts(d);\n\n  const get = (type) => parts.find(p => p.type === type)?.value;\n  return `${get('day')}/${get('month')}/${get('year')}, ${get('hour')}:${get('minute')}:${get('second')}`;\n}\n\n// ---------- Filename ----------\nfunction formatDDMMYYYY() {\n  const d = new Date();\n  const dd = String(d.getDate()).padStart(2, '0');\n  const mm = String(d.getMonth() + 1).padStart(2, '0');\n  const yyyy = String(d.getFullYear());\n  return `${dd}-${mm}-${yyyy}`;\n}\nfunction safeName(s) {\n  return String(s || '').trim().replace(/\\s+/g, '').replace(/[^a-zA-Z0-9_-]/g, '');\n}\nfunction buildFileName(firstName, lastName) {\n  const name = (safeName(firstName) + safeName(lastName)) || 'Unknown';\n  return `${name}-${formatDDMMYYYY()}-HiLead`;\n}\n\n// ---------- Google Sheets safety (formula injection / leading equals fix) ----------\nfunction safeForGoogleSheets(value) {\n  const s = String(value ?? '');\n  // Google Sheets treats strings starting with these as formulas\n  return /^[=+\\-@]/.test(s) ? \"'\" + s : s;\n}\n\n// ---------- Deep search helper (returns FIRST found value, may be object/array/string) ----------\nfunction deepFindKey(root, keyName, maxDepth = 12) {\n  const seen = new Set();\n  const queue = [{ value: root, depth: 0 }];\n\n  while (queue.length) {\n    const { value, depth } = queue.shift();\n    if (value === null || value === undefined) continue;\n    if (typeof value !== 'object') continue;\n    if (seen.has(value)) continue;\n    seen.add(value);\n\n    if (Object.prototype.hasOwnProperty.call(value, keyName)) {\n      return value[keyName];\n    }\n\n    if (depth >= maxDepth) continue;\n\n    if (Array.isArray(value)) {\n      for (const v of value) queue.push({ value: v, depth: depth + 1 });\n    } else {\n      for (const k of Object.keys(value)) queue.push({ value: value[k], depth: depth + 1 });\n    }\n  }\n  return undefined;\n}\n\n// ---------- AI Text Extraction ----------\nfunction getAiTextAnyShape(data) {\n  // Common n8n OpenAI \"Responses\" wrapper: [[{ content:[{text:\"...\"}] }]]\n  if (Array.isArray(data) && Array.isArray(data[0]) && data[0][0]?.content?.[0]?.text) {\n    return data[0][0].content[0].text;\n  }\n\n  // Merge output shape: { \"0\": { content:[{text:\"...\"}] }, ... }\n  if (data?.[\"0\"]?.content?.[0]?.text) {\n    return data[\"0\"].content[0].text;\n  }\n\n  // Direct: { content:[{text:\"...\"}] }\n  if (data?.content?.[0]?.text) {\n    return data.content[0].text;\n  }\n\n  // Last resort: search for a \"text\" field that looks like JSON\n  const maybeText = deepFindKey(data, 'text');\n  if (typeof maybeText === 'string' && maybeText.trim().startsWith('{')) {\n    return maybeText;\n  }\n\n  return null;\n}\n\n// ---------- Normalize / extract JSON block ----------\nfunction normalizeAndExtractJsonBlock(rawText) {\n  let t = String(rawText || '').trim();\n\n  // remove fences\n  t = t.replace(/```json/gi, '```').replace(/```/g, '').trim();\n\n  // normalize curly quotes\n  t = t\n    .replace(/[“”]/g, '\"')\n    .replace(/[‘’]/g, \"'\")\n    .replace(/\\u00A0/g, ' ');\n\n  const start = t.indexOf('{');\n  if (start === -1) return '';\n  t = t.slice(start);\n\n  // If there's a full closing brace, keep only up to it (best case)\n  const lastBrace = t.lastIndexOf('}');\n  if (lastBrace !== -1) {\n    return t.slice(0, lastBrace + 1).trim();\n  }\n\n  // Otherwise return truncated block\n  return t.trim();\n}\n\n// ---------- Progressive trim parser (salvages valid prefix) ----------\nfunction parseJsonSalvage(rawText) {\n  const block = normalizeAndExtractJsonBlock(rawText);\n  if (!block) return {};\n\n  // 1) try direct\n  try {\n    return JSON.parse(block);\n  } catch {}\n\n  // 2) progressive trimming: cut from end to last comma boundary, close }\n  let candidate = block;\n\n  // If odd number of quotes, close string\n  const quoteCount = (candidate.match(/\"/g) || []).length;\n  if (quoteCount % 2 === 1) candidate += '\"';\n\n  // Try up to 80 trims\n  for (let i = 0; i < 80; i++) {\n    candidate = candidate.trim();\n\n    // Remove trailing comma\n    candidate = candidate.replace(/,\\s*$/g, '');\n\n    // Close object\n    if (!candidate.endsWith('}')) candidate = candidate + '\\n}';\n\n    try {\n      return JSON.parse(candidate);\n    } catch {\n      // Remove the final \"}\" we added so we can cut properly\n      candidate = candidate.replace(/\\n\\}\\s*$/g, '').replace(/\\}\\s*$/g, '');\n\n      const lastComma = candidate.lastIndexOf(',');\n      if (lastComma === -1) break;\n\n      candidate = candidate.slice(0, lastComma);\n    }\n  }\n\n  return {};\n}\n\n// ---------- Regex fallback extraction for enquiry (works even if JSON parse fails) ----------\nfunction extractEnquiryFromRaw(rawText) {\n  const t = String(rawText || '');\n  const m = t.match(/\"enquiry\"\\s*:\\s*\"([\\s\\S]*?)(?:\"\\s*,\\s*\"|\\s*\"\\s*[\\}\\n\\r]|$)/i);\n  if (!m || !m[1]) return '';\n  return m[1]\n    .replace(/\\\\\"/g, '\"')\n    .replace(/\\\\n/g, '\\n')\n    .trim();\n}\n\n// ---------- Address fix ----------\nfunction normalizeAddressToSuburbOnly(address) {\n  const a = String(address || '').trim();\n  if (!a) return a;\n\n  const m = a.match(/^(.+?),\\s*\\d{4}\\s*$/);\n  if (m) return m[1].trim();\n\n  const m2 = a.match(/^(.+?)\\s+\\d{4}\\s*$/);\n  if (m2) return m2[1].trim();\n\n  return a;\n}\n\n// ---------- Discord content extractor (string only; avoids [object Object]) ----------\nfunction getDiscordMessageText(data) {\n  if (typeof data?.content === 'string') return data.content.trim();\n\n  const found = deepFindKey(data, 'content');\n  if (typeof found === 'string') return found.trim();\n\n  return '';\n}\n\n// ---------- Extract DISCORD / IMAGES from AI enquiry format ----------\nfunction splitAiEnquiry(aiEnquiry) {\n  const s = String(aiEnquiry || '').trim();\n  if (!s) return { discord: '', images: '' };\n\n  const m = s.match(/^DISCORD:\\s*([\\s\\S]*?)\\s*\\|\\s*IMAGES:\\s*([\\s\\S]*)$/i);\n  if (m) {\n    return { discord: (m[1] || '').trim(), images: (m[2] || '').trim() };\n  }\n\n  const mi = s.match(/IMAGES:\\s*([\\s\\S]*)$/i);\n  if (mi) {\n    return { discord: '', images: (mi[1] || '').trim() };\n  }\n\n  return { discord: '', images: s };\n}\n\n// ---------- CRM Clean Enquiry Format ----------\nfunction formatEnquiryCRM(discordText, imagesText) {\n  const discord = String(discordText || '').trim();\n  const images = String(imagesText || '').trim();\n\n  const sections = [];\n  if (discord) sections.push('===== DISCORD MESSAGE =====\\n' + discord);\n  if (images) sections.push('===== IMAGE DETAILS =====\\n' + images);\n\n  return sections.join('\\n\\n').trim();\n}\n\n// ---------- MAIN ----------\nfor (const item of inputItems) {\n  const data = item.json;\n\n  const rawText = getAiTextAnyShape(data);\n  if (!rawText) {\n    throw new Error('AI output not found. Make sure the Code node receives the AI node output.');\n  }\n\n  // Parse salvaging fields even when truncated\n  const lead = parseJsonSalvage(rawText);\n\n  // If enquiry missing due to truncation, try regex extraction\n  if (!lead.enquiry) {\n    lead.enquiry = extractEnquiryFromRaw(rawText);\n  }\n\n  // Fix address to suburb only\n  if (lead.address !== undefined) {\n    lead.address = normalizeAddressToSuburbOnly(lead.address);\n  }\n\n  // Build CRM enquiry:\n  const discordFromMerge = getDiscordMessageText(data);\n  const split = splitAiEnquiry(lead.enquiry);\n\n  const finalDiscord = discordFromMerge || split.discord;\n  const finalImages = split.images;\n\n  // Enquiry formatted + Google Sheets safe\n  lead.enquiry = safeForGoogleSheets(formatEnquiryCRM(finalDiscord, finalImages));\n\n  const fileName = buildFileName(lead.firstName, lead.lastName);\n  const Timestamp = nowBrisbaneTimestamp();\n\n  // Remove unwanted fields + attachments here\n  delete lead.guildId;\n  delete lead.content;\n  delete lead.aiStatus;\n  delete lead.imageAttachments;\n\n  // REMOVE THESE META FIELDS COMPLETELY\n  delete lead.messageId;\n  delete lead.channelId;\n  delete lead.authorId;\n  delete lead.authorName;\n\n  const out = {\n    ...lead,\n    fileName,\n    Timestamp,\n  };\n\n  outputItems.push({ json: out });\n}\n\nreturn outputItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -480
      ],
      "id": "644b3571-ae90-4e8a-99d4-7b0ebab87245",
      "name": "Parse – AI JSON Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36573eea-17d7-418c-aff2-d2bb9ca647d0",
              "name": "messageId",
              "value": "={{ $json.messageId }}",
              "type": "string"
            },
            {
              "id": "df4f463d-bb9b-4c70-89c3-2bbd587ed1a0",
              "name": "channelId",
              "value": "={{ $json.channelId }}",
              "type": "string"
            },
            {
              "id": "e8ad65fc-0bd5-4184-9054-c673ac2d13dc",
              "name": "authorId",
              "value": "={{ $json.authorId }}",
              "type": "string"
            },
            {
              "id": "54705a5a-d90e-4201-8b60-27e6c5c4cef7",
              "name": "authorName",
              "value": "={{ $json.authorName }}",
              "type": "string"
            },
            {
              "id": "eb9962c8-cffb-435e-9b16-71f1f5d98db0",
              "name": "leadType",
              "value": "={{ $json.leadType }}",
              "type": "string"
            },
            {
              "id": "7cfb1fb3-5c6c-4eea-ac15-a2cae2c5ce52",
              "name": "howDidYouHearAboutUs",
              "value": "={{ $json.howDidYouHearAboutUs }}",
              "type": "string"
            },
            {
              "id": "b03dcb46-2a7a-42a6-9355-711bd44b804a",
              "name": "referredBy",
              "value": "={{ $json.referredBy }}",
              "type": "string"
            },
            {
              "id": "b52b1e3f-2056-482b-b78c-20fcb9210677",
              "name": "imageAttachments",
              "value": "={{ $json.imageAttachments }}",
              "type": "array"
            },
            {
              "id": "84c90a80-a176-4d34-a15f-010bb24f5a77",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "f33cba39-9a58-433f-ad6e-f6eab2f68211",
              "name": "leadQualifier",
              "value": "={{ $json.leadQualifier }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -288
      ],
      "id": "b5339cf2-bdc2-4fe8-96c0-9123b43bd03e",
      "name": "Prepare Image Attachments"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        -384
      ],
      "id": "a212ef45-e065-49bf-9e27-359551933a91",
      "name": "Merge AI Lead with Attachments"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfe143c1-1c01-4b62-b292-ab210706031b",
              "name": "Timestamp",
              "value": "={{ $json.Timestamp }}",
              "type": "string"
            },
            {
              "id": "7c753874-2708-4658-9211-ab1a07be7f81",
              "name": "id",
              "value": "={{ $json.messageId }}",
              "type": "string"
            },
            {
              "id": "59c5c353-8830-4285-9b9d-f3b53888cb50",
              "name": "authorId",
              "value": "={{ $json.authorId }}",
              "type": "string"
            },
            {
              "id": "265db7eb-7687-476b-96f5-11d030f8251a",
              "name": "channelId",
              "value": "={{ $json.channelId }}",
              "type": "string"
            },
            {
              "id": "4814f4f1-cea7-4c83-94c9-691ed2a48b65",
              "name": "messageId",
              "value": "={{ $json.messageId }}",
              "type": "string"
            },
            {
              "id": "7fd6c372-a574-46eb-b8a8-4ca5514c2bb4",
              "name": "leadType",
              "value": "={{ $json.leadType }}",
              "type": "string"
            },
            {
              "id": "319cbc2f-686c-4690-b0da-99edb563a4d9",
              "name": "firstName",
              "value": "={{ $json.firstName }}",
              "type": "string"
            },
            {
              "id": "e318f933-3a86-4e92-8d45-fdd5c9d6db45",
              "name": "lastName",
              "value": "={{ $json.lastName }}",
              "type": "string"
            },
            {
              "id": "1033f6f6-ff3d-462c-a819-0253ba1097a9",
              "name": "mobileNumber",
              "value": "={{ $json.mobileNumber }}",
              "type": "string"
            },
            {
              "id": "42c58a65-dab0-4938-a047-f6beba67e9d3",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "75060d69-eaa3-4924-b9f6-b7cf159502d4",
              "name": "emailAddress",
              "value": "={{ $json.emailAddress }}",
              "type": "string"
            },
            {
              "id": "518ce6f1-f3a0-4e61-b483-c85feb63ae15",
              "name": "postalCode",
              "value": "={{ $json.postalCode }}",
              "type": "string"
            },
            {
              "id": "2420ae52-e6a5-4d5e-889a-014ad00b28b2",
              "name": "address",
              "value": "={{ $json.address }}",
              "type": "string"
            },
            {
              "id": "421623c8-2db6-4b40-a102-f6dc36ff61ed",
              "name": "state",
              "value": "={{ $json.state }}",
              "type": "string"
            },
            {
              "id": "7cc111a4-9134-4fe3-97eb-75b5e81c8d31",
              "name": "suburb",
              "value": "={{ $json.suburb }}",
              "type": "string"
            },
            {
              "id": "fb3af799-02a3-4669-97b7-5616f9bc8d93",
              "name": "enquiry",
              "value": "={{ $json.enquiry }}",
              "type": "string"
            },
            {
              "id": "e76aa2b3-3c3f-43d7-b9e2-8dfe2c4ecad3",
              "name": "quantity",
              "value": "={{ $json.Quantity }}",
              "type": "string"
            },
            {
              "id": "193cbe77-7015-40c3-95b1-eba1fd89481c",
              "name": "leadQualifier",
              "value": "={{ $json.leadQualifier }}",
              "type": "string"
            },
            {
              "id": "6c8b740a-0f64-4828-bc0a-f71e2bf6621b",
              "name": "referredBy",
              "value": "={{ $json.referredBy }}",
              "type": "string"
            },
            {
              "id": "33a52d4e-10f1-4357-90d4-de70e6873925",
              "name": "IdLikeToGetMyProjectUnderway",
              "value": "={{ $json.IdLikeToGetMyProjectUnderway }}",
              "type": "string"
            },
            {
              "id": "9c3726e2-0e35-4a55-8fb3-2cfc97653e48",
              "name": "howTheyHeardAboutUs",
              "value": "={{ $json.howDidYouHearAboutUs }}",
              "type": "string"
            },
            {
              "id": "891ac909-a00b-497c-b50e-9edfcab72a09",
              "name": "fileName",
              "value": "={{ $json.fileName }}",
              "type": "string"
            },
            {
              "id": "a17b94b9-37be-4b9d-a580-8debdcaba569",
              "name": "imageAttachments",
              "value": "={{ $json.imageAttachments }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -304
      ],
      "id": "ab255258-d600-49f3-a68f-9bdc9b93bafc",
      "name": "Map HiPages Lead"
    },
    {
      "parameters": {
        "url": "={{ $json.imageAttachments[0].proxyURL }}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        -208
      ],
      "id": "8541b89e-68b2-4f6a-b385-f4db14fb1da8",
      "name": "Download Lead Attachments"
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "13LLScY5KwHtjVa94gCIQhdK4o9Ruc2-e",
          "mode": "list",
          "cachedResultName": "HiPages Lead",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13LLScY5KwHtjVa94gCIQhdK4o9Ruc2-e"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1344,
        -208
      ],
      "id": "21367576-9c77-4f88-8a91-0a4aced02ba7",
      "name": "Upload Attachments to Gmail Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cO0NLqiTRlyGeXAH",
          "name": "WR: Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (merge lead + meta/attachments)\n// - Keeps ALL original lead fields (address, postalCode, etc.)\n// - Appends Discord message to end of enquiry ONLY if present\n// - Forces referredBy to \"\"\n// - Forces leadQualifier to \"Good\"\n\nconst lead = items[0].json;\nconst meta = items[1]?.json || {};\nconst attachments = meta.imageAttachments || [];\n\n// Safely extract Discord message\nconst discordMessage = (meta.content || meta.message || meta.discordMessage || '')\n  .toString()\n  .trim();\n\n// Existing enquiry from AI\nconst currentEnquiry = (lead.enquiry || '').toString().trim();\n\nlet mergedEnquiry = currentEnquiry;\n\n// Append Discord section only if message exists\nif (discordMessage) {\n  mergedEnquiry = [\n    currentEnquiry,\n    '===== DISCORD MESSAGE =====',\n    discordMessage,\n  ]\n    .filter(Boolean)\n    .join('\\n\\n');\n}\n\nreturn [\n  {\n    json: {\n      // KEEP EVERYTHING from AI lead (including address + postalCode)\n      ...lead,\n\n      // Meta fields from Discord item\n      messageId: meta.messageId ?? lead.messageId ?? null,\n      channelId: meta.channelId ?? lead.channelId ?? null,\n      authorId: meta.authorId ?? lead.authorId ?? null,\n      authorName: meta.authorName ?? lead.authorName ?? null,\n      leadType: meta.leadType ?? lead.leadType ?? null,\n      howDidYouHearAboutUs: meta.howDidYouHearAboutUs ?? lead.howDidYouHearAboutUs ?? null,\n\n      // Force required overrides\n      referredBy: \"\",\n      leadQualifier: \"Good\",\n\n      // Updated enquiry\n      enquiry: mergedEnquiry,\n\n      // Attachments\n      imageAttachments: attachments,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -384
      ],
      "id": "0bb2ca84-f279-44e7-ac59-4f4cf7c5efe6",
      "name": "Merge Both JSON Objects"
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first().json;\nconst imgs = Array.isArray(base.imageAttachments) ? base.imageAttachments : [];\n\nif (!imgs.length) return [];\n\nconst cleanUrl = (u) => (u ? String(u).trim().replace(/&+$/g, \"\") : null);\n\nreturn imgs.map((img) => {\n  const url = cleanUrl(img?.url);\n  const proxyURL = cleanUrl(img?.proxyURL);\n\n  return {\n    json: {\n      image: img,\n      imageFetchUrl: proxyURL || url || null,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -480
      ],
      "id": "0a706dee-9ebb-46d0-9595-598ece4ad4d5",
      "name": "Explode imageAttachments[]"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=HiPages parsing rules (IMPORTANT):\n\nYou are analyzing this image:\n{{ $json.image.proxyURL }}\n\nExtract customer details directly from the text visible in the image.\n\nInstructions:\n\nUse ONLY what is clearly readable in the image.\nDo NOT guess.\nDo NOT hallucinate.\nIf a field is not clearly present/readable, return an empty string \"\".\n\nRespond with JSON only.\nDo NOT wrap the JSON in markdown.\nDo NOT include explanations.\nDo NOT include any keys other than those in the output JSON below.\n\nName:\nIf a full name is visible, put the first word into \"firstName\" and the last word into \"lastName\".\nIf only one name is visible, put it in \"firstName\" and leave \"lastName\" as \"\".\nDo NOT use business names unless clearly identifying a person.\n\nPhone:\nIf a mobile number is visible, put it in \"mobileNumber\".\nIf a landline is visible, put it in \"phoneNumber\".\n\nEmail:\nIf clearly visible, put it in \"emailAddress\".\n\nAddress:\nIf a full street address is visible, put the full street address into \"address\".\nIf only suburb/locality is visible, put that into \"address\".\nAlways fill \"suburb\" if suburb/locality is visible.\nIf \"address\" contains only suburb/locality (no street), copy it into \"suburb\".\n\nState classification (ONLY use one of these values):\n\"NSW\"\n\"Brisbane\"\n\"Gold Coast\"\n\nRules:\nIf suburb/postcode clearly belongs to NSW → \"NSW\"\nIf suburb/postcode clearly belongs to Brisbane metro → \"Brisbane\"\nIf suburb/postcode clearly belongs to Gold Coast region → \"Gold Coast\"\nIf not confidently determined → \"\"\n\nPostcode:\nFill \"postalCode\" only if clearly visible.\n\nIdLikeToGetMyProjectUnderway:\nOnly fill \"IdLikeToGetMyProjectUnderway\" if this exact field (or a clearly equivalent label like \"Start by\" / \"Start date\" / \"When to start\") is visible in the image.\nExamples:\n- If the image shows \"Start by ASAP\" → set \"IdLikeToGetMyProjectUnderway\" = \"ASAP\"\n- If the image shows a date/time → copy it exactly\nIf not visible, return \"\".\n\nQuantity:\nOnly fill \"Quantity\" if a quantity (number of items/doors/windows/etc.) is clearly visible in the image.\nCopy the quantity exactly as shown (e.g., \"2\", \"two\", \"2 doors\", \"2x\").\nIf not visible, return \"\".\n\nEnquiry field (MANDATORY):\nThe \"enquiry\" field MUST contain the job description text extracted from the image.\nDo NOT summarize.\nDo NOT reword.\nYou may lightly clean obvious OCR formatting issues (extra spaces/line breaks) but do NOT change the wording.\nIf no usable job details are visible, return \"\" for \"enquiry\".\n\nReturn EXACTLY this JSON structure (no extra keys):\n\n{\n  \"firstName\": \"\",\n  \"lastName\": \"\",\n  \"mobileNumber\": \"\",\n  \"phoneNumber\": \"\",\n  \"emailAddress\": \"\",\n  \"address\": \"\",\n  \"state\": \"\",\n  \"suburb\": \"\",\n  \"postalCode\": \"\",\n  \"enquiry\": \"\",\n  \"IdLikeToGetMyProjectUnderway\": \"\",\n  \"Quantity\": \"\"\n}\n",
        "imageUrls": "={{ $json.image.url }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        0,
        -480
      ],
      "id": "4a2b36d3-25e0-4631-ad60-ce9c8c9fc461",
      "name": "OCR / Analyze Image",
      "credentials": {
        "openAiApi": {
          "id": "oQQrCQWqdo1CuRzx",
          "name": "WRai: OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ",
          "mode": "list",
          "cachedResultName": "Leads Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "raw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.setZone('Australia/Brisbane').toFormat('LL/dd/yyyy, HH:mm:ss') }}\n",
            "Id": "={{ $json.id }}",
            "Lead Type": "={{ $json.leadType }}",
            "First Name": "={{ $json.firstName }}",
            "Last Name": "={{ $json.lastName }}",
            "Mobile Number": "={{ $json.mobileNumber }}",
            "Email Address": "={{ $json.emailAddress }}",
            "Phone Number": "={{ $json.phoneNumber }}",
            "Address": "={{ $json.address }}",
            "State": "={{ $json.state }}",
            "Postal Code": "={{ $json.postalCode }}",
            "Suburb": "={{ $json.suburb }}",
            "Enquiry": "={{ $json.enquiry }}",
            "Quantity": "={{ $json.quantity }}",
            "I’d Like To Get My Project Underway": "={{ $json.IdLikeToGetMyProjectUnderway }}",
            "How they heard about us": "={{ $json.howTheyHeardAboutUs }}",
            "Lead Qualifier": "={{ $json.leadQualifier }}",
            "Referred By": "={{ $json.referredBy }}"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Type",
              "displayName": "Lead Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suburb",
              "displayName": "Suburb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Postal Code",
              "displayName": "Postal Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enquiry",
              "displayName": "Enquiry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "I’d Like To Get My Project Underway",
              "displayName": "I’d Like To Get My Project Underway",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "How they heard about us",
              "displayName": "How they heard about us",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Qualifier",
              "displayName": "Lead Qualifier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Referred By",
              "displayName": "Referred By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        -16
      ],
      "id": "7698d334-dc37-4f05-9913-60bd061a1d33",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4FmXrss6MgN5rzt",
          "name": "WR: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// MAIN WORKFLOW Code node (place right AFTER Set/Map node)\n// - Normalizes keys\n// - Keeps formatting as literal \"\\n\" (NOT real newlines)\n// - Removes leading quote\n// - Makes enquiry safe for HTTP \"Using JSON\"\n\nconst items = $input.all();\n\nfunction firstNonUndefined(obj, keys) {\n  for (const k of keys) {\n    if (obj && Object.prototype.hasOwnProperty.call(obj, k)) return obj[k];\n  }\n  return undefined;\n}\n\nfunction clean(v) {\n  if (v === null || v === undefined) return '';\n  return String(v).trim();\n}\n\n// Convert real newlines to literal \"\\n\" and escape JSON-danger chars\nfunction enquiryToLiteralNewlines(v) {\n  if (v === null || v === undefined) return '';\n\n  let s = String(v).trim();\n\n  // remove leading single quote only\n  s = s.replace(/^'+\\s*/, '');\n\n  // normalize CRLF -> LF\n  s = s.replace(/\\r\\n/g, '\\n');\n\n  // escape backslashes + quotes to stay safe in JSON strings\n  s = s.replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\n\n  // convert real newlines to literal \\n\n  s = s.replace(/\\n/g, '\\\\n');\n\n  return s.trim();\n}\n\nreturn items.map((item) => {\n  const j = item.json || {};\n\n  const id = firstNonUndefined(j, ['id', 'Id']);\n  const leadType = firstNonUndefined(j, ['leadType', 'Lead Type']);\n  const firstName = firstNonUndefined(j, ['firstName', 'First Name']);\n  const lastName = firstNonUndefined(j, ['lastName', 'Last Name']);\n\n  const emailAddress = firstNonUndefined(j, ['emailAddress', 'Email Address']);\n  const mobileNumber = firstNonUndefined(j, ['mobileNumber', 'Mobile Number']);\n  const phoneNumber = firstNonUndefined(j, ['phoneNumber', 'Phone Number']);\n\n  const address = firstNonUndefined(j, ['address', 'Address']);\n  const suburb = firstNonUndefined(j, ['suburb', 'Suburb']);\n  const state = firstNonUndefined(j, ['state', 'State']);\n  const postalCode = firstNonUndefined(j, ['postalCode', 'Postal Code']);\n\n  const enquiry = firstNonUndefined(j, ['enquiry', 'Enquiry']);\n  const quantity = firstNonUndefined(j, ['quantity', 'Quantity']);\n  const referredBy = firstNonUndefined(j, ['referredBy', 'Referred By', 'Referred by', 'ReferredBy']);\n  const leadQualifier = firstNonUndefined(j, ['leadQualifier', 'Lead Qualifier']);\n  const howTheyHeard = firstNonUndefined(j, ['howTheyHeardAboutUs', 'How they heard about us', 'How they heard about us?']);\n  const underway = firstNonUndefined(j, [\n    \"IdLikeToGetMyProjectUnderway\",\n    \"I’d Like To Get My Project Underway\",\n    \"I'd Like To Get My Project Underway\",\n    \"I'd Like to Get My Project Underway\",\n  ]);\n\n  const out = {\n    ...j,\n\n    id: clean(id),\n    leadType: clean(leadType),\n    firstName: clean(firstName),\n    lastName: clean(lastName),\n    emailAddress: clean(emailAddress),\n    mobileNumber: clean(mobileNumber),\n    phoneNumber: clean(phoneNumber),\n    address: clean(address),\n    suburb: clean(suburb),\n    state: clean(state),\n    postalCode: clean(postalCode),\n\n    // ✅ safe: contains literal \"\\n\" instead of real newlines\n    enquiry: enquiryToLiteralNewlines(enquiry),\n\n    quantity: clean(quantity),\n    referredBy: clean(referredBy),\n    leadQualifier: clean(leadQualifier),\n    howTheyHeardAboutUs: clean(howTheyHeard),\n    IdLikeToGetMyProjectUnderway: clean(underway),\n  };\n\n  return { json: out };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -592
      ],
      "id": "aba40037-4fd9-4ef7-90bd-114a5c509857",
      "name": "Pass-through + Normalize"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wrapp2.windowrevival.com.au/api/leads-form/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_first_name\": \"{{ $json.firstName }}\",\n  \"client_last_name\": \"{{ $json.lastName }}\",\n  \"client_mobile\": \"{{ $json.mobileNumber }}\",\n  \"client_work_number\": \"{{ $json.phoneNumber }}\",\n  \"client_home_number\": \"\",\n  \"client_email\": \"{{ $json.emailAddress }}\",\n  \"client_address\": \"{{ $json.address }} {{ $json.suburb }}\",\n  \"client_suburb\": \"{{ $json.suburb }}\",\n  \"client_state\": \"{{ $json.state }}\",\n  \"client_postal\": \"{{ $json.postalCode }}\",\n  \"client_region\": \"{{ $json.state }}\",\n  \"enquiry_notes\": \"{{ $json.enquiry }}\",\n  \"other_contact_details\": \"\",\n  \"client_lead_source\": \"HiPages\",\n\n  \"opportunity_title\": \"{{ $json.suburb }} {{ $json.state }} {{ $json.postalCode }}\",\n  \"opportunity_how_hear_us\": \"HiPages\",\n  \"sales_pipeline\": \"New Lead - HiPages\",\n  \"assign_to\": \"windowrevival+1@gmail.com\",\n  \"opportunity_product_interest\": [\"Repairs\"],\n  \"opportunity_contact_name\": \"{{ $json.firstName }} {{ $json.lastName }}\",\n  \"opportunity_mobile_number\": \"{{ $json.mobileNumber }}\",\n  \"opportunity_work_number\": \"{{ $json.phoneNumber }}\",\n  \"opportunity_home_number\": \"\",\n  \"opportunity_address\": \"{{ $json.address }}\",\n  \"opportunity_state\": \"{{ $json.state }}\",\n  \"opportunity_suburb\": \"{{ $json.suburb }}\",\n  \"opportunity_postcode\": \"{{ $json.postalCode }}\",\n  \"opportunity_email\": \"{{ $json.emailAddress }}\",\n\n  \"opportunity_description\": \"{{ $json.enquiry }}\",\n  \"opportunity_next_action\": \"\",\n  \"opportunity_status\": \"Hot\",\n  \"opportunity_estimated_revenue\": 0,\n  \"opportunity_percent_chance\": \"50%\",\n  \"opportunity_follow_up_date\": \"{{\n    (() => {\n      const tz = 'Australia/Brisbane';\n      let date = new Date();\n\n      date.setDate(date.getDate() + 1);\n\n      while (date.getDay() === 0 || date.getDay() === 6) {\n        date.setDate(date.getDate() + 1);\n      }\n\n      const formatter = new Intl.DateTimeFormat('en-CA', {\n        timeZone: tz,\n        year: 'numeric',\n        month: '2-digit',\n        day: '2-digit'\n      });\n\n      const parts = formatter.formatToParts(date);\n      const yyyy = parts.find(p => p.type === 'year').value;\n      const mm = parts.find(p => p.type === 'month').value;\n      const dd = parts.find(p => p.type === 'day').value;\n\n      return `${yyyy}-${mm}-${dd} 08:00:00`;\n    })()\n  }}\",\n  \"projected_revenue\": 0,\n  \"net_promoter_score\": 0,\n  \"net_promoter_comment\": \"net promoter\",\n  \"opportunity_same_as_contact_details\": \"no\",\n  \"create_job\": \"no\",\n\n  \"job_event\": \"job_event\",\n  \"job_technician\": \"chris\", \n  \"job_start_date\": \"2026-03-26 7:00:00\", \n  \"job_end_date\": \"2026-03-26 16:00:00\", \n  \"projected_sales\": 1000, \n  \"actual_sales\": 1500, \n  \"duration\": 2, \n  \"man_job\": 2, \n  \"queue\": 2, \n  \"type\": \"Fixed\", \n  \"sms_status\": \"Send sms reminder\", \n  \"schedule_status\": \"To Be Confirmed\", \n  \"job_status\": \"Job Completed\", \n  \"services\": \"Repairs\",\n  \"job_description\": \"job_description\", \n  \"dsp_note\": \"dsp note\", \n  \"work_done\": \"work done\", \n  \"work_stil_to_be_done\": \"work still done\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        -592
      ],
      "id": "0650e837-d84a-4dcd-b1b8-86356a03a358",
      "name": "Create Opportunities",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UTs7Hb7x8Xe72hTe",
          "name": "WR: Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "753455160209965106",
          "mode": "list",
          "cachedResultName": "Window Revival",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106"
        },
        "channelId": {
          "__rl": true,
          "value": "1456133270352822373",
          "mode": "list",
          "cachedResultName": "hipages-lead",
          "cachedResultUrl": "https://discord.com/channels/753455160209965106/1456133270352822373"
        },
        "limit": 20,
        "options": {
          "simplify": false
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1344,
        -304
      ],
      "id": "4b3da591-2b49-488d-a427-b2e606b3cb4c",
      "name": "Get many messages",
      "webhookId": "2f1a2f99-bbba-466d-9bd5-ba8fa883fe6c",
      "credentials": {
        "discordBotApi": {
          "id": "a0FDlWFh8PBA5Add",
          "name": "WR: Discord Bot Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.imageFetchUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -224,
        -480
      ],
      "id": "2b16f750-d6da-497e-a509-b77641ac6c77",
      "name": "Download Binary"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1568,
        -304
      ],
      "id": "8530ef88-d270-42af-a551-207584c6c25e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -1120,
        -304
      ],
      "id": "f99a3d58-f439-40c7-83a1-5dd872c6680c",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -896,
        -304
      ],
      "id": "28769bcb-74ba-4738-bd15-a54c22e364ce",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        80
      ],
      "id": "5fde41e5-e14c-4e43-9b5b-7bb8f2e1b937",
      "name": "add 5s",
      "webhookId": "91a29289-ca11-42bf-866a-5228315e8ee9"
    }
  ],
  "connections": {
    "Normalize – Discord Message": {
      "main": [
        [
          {
            "node": "Prepare Image Attachments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Explode imageAttachments[]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse – AI JSON Response": {
      "main": [
        [
          {
            "node": "Merge AI Lead with Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Attachments": {
      "main": [
        [
          {
            "node": "Merge AI Lead with Attachments",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge AI Lead with Attachments": {
      "main": [
        [
          {
            "node": "Merge Both JSON Objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map HiPages Lead": {
      "main": [
        [
          {
            "node": "Download Lead Attachments",
            "type": "main",
            "index": 0
          },
          {
            "node": "React with an emoji to a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "add 5s",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pass-through + Normalize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Lead Attachments": {
      "main": [
        [
          {
            "node": "Upload Attachments to Gmail Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Attachments to Gmail Drive": {
      "main": [
        []
      ]
    },
    "Merge Both JSON Objects": {
      "main": [
        [
          {
            "node": "Map HiPages Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode imageAttachments[]": {
      "main": [
        [
          {
            "node": "Download Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR / Analyze Image": {
      "main": [
        [
          {
            "node": "Parse – AI JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "React with an emoji to a message": {
      "main": [
        []
      ]
    },
    "Pass-through + Normalize": {
      "main": [
        [
          {
            "node": "Create Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Binary": {
      "main": [
        [
          {
            "node": "OCR / Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Normalize – Discord Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add 5s": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "de27c9a9-ef74-40f3-af91-2dbae15f0b7e",
  "activeVersionId": "de27c9a9-ef74-40f3-af91-2dbae15f0b7e",
  "versionCounter": 1218,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-01T03:52:58.556Z",
      "createdAt": "2026-01-01T03:52:58.556Z",
      "role": "workflow:owner",
      "workflowId": "Dm34kcocvPR7PllT",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-25T22:54:24.000Z",
    "createdAt": "2026-03-25T22:54:21.306Z",
    "versionId": "de27c9a9-ef74-40f3-af91-2dbae15f0b7e",
    "workflowId": "Dm34kcocvPR7PllT",
    "nodes": [
      {
        "parameters": {
          "resource": "message",
          "operation": "react",
          "guildId": {
            "__rl": true,
            "value": "753455160209965106",
            "mode": "list",
            "cachedResultName": "Window Revival",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106"
          },
          "channelId": {
            "__rl": true,
            "value": "={{ $json.channelId }}",
            "mode": "id"
          },
          "messageId": "={{ $json.messageId }}",
          "emoji": "👍"
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1120,
          -400
        ],
        "id": "988bfb9f-465e-4e92-b273-97dc446e3455",
        "name": "React with an emoji to a message",
        "webhookId": "78d6b1b5-2d88-4a5b-aaaa-4c7a5e59edfc",
        "credentials": {
          "discordBotApi": {
            "id": "a0FDlWFh8PBA5Add",
            "name": "WR: Discord Bot Account"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "753455160209965106",
            "mode": "list",
            "cachedResultName": "Window Revival",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106"
          },
          "channelId": {
            "__rl": true,
            "value": "912496260823519232",
            "mode": "list",
            "cachedResultName": "leads・new",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106/912496260823519232"
          },
          "content": "===========\nLead Type: {{ $json.leadType }}\nTimestamp: {{ $now.setZone('Australia/Brisbane').toFormat('LL/dd/yyyy, HH:mm:ss') }}\nId: {{ $json.id }}\nFirst Name: {{ $json.firstName }}\nLast Name: {{ $json.lastName }}\nMobile Number: {{ $json.mobileNumber }}\nPhone Number: {{ $json.phoneNumber }}\nEmail Address: {{ $json.emailAddress }}\nAddress: {{ $json.address }}\nState: {{ $json.state }}\nSuburb: {{ $json.suburb }}\n\nEnquiry: {{ $json.enquiry }}\n\nQuantity: {{ $json.quantity }}\nI'd Like to Get My Project Underway: {{ $json.IdLikeToGetMyProjectUnderway }}\nHow they heard about us?: {{ $json.howTheyHeardAboutUs }}\nLead Qualifier: {{ $json.leadQualifier }}\nReferred by: {{ $json.leadQualifier }}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1344,
          176
        ],
        "id": "85a55159-3e0a-4822-bf8d-5bae880f586a",
        "name": "Send a message",
        "webhookId": "d2e978df-db4f-4b19-b1e8-31948398a217",
        "credentials": {
          "discordBotApi": {
            "id": "a0FDlWFh8PBA5Add",
            "name": "WR: Discord Bot Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "/**\n * n8n Function node\n * Output ONLY:\n * messageId, guildId, channelId, authorId, authorName,\n * content,\n * leadType,\n * howDidYouHearAboutUs,\n * referredBy,\n * leadQualifier,\n * imageAttachments[]\n */\n\n// ---------- Helpers ----------\nconst firstNonEmpty = (...vals) => {\n  for (const v of vals) {\n    if (v !== undefined && v !== null && v !== \"\") return v;\n  }\n  return null;\n};\n\nfunction isImageAttachment(att) {\n  const ct = String(\n    att?.content_type ?? att?.contentType ?? \"\"\n  ).toLowerCase();\n\n  const name = String(\n    att?.filename ?? att?.name ?? \"\"\n  ).toLowerCase();\n\n  if (ct.startsWith(\"image/\")) return true;\n  return /\\.(png|jpe?g|gif|webp|bmp|tiff?)$/i.test(name);\n}\n\nfunction pickImageFields(att) {\n  return {\n    id: firstNonEmpty(att?.id),\n    name: firstNonEmpty(att?.filename, att?.name),\n    url: firstNonEmpty(att?.url, att?.attachment),\n    proxyURL: firstNonEmpty(att?.proxy_url, att?.proxyURL, att?.proxyUrl),\n    size: firstNonEmpty(att?.size),\n    width: firstNonEmpty(att?.width),\n    height: firstNonEmpty(att?.height),\n    contentType: firstNonEmpty(att?.content_type, att?.contentType),\n    title: firstNonEmpty(att?.title),\n    description: firstNonEmpty(att?.description),\n  };\n}\n\n// ---------- Main ----------\nconst msg = $input.first().json;\n\n// ✅ grab ids from either camelCase or snake_case or nested author object\nconst channelId = firstNonEmpty(msg?.channelId, msg?.channel_id);\nconst authorId = firstNonEmpty(msg?.authorId, msg?.author?.id);\nconst authorName = firstNonEmpty(\n  msg?.authorName,\n  msg?.author?.username,\n  msg?.author?.global_name\n);\n\n// ✅ attachments can be either msg.attachments (your note) or discord message.attachments\nconst attachments = Array.isArray(msg?.attachments) ? msg.attachments : [];\n\nconst imageAttachments = attachments\n  .filter(isImageAttachment)\n  .map(pickImageFields);\n\nconst output = {\n  messageId: firstNonEmpty(msg?.messageId, msg?.id),\n  guildId: firstNonEmpty(msg?.guildId, msg?.guild_id, \"753455160209965106\"), // fallback safe\n  channelId,\n  authorId,\n  authorName,\n  content: firstNonEmpty(msg?.content, \"\"), // keep empty string if empty\n  leadType: \"HiPages Lead\",\n  howDidYouHearAboutUs: \"HiPages\",\n  referredBy: null,\n  leadQualifier: \"Good\",\n  imageAttachments,\n};\n\nreturn [{ json: output }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -672,
          -384
        ],
        "id": "904c6a3a-b84b-4668-a309-4886089fbaf9",
        "name": "Normalize – Discord Message"
      },
      {
        "parameters": {
          "jsCode": "// n8n Code node (Once for All Items)\n// FIXED: Robust parsing for truncated AI JSON + CRM enquiry formatting\n// - Recovers fields even when AI response is cut off mid-key (status: incomplete)\n// - Enquiry formatted for Google Sheets (CRM clean) and works even if Discord message is missing\n// - Removes imageAttachments here (you will merge later)\n// - Fixes address: \"Carindale, 4152\" => \"Carindale\"\n// - Adds Timestamp (Australia/Brisbane)\n// - fileName: FirstNameLastName-DD-MM-YYYY-HiLead\n//\n// CHANGE REQUEST APPLIED:\n// - Removed messageId, channelId, authorId, authorName from the output completely\n// - Also deletes these keys if they appear in AI JSON (lead.*)\n//\n// NEW FIX:\n// - Prevent Google Sheets formula errors/injection by prefixing ' when a value starts with = + - @\n//   (especially enquiry which starts with \"=====\")\n\nconst inputItems = $input.all();\nconst outputItems = [];\n\n// ---------- Brisbane Timestamp ----------\nfunction nowBrisbaneTimestamp() {\n  const tz = 'Australia/Brisbane';\n  const d = new Date();\n\n  const parts = new Intl.DateTimeFormat('en-AU', {\n    timeZone: tz,\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false,\n  }).formatToParts(d);\n\n  const get = (type) => parts.find(p => p.type === type)?.value;\n  return `${get('day')}/${get('month')}/${get('year')}, ${get('hour')}:${get('minute')}:${get('second')}`;\n}\n\n// ---------- Filename ----------\nfunction formatDDMMYYYY() {\n  const d = new Date();\n  const dd = String(d.getDate()).padStart(2, '0');\n  const mm = String(d.getMonth() + 1).padStart(2, '0');\n  const yyyy = String(d.getFullYear());\n  return `${dd}-${mm}-${yyyy}`;\n}\nfunction safeName(s) {\n  return String(s || '').trim().replace(/\\s+/g, '').replace(/[^a-zA-Z0-9_-]/g, '');\n}\nfunction buildFileName(firstName, lastName) {\n  const name = (safeName(firstName) + safeName(lastName)) || 'Unknown';\n  return `${name}-${formatDDMMYYYY()}-HiLead`;\n}\n\n// ---------- Google Sheets safety (formula injection / leading equals fix) ----------\nfunction safeForGoogleSheets(value) {\n  const s = String(value ?? '');\n  // Google Sheets treats strings starting with these as formulas\n  return /^[=+\\-@]/.test(s) ? \"'\" + s : s;\n}\n\n// ---------- Deep search helper (returns FIRST found value, may be object/array/string) ----------\nfunction deepFindKey(root, keyName, maxDepth = 12) {\n  const seen = new Set();\n  const queue = [{ value: root, depth: 0 }];\n\n  while (queue.length) {\n    const { value, depth } = queue.shift();\n    if (value === null || value === undefined) continue;\n    if (typeof value !== 'object') continue;\n    if (seen.has(value)) continue;\n    seen.add(value);\n\n    if (Object.prototype.hasOwnProperty.call(value, keyName)) {\n      return value[keyName];\n    }\n\n    if (depth >= maxDepth) continue;\n\n    if (Array.isArray(value)) {\n      for (const v of value) queue.push({ value: v, depth: depth + 1 });\n    } else {\n      for (const k of Object.keys(value)) queue.push({ value: value[k], depth: depth + 1 });\n    }\n  }\n  return undefined;\n}\n\n// ---------- AI Text Extraction ----------\nfunction getAiTextAnyShape(data) {\n  // Common n8n OpenAI \"Responses\" wrapper: [[{ content:[{text:\"...\"}] }]]\n  if (Array.isArray(data) && Array.isArray(data[0]) && data[0][0]?.content?.[0]?.text) {\n    return data[0][0].content[0].text;\n  }\n\n  // Merge output shape: { \"0\": { content:[{text:\"...\"}] }, ... }\n  if (data?.[\"0\"]?.content?.[0]?.text) {\n    return data[\"0\"].content[0].text;\n  }\n\n  // Direct: { content:[{text:\"...\"}] }\n  if (data?.content?.[0]?.text) {\n    return data.content[0].text;\n  }\n\n  // Last resort: search for a \"text\" field that looks like JSON\n  const maybeText = deepFindKey(data, 'text');\n  if (typeof maybeText === 'string' && maybeText.trim().startsWith('{')) {\n    return maybeText;\n  }\n\n  return null;\n}\n\n// ---------- Normalize / extract JSON block ----------\nfunction normalizeAndExtractJsonBlock(rawText) {\n  let t = String(rawText || '').trim();\n\n  // remove fences\n  t = t.replace(/```json/gi, '```').replace(/```/g, '').trim();\n\n  // normalize curly quotes\n  t = t\n    .replace(/[“”]/g, '\"')\n    .replace(/[‘’]/g, \"'\")\n    .replace(/\\u00A0/g, ' ');\n\n  const start = t.indexOf('{');\n  if (start === -1) return '';\n  t = t.slice(start);\n\n  // If there's a full closing brace, keep only up to it (best case)\n  const lastBrace = t.lastIndexOf('}');\n  if (lastBrace !== -1) {\n    return t.slice(0, lastBrace + 1).trim();\n  }\n\n  // Otherwise return truncated block\n  return t.trim();\n}\n\n// ---------- Progressive trim parser (salvages valid prefix) ----------\nfunction parseJsonSalvage(rawText) {\n  const block = normalizeAndExtractJsonBlock(rawText);\n  if (!block) return {};\n\n  // 1) try direct\n  try {\n    return JSON.parse(block);\n  } catch {}\n\n  // 2) progressive trimming: cut from end to last comma boundary, close }\n  let candidate = block;\n\n  // If odd number of quotes, close string\n  const quoteCount = (candidate.match(/\"/g) || []).length;\n  if (quoteCount % 2 === 1) candidate += '\"';\n\n  // Try up to 80 trims\n  for (let i = 0; i < 80; i++) {\n    candidate = candidate.trim();\n\n    // Remove trailing comma\n    candidate = candidate.replace(/,\\s*$/g, '');\n\n    // Close object\n    if (!candidate.endsWith('}')) candidate = candidate + '\\n}';\n\n    try {\n      return JSON.parse(candidate);\n    } catch {\n      // Remove the final \"}\" we added so we can cut properly\n      candidate = candidate.replace(/\\n\\}\\s*$/g, '').replace(/\\}\\s*$/g, '');\n\n      const lastComma = candidate.lastIndexOf(',');\n      if (lastComma === -1) break;\n\n      candidate = candidate.slice(0, lastComma);\n    }\n  }\n\n  return {};\n}\n\n// ---------- Regex fallback extraction for enquiry (works even if JSON parse fails) ----------\nfunction extractEnquiryFromRaw(rawText) {\n  const t = String(rawText || '');\n  const m = t.match(/\"enquiry\"\\s*:\\s*\"([\\s\\S]*?)(?:\"\\s*,\\s*\"|\\s*\"\\s*[\\}\\n\\r]|$)/i);\n  if (!m || !m[1]) return '';\n  return m[1]\n    .replace(/\\\\\"/g, '\"')\n    .replace(/\\\\n/g, '\\n')\n    .trim();\n}\n\n// ---------- Address fix ----------\nfunction normalizeAddressToSuburbOnly(address) {\n  const a = String(address || '').trim();\n  if (!a) return a;\n\n  const m = a.match(/^(.+?),\\s*\\d{4}\\s*$/);\n  if (m) return m[1].trim();\n\n  const m2 = a.match(/^(.+?)\\s+\\d{4}\\s*$/);\n  if (m2) return m2[1].trim();\n\n  return a;\n}\n\n// ---------- Discord content extractor (string only; avoids [object Object]) ----------\nfunction getDiscordMessageText(data) {\n  if (typeof data?.content === 'string') return data.content.trim();\n\n  const found = deepFindKey(data, 'content');\n  if (typeof found === 'string') return found.trim();\n\n  return '';\n}\n\n// ---------- Extract DISCORD / IMAGES from AI enquiry format ----------\nfunction splitAiEnquiry(aiEnquiry) {\n  const s = String(aiEnquiry || '').trim();\n  if (!s) return { discord: '', images: '' };\n\n  const m = s.match(/^DISCORD:\\s*([\\s\\S]*?)\\s*\\|\\s*IMAGES:\\s*([\\s\\S]*)$/i);\n  if (m) {\n    return { discord: (m[1] || '').trim(), images: (m[2] || '').trim() };\n  }\n\n  const mi = s.match(/IMAGES:\\s*([\\s\\S]*)$/i);\n  if (mi) {\n    return { discord: '', images: (mi[1] || '').trim() };\n  }\n\n  return { discord: '', images: s };\n}\n\n// ---------- CRM Clean Enquiry Format ----------\nfunction formatEnquiryCRM(discordText, imagesText) {\n  const discord = String(discordText || '').trim();\n  const images = String(imagesText || '').trim();\n\n  const sections = [];\n  if (discord) sections.push('===== DISCORD MESSAGE =====\\n' + discord);\n  if (images) sections.push('===== IMAGE DETAILS =====\\n' + images);\n\n  return sections.join('\\n\\n').trim();\n}\n\n// ---------- MAIN ----------\nfor (const item of inputItems) {\n  const data = item.json;\n\n  const rawText = getAiTextAnyShape(data);\n  if (!rawText) {\n    throw new Error('AI output not found. Make sure the Code node receives the AI node output.');\n  }\n\n  // Parse salvaging fields even when truncated\n  const lead = parseJsonSalvage(rawText);\n\n  // If enquiry missing due to truncation, try regex extraction\n  if (!lead.enquiry) {\n    lead.enquiry = extractEnquiryFromRaw(rawText);\n  }\n\n  // Fix address to suburb only\n  if (lead.address !== undefined) {\n    lead.address = normalizeAddressToSuburbOnly(lead.address);\n  }\n\n  // Build CRM enquiry:\n  const discordFromMerge = getDiscordMessageText(data);\n  const split = splitAiEnquiry(lead.enquiry);\n\n  const finalDiscord = discordFromMerge || split.discord;\n  const finalImages = split.images;\n\n  // Enquiry formatted + Google Sheets safe\n  lead.enquiry = safeForGoogleSheets(formatEnquiryCRM(finalDiscord, finalImages));\n\n  const fileName = buildFileName(lead.firstName, lead.lastName);\n  const Timestamp = nowBrisbaneTimestamp();\n\n  // Remove unwanted fields + attachments here\n  delete lead.guildId;\n  delete lead.content;\n  delete lead.aiStatus;\n  delete lead.imageAttachments;\n\n  // REMOVE THESE META FIELDS COMPLETELY\n  delete lead.messageId;\n  delete lead.channelId;\n  delete lead.authorId;\n  delete lead.authorName;\n\n  const out = {\n    ...lead,\n    fileName,\n    Timestamp,\n  };\n\n  outputItems.push({ json: out });\n}\n\nreturn outputItems;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          -480
        ],
        "id": "644b3571-ae90-4e8a-99d4-7b0ebab87245",
        "name": "Parse – AI JSON Response"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "36573eea-17d7-418c-aff2-d2bb9ca647d0",
                "name": "messageId",
                "value": "={{ $json.messageId }}",
                "type": "string"
              },
              {
                "id": "df4f463d-bb9b-4c70-89c3-2bbd587ed1a0",
                "name": "channelId",
                "value": "={{ $json.channelId }}",
                "type": "string"
              },
              {
                "id": "e8ad65fc-0bd5-4184-9054-c673ac2d13dc",
                "name": "authorId",
                "value": "={{ $json.authorId }}",
                "type": "string"
              },
              {
                "id": "54705a5a-d90e-4201-8b60-27e6c5c4cef7",
                "name": "authorName",
                "value": "={{ $json.authorName }}",
                "type": "string"
              },
              {
                "id": "eb9962c8-cffb-435e-9b16-71f1f5d98db0",
                "name": "leadType",
                "value": "={{ $json.leadType }}",
                "type": "string"
              },
              {
                "id": "7cfb1fb3-5c6c-4eea-ac15-a2cae2c5ce52",
                "name": "howDidYouHearAboutUs",
                "value": "={{ $json.howDidYouHearAboutUs }}",
                "type": "string"
              },
              {
                "id": "b03dcb46-2a7a-42a6-9355-711bd44b804a",
                "name": "referredBy",
                "value": "={{ $json.referredBy }}",
                "type": "string"
              },
              {
                "id": "b52b1e3f-2056-482b-b78c-20fcb9210677",
                "name": "imageAttachments",
                "value": "={{ $json.imageAttachments }}",
                "type": "array"
              },
              {
                "id": "84c90a80-a176-4d34-a15f-010bb24f5a77",
                "name": "content",
                "value": "={{ $json.content }}",
                "type": "string"
              },
              {
                "id": "f33cba39-9a58-433f-ad6e-f6eab2f68211",
                "name": "leadQualifier",
                "value": "={{ $json.leadQualifier }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          -288
        ],
        "id": "b5339cf2-bdc2-4fe8-96c0-9123b43bd03e",
        "name": "Prepare Image Attachments"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          448,
          -384
        ],
        "id": "a212ef45-e065-49bf-9e27-359551933a91",
        "name": "Merge AI Lead with Attachments"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cfe143c1-1c01-4b62-b292-ab210706031b",
                "name": "Timestamp",
                "value": "={{ $json.Timestamp }}",
                "type": "string"
              },
              {
                "id": "7c753874-2708-4658-9211-ab1a07be7f81",
                "name": "id",
                "value": "={{ $json.messageId }}",
                "type": "string"
              },
              {
                "id": "59c5c353-8830-4285-9b9d-f3b53888cb50",
                "name": "authorId",
                "value": "={{ $json.authorId }}",
                "type": "string"
              },
              {
                "id": "265db7eb-7687-476b-96f5-11d030f8251a",
                "name": "channelId",
                "value": "={{ $json.channelId }}",
                "type": "string"
              },
              {
                "id": "4814f4f1-cea7-4c83-94c9-691ed2a48b65",
                "name": "messageId",
                "value": "={{ $json.messageId }}",
                "type": "string"
              },
              {
                "id": "7fd6c372-a574-46eb-b8a8-4ca5514c2bb4",
                "name": "leadType",
                "value": "={{ $json.leadType }}",
                "type": "string"
              },
              {
                "id": "319cbc2f-686c-4690-b0da-99edb563a4d9",
                "name": "firstName",
                "value": "={{ $json.firstName }}",
                "type": "string"
              },
              {
                "id": "e318f933-3a86-4e92-8d45-fdd5c9d6db45",
                "name": "lastName",
                "value": "={{ $json.lastName }}",
                "type": "string"
              },
              {
                "id": "1033f6f6-ff3d-462c-a819-0253ba1097a9",
                "name": "mobileNumber",
                "value": "={{ $json.mobileNumber }}",
                "type": "string"
              },
              {
                "id": "42c58a65-dab0-4938-a047-f6beba67e9d3",
                "name": "phoneNumber",
                "value": "={{ $json.phoneNumber }}",
                "type": "string"
              },
              {
                "id": "75060d69-eaa3-4924-b9f6-b7cf159502d4",
                "name": "emailAddress",
                "value": "={{ $json.emailAddress }}",
                "type": "string"
              },
              {
                "id": "518ce6f1-f3a0-4e61-b483-c85feb63ae15",
                "name": "postalCode",
                "value": "={{ $json.postalCode }}",
                "type": "string"
              },
              {
                "id": "2420ae52-e6a5-4d5e-889a-014ad00b28b2",
                "name": "address",
                "value": "={{ $json.address }}",
                "type": "string"
              },
              {
                "id": "421623c8-2db6-4b40-a102-f6dc36ff61ed",
                "name": "state",
                "value": "={{ $json.state }}",
                "type": "string"
              },
              {
                "id": "7cc111a4-9134-4fe3-97eb-75b5e81c8d31",
                "name": "suburb",
                "value": "={{ $json.suburb }}",
                "type": "string"
              },
              {
                "id": "fb3af799-02a3-4669-97b7-5616f9bc8d93",
                "name": "enquiry",
                "value": "={{ $json.enquiry }}",
                "type": "string"
              },
              {
                "id": "e76aa2b3-3c3f-43d7-b9e2-8dfe2c4ecad3",
                "name": "quantity",
                "value": "={{ $json.Quantity }}",
                "type": "string"
              },
              {
                "id": "193cbe77-7015-40c3-95b1-eba1fd89481c",
                "name": "leadQualifier",
                "value": "={{ $json.leadQualifier }}",
                "type": "string"
              },
              {
                "id": "6c8b740a-0f64-4828-bc0a-f71e2bf6621b",
                "name": "referredBy",
                "value": "={{ $json.referredBy }}",
                "type": "string"
              },
              {
                "id": "33a52d4e-10f1-4357-90d4-de70e6873925",
                "name": "IdLikeToGetMyProjectUnderway",
                "value": "={{ $json.IdLikeToGetMyProjectUnderway }}",
                "type": "string"
              },
              {
                "id": "9c3726e2-0e35-4a55-8fb3-2cfc97653e48",
                "name": "howTheyHeardAboutUs",
                "value": "={{ $json.howDidYouHearAboutUs }}",
                "type": "string"
              },
              {
                "id": "891ac909-a00b-497c-b50e-9edfcab72a09",
                "name": "fileName",
                "value": "={{ $json.fileName }}",
                "type": "string"
              },
              {
                "id": "a17b94b9-37be-4b9d-a580-8debdcaba569",
                "name": "imageAttachments",
                "value": "={{ $json.imageAttachments }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          896,
          -304
        ],
        "id": "ab255258-d600-49f3-a68f-9bdc9b93bafc",
        "name": "Map HiPages Lead"
      },
      {
        "parameters": {
          "url": "={{ $json.imageAttachments[0].proxyURL }}\n",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1120,
          -208
        ],
        "id": "8541b89e-68b2-4f6a-b385-f4db14fb1da8",
        "name": "Download Lead Attachments"
      },
      {
        "parameters": {
          "name": "={{ $json.fileName }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "13LLScY5KwHtjVa94gCIQhdK4o9Ruc2-e",
            "mode": "list",
            "cachedResultName": "HiPages Lead",
            "cachedResultUrl": "https://drive.google.com/drive/folders/13LLScY5KwHtjVa94gCIQhdK4o9Ruc2-e"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1344,
          -208
        ],
        "id": "21367576-9c77-4f88-8a91-0a4aced02ba7",
        "name": "Upload Attachments to Gmail Drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "cO0NLqiTRlyGeXAH",
            "name": "WR: Google Drive Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// n8n Code node (merge lead + meta/attachments)\n// - Keeps ALL original lead fields (address, postalCode, etc.)\n// - Appends Discord message to end of enquiry ONLY if present\n// - Forces referredBy to \"\"\n// - Forces leadQualifier to \"Good\"\n\nconst lead = items[0].json;\nconst meta = items[1]?.json || {};\nconst attachments = meta.imageAttachments || [];\n\n// Safely extract Discord message\nconst discordMessage = (meta.content || meta.message || meta.discordMessage || '')\n  .toString()\n  .trim();\n\n// Existing enquiry from AI\nconst currentEnquiry = (lead.enquiry || '').toString().trim();\n\nlet mergedEnquiry = currentEnquiry;\n\n// Append Discord section only if message exists\nif (discordMessage) {\n  mergedEnquiry = [\n    currentEnquiry,\n    '===== DISCORD MESSAGE =====',\n    discordMessage,\n  ]\n    .filter(Boolean)\n    .join('\\n\\n');\n}\n\nreturn [\n  {\n    json: {\n      // KEEP EVERYTHING from AI lead (including address + postalCode)\n      ...lead,\n\n      // Meta fields from Discord item\n      messageId: meta.messageId ?? lead.messageId ?? null,\n      channelId: meta.channelId ?? lead.channelId ?? null,\n      authorId: meta.authorId ?? lead.authorId ?? null,\n      authorName: meta.authorName ?? lead.authorName ?? null,\n      leadType: meta.leadType ?? lead.leadType ?? null,\n      howDidYouHearAboutUs: meta.howDidYouHearAboutUs ?? lead.howDidYouHearAboutUs ?? null,\n\n      // Force required overrides\n      referredBy: \"\",\n      leadQualifier: \"Good\",\n\n      // Updated enquiry\n      enquiry: mergedEnquiry,\n\n      // Attachments\n      imageAttachments: attachments,\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          -384
        ],
        "id": "0bb2ca84-f279-44e7-ac59-4f4cf7c5efe6",
        "name": "Merge Both JSON Objects"
      },
      {
        "parameters": {
          "jsCode": "const base = $input.first().json;\nconst imgs = Array.isArray(base.imageAttachments) ? base.imageAttachments : [];\n\nif (!imgs.length) return [];\n\nconst cleanUrl = (u) => (u ? String(u).trim().replace(/&+$/g, \"\") : null);\n\nreturn imgs.map((img) => {\n  const url = cleanUrl(img?.url);\n  const proxyURL = cleanUrl(img?.proxyURL);\n\n  return {\n    json: {\n      image: img,\n      imageFetchUrl: proxyURL || url || null,\n    },\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -448,
          -480
        ],
        "id": "0a706dee-9ebb-46d0-9595-598ece4ad4d5",
        "name": "Explode imageAttachments[]"
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "text": "=HiPages parsing rules (IMPORTANT):\n\nYou are analyzing this image:\n{{ $json.image.proxyURL }}\n\nExtract customer details directly from the text visible in the image.\n\nInstructions:\n\nUse ONLY what is clearly readable in the image.\nDo NOT guess.\nDo NOT hallucinate.\nIf a field is not clearly present/readable, return an empty string \"\".\n\nRespond with JSON only.\nDo NOT wrap the JSON in markdown.\nDo NOT include explanations.\nDo NOT include any keys other than those in the output JSON below.\n\nName:\nIf a full name is visible, put the first word into \"firstName\" and the last word into \"lastName\".\nIf only one name is visible, put it in \"firstName\" and leave \"lastName\" as \"\".\nDo NOT use business names unless clearly identifying a person.\n\nPhone:\nIf a mobile number is visible, put it in \"mobileNumber\".\nIf a landline is visible, put it in \"phoneNumber\".\n\nEmail:\nIf clearly visible, put it in \"emailAddress\".\n\nAddress:\nIf a full street address is visible, put the full street address into \"address\".\nIf only suburb/locality is visible, put that into \"address\".\nAlways fill \"suburb\" if suburb/locality is visible.\nIf \"address\" contains only suburb/locality (no street), copy it into \"suburb\".\n\nState classification (ONLY use one of these values):\n\"NSW\"\n\"Brisbane\"\n\"Gold Coast\"\n\nRules:\nIf suburb/postcode clearly belongs to NSW → \"NSW\"\nIf suburb/postcode clearly belongs to Brisbane metro → \"Brisbane\"\nIf suburb/postcode clearly belongs to Gold Coast region → \"Gold Coast\"\nIf not confidently determined → \"\"\n\nPostcode:\nFill \"postalCode\" only if clearly visible.\n\nIdLikeToGetMyProjectUnderway:\nOnly fill \"IdLikeToGetMyProjectUnderway\" if this exact field (or a clearly equivalent label like \"Start by\" / \"Start date\" / \"When to start\") is visible in the image.\nExamples:\n- If the image shows \"Start by ASAP\" → set \"IdLikeToGetMyProjectUnderway\" = \"ASAP\"\n- If the image shows a date/time → copy it exactly\nIf not visible, return \"\".\n\nQuantity:\nOnly fill \"Quantity\" if a quantity (number of items/doors/windows/etc.) is clearly visible in the image.\nCopy the quantity exactly as shown (e.g., \"2\", \"two\", \"2 doors\", \"2x\").\nIf not visible, return \"\".\n\nEnquiry field (MANDATORY):\nThe \"enquiry\" field MUST contain the job description text extracted from the image.\nDo NOT summarize.\nDo NOT reword.\nYou may lightly clean obvious OCR formatting issues (extra spaces/line breaks) but do NOT change the wording.\nIf no usable job details are visible, return \"\" for \"enquiry\".\n\nReturn EXACTLY this JSON structure (no extra keys):\n\n{\n  \"firstName\": \"\",\n  \"lastName\": \"\",\n  \"mobileNumber\": \"\",\n  \"phoneNumber\": \"\",\n  \"emailAddress\": \"\",\n  \"address\": \"\",\n  \"state\": \"\",\n  \"suburb\": \"\",\n  \"postalCode\": \"\",\n  \"enquiry\": \"\",\n  \"IdLikeToGetMyProjectUnderway\": \"\",\n  \"Quantity\": \"\"\n}\n",
          "imageUrls": "={{ $json.image.url }}\n",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2,
        "position": [
          0,
          -480
        ],
        "id": "4a2b36d3-25e0-4631-ad60-ce9c8c9fc461",
        "name": "OCR / Analyze Image",
        "credentials": {
          "openAiApi": {
            "id": "oQQrCQWqdo1CuRzx",
            "name": "WRai: OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ",
            "mode": "list",
            "cachedResultName": "Leads Logs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "raw",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13lFnQiBUmo1W0oQoTNlcn94ouflhuRWlMYu9NQV7taQ/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Timestamp": "={{ $now.setZone('Australia/Brisbane').toFormat('LL/dd/yyyy, HH:mm:ss') }}\n",
              "Id": "={{ $json.id }}",
              "Lead Type": "={{ $json.leadType }}",
              "First Name": "={{ $json.firstName }}",
              "Last Name": "={{ $json.lastName }}",
              "Mobile Number": "={{ $json.mobileNumber }}",
              "Email Address": "={{ $json.emailAddress }}",
              "Phone Number": "={{ $json.phoneNumber }}",
              "Address": "={{ $json.address }}",
              "State": "={{ $json.state }}",
              "Postal Code": "={{ $json.postalCode }}",
              "Suburb": "={{ $json.suburb }}",
              "Enquiry": "={{ $json.enquiry }}",
              "Quantity": "={{ $json.quantity }}",
              "I’d Like To Get My Project Underway": "={{ $json.IdLikeToGetMyProjectUnderway }}",
              "How they heard about us": "={{ $json.howTheyHeardAboutUs }}",
              "Lead Qualifier": "={{ $json.leadQualifier }}",
              "Referred By": "={{ $json.referredBy }}"
            },
            "matchingColumns": [
              "Id"
            ],
            "schema": [
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Id",
                "displayName": "Id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Lead Type",
                "displayName": "Lead Type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "First Name",
                "displayName": "First Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last Name",
                "displayName": "Last Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Mobile Number",
                "displayName": "Mobile Number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Phone Number",
                "displayName": "Phone Number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email Address",
                "displayName": "Email Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Address",
                "displayName": "Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "State",
                "displayName": "State",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Suburb",
                "displayName": "Suburb",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Postal Code",
                "displayName": "Postal Code",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Enquiry",
                "displayName": "Enquiry",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Quantity",
                "displayName": "Quantity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "I’d Like To Get My Project Underway",
                "displayName": "I’d Like To Get My Project Underway",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "How they heard about us",
                "displayName": "How they heard about us",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Lead Qualifier",
                "displayName": "Lead Qualifier",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Referred By",
                "displayName": "Referred By",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1344,
          -16
        ],
        "id": "7698d334-dc37-4f05-9913-60bd061a1d33",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "S4FmXrss6MgN5rzt",
            "name": "WR: Google Sheets Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// MAIN WORKFLOW Code node (place right AFTER Set/Map node)\n// - Normalizes keys\n// - Keeps formatting as literal \"\\n\" (NOT real newlines)\n// - Removes leading quote\n// - Makes enquiry safe for HTTP \"Using JSON\"\n\nconst items = $input.all();\n\nfunction firstNonUndefined(obj, keys) {\n  for (const k of keys) {\n    if (obj && Object.prototype.hasOwnProperty.call(obj, k)) return obj[k];\n  }\n  return undefined;\n}\n\nfunction clean(v) {\n  if (v === null || v === undefined) return '';\n  return String(v).trim();\n}\n\n// Convert real newlines to literal \"\\n\" and escape JSON-danger chars\nfunction enquiryToLiteralNewlines(v) {\n  if (v === null || v === undefined) return '';\n\n  let s = String(v).trim();\n\n  // remove leading single quote only\n  s = s.replace(/^'+\\s*/, '');\n\n  // normalize CRLF -> LF\n  s = s.replace(/\\r\\n/g, '\\n');\n\n  // escape backslashes + quotes to stay safe in JSON strings\n  s = s.replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\n\n  // convert real newlines to literal \\n\n  s = s.replace(/\\n/g, '\\\\n');\n\n  return s.trim();\n}\n\nreturn items.map((item) => {\n  const j = item.json || {};\n\n  const id = firstNonUndefined(j, ['id', 'Id']);\n  const leadType = firstNonUndefined(j, ['leadType', 'Lead Type']);\n  const firstName = firstNonUndefined(j, ['firstName', 'First Name']);\n  const lastName = firstNonUndefined(j, ['lastName', 'Last Name']);\n\n  const emailAddress = firstNonUndefined(j, ['emailAddress', 'Email Address']);\n  const mobileNumber = firstNonUndefined(j, ['mobileNumber', 'Mobile Number']);\n  const phoneNumber = firstNonUndefined(j, ['phoneNumber', 'Phone Number']);\n\n  const address = firstNonUndefined(j, ['address', 'Address']);\n  const suburb = firstNonUndefined(j, ['suburb', 'Suburb']);\n  const state = firstNonUndefined(j, ['state', 'State']);\n  const postalCode = firstNonUndefined(j, ['postalCode', 'Postal Code']);\n\n  const enquiry = firstNonUndefined(j, ['enquiry', 'Enquiry']);\n  const quantity = firstNonUndefined(j, ['quantity', 'Quantity']);\n  const referredBy = firstNonUndefined(j, ['referredBy', 'Referred By', 'Referred by', 'ReferredBy']);\n  const leadQualifier = firstNonUndefined(j, ['leadQualifier', 'Lead Qualifier']);\n  const howTheyHeard = firstNonUndefined(j, ['howTheyHeardAboutUs', 'How they heard about us', 'How they heard about us?']);\n  const underway = firstNonUndefined(j, [\n    \"IdLikeToGetMyProjectUnderway\",\n    \"I’d Like To Get My Project Underway\",\n    \"I'd Like To Get My Project Underway\",\n    \"I'd Like to Get My Project Underway\",\n  ]);\n\n  const out = {\n    ...j,\n\n    id: clean(id),\n    leadType: clean(leadType),\n    firstName: clean(firstName),\n    lastName: clean(lastName),\n    emailAddress: clean(emailAddress),\n    mobileNumber: clean(mobileNumber),\n    phoneNumber: clean(phoneNumber),\n    address: clean(address),\n    suburb: clean(suburb),\n    state: clean(state),\n    postalCode: clean(postalCode),\n\n    // ✅ safe: contains literal \"\\n\" instead of real newlines\n    enquiry: enquiryToLiteralNewlines(enquiry),\n\n    quantity: clean(quantity),\n    referredBy: clean(referredBy),\n    leadQualifier: clean(leadQualifier),\n    howTheyHeardAboutUs: clean(howTheyHeard),\n    IdLikeToGetMyProjectUnderway: clean(underway),\n  };\n\n  return { json: out };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          -592
        ],
        "id": "aba40037-4fd9-4ef7-90bd-114a5c509857",
        "name": "Pass-through + Normalize"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://wrapp2.windowrevival.com.au/api/leads-form/create",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"client_first_name\": \"{{ $json.firstName }}\",\n  \"client_last_name\": \"{{ $json.lastName }}\",\n  \"client_mobile\": \"{{ $json.mobileNumber }}\",\n  \"client_work_number\": \"{{ $json.phoneNumber }}\",\n  \"client_home_number\": \"\",\n  \"client_email\": \"{{ $json.emailAddress }}\",\n  \"client_address\": \"{{ $json.address }} {{ $json.suburb }}\",\n  \"client_suburb\": \"{{ $json.suburb }}\",\n  \"client_state\": \"{{ $json.state }}\",\n  \"client_postal\": \"{{ $json.postalCode }}\",\n  \"client_region\": \"{{ $json.state }}\",\n  \"enquiry_notes\": \"{{ $json.enquiry }}\",\n  \"other_contact_details\": \"\",\n  \"client_lead_source\": \"HiPages\",\n\n  \"opportunity_title\": \"{{ $json.suburb }} {{ $json.state }} {{ $json.postalCode }}\",\n  \"opportunity_how_hear_us\": \"HiPages\",\n  \"sales_pipeline\": \"New Lead - HiPages\",\n  \"assign_to\": \"windowrevival+1@gmail.com\",\n  \"opportunity_product_interest\": [\"Repairs\"],\n  \"opportunity_contact_name\": \"{{ $json.firstName }} {{ $json.lastName }}\",\n  \"opportunity_mobile_number\": \"{{ $json.mobileNumber }}\",\n  \"opportunity_work_number\": \"{{ $json.phoneNumber }}\",\n  \"opportunity_home_number\": \"\",\n  \"opportunity_address\": \"{{ $json.address }}\",\n  \"opportunity_state\": \"{{ $json.state }}\",\n  \"opportunity_suburb\": \"{{ $json.suburb }}\",\n  \"opportunity_postcode\": \"{{ $json.postalCode }}\",\n  \"opportunity_email\": \"{{ $json.emailAddress }}\",\n\n  \"opportunity_description\": \"{{ $json.enquiry }}\",\n  \"opportunity_next_action\": \"\",\n  \"opportunity_status\": \"Hot\",\n  \"opportunity_estimated_revenue\": 0,\n  \"opportunity_percent_chance\": \"50%\",\n  \"opportunity_follow_up_date\": \"{{\n    (() => {\n      const tz = 'Australia/Brisbane';\n      let date = new Date();\n\n      date.setDate(date.getDate() + 1);\n\n      while (date.getDay() === 0 || date.getDay() === 6) {\n        date.setDate(date.getDate() + 1);\n      }\n\n      const formatter = new Intl.DateTimeFormat('en-CA', {\n        timeZone: tz,\n        year: 'numeric',\n        month: '2-digit',\n        day: '2-digit'\n      });\n\n      const parts = formatter.formatToParts(date);\n      const yyyy = parts.find(p => p.type === 'year').value;\n      const mm = parts.find(p => p.type === 'month').value;\n      const dd = parts.find(p => p.type === 'day').value;\n\n      return `${yyyy}-${mm}-${dd} 08:00:00`;\n    })()\n  }}\",\n  \"projected_revenue\": 0,\n  \"net_promoter_score\": 0,\n  \"net_promoter_comment\": \"net promoter\",\n  \"opportunity_same_as_contact_details\": \"no\",\n  \"create_job\": \"no\",\n\n  \"job_event\": \"job_event\",\n  \"job_technician\": \"chris\", \n  \"job_start_date\": \"2026-03-26 7:00:00\", \n  \"job_end_date\": \"2026-03-26 16:00:00\", \n  \"projected_sales\": 1000, \n  \"actual_sales\": 1500, \n  \"duration\": 2, \n  \"man_job\": 2, \n  \"queue\": 2, \n  \"type\": \"Fixed\", \n  \"sms_status\": \"Send sms reminder\", \n  \"schedule_status\": \"To Be Confirmed\", \n  \"job_status\": \"Job Completed\", \n  \"services\": \"Repairs\",\n  \"job_description\": \"job_description\", \n  \"dsp_note\": \"dsp note\", \n  \"work_done\": \"work done\", \n  \"work_stil_to_be_done\": \"work still done\" \n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1344,
          -592
        ],
        "id": "0650e837-d84a-4dcd-b1b8-86356a03a358",
        "name": "Create Opportunities",
        "credentials": {
          "httpHeaderAuth": {
            "id": "UTs7Hb7x8Xe72hTe",
            "name": "WR: Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "getAll",
          "guildId": {
            "__rl": true,
            "value": "753455160209965106",
            "mode": "list",
            "cachedResultName": "Window Revival",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106"
          },
          "channelId": {
            "__rl": true,
            "value": "1456133270352822373",
            "mode": "list",
            "cachedResultName": "hipages-lead",
            "cachedResultUrl": "https://discord.com/channels/753455160209965106/1456133270352822373"
          },
          "limit": 20,
          "options": {
            "simplify": false
          }
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          -1344,
          -304
        ],
        "id": "4b3da591-2b49-488d-a427-b2e606b3cb4c",
        "name": "Get many messages",
        "webhookId": "2f1a2f99-bbba-466d-9bd5-ba8fa883fe6c",
        "credentials": {
          "discordBotApi": {
            "id": "a0FDlWFh8PBA5Add",
            "name": "WR: Discord Bot Account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.imageFetchUrl }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -224,
          -480
        ],
        "id": "2b16f750-d6da-497e-a509-b77641ac6c77",
        "name": "Download Binary"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1568,
          -304
        ],
        "id": "8530ef88-d270-42af-a551-207584c6c25e",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "removeItemsSeenInPreviousExecutions",
          "dedupeValue": "={{ $json.id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          -1120,
          -304
        ],
        "id": "f99a3d58-f439-40c7-83a1-5dd872c6680c",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -896,
          -304
        ],
        "id": "28769bcb-74ba-4738-bd15-a54c22e364ce",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1120,
          80
        ],
        "id": "5fde41e5-e14c-4e43-9b5b-7bb8f2e1b937",
        "name": "add 5s",
        "webhookId": "91a29289-ca11-42bf-866a-5228315e8ee9"
      }
    ],
    "connections": {
      "Normalize – Discord Message": {
        "main": [
          [
            {
              "node": "Prepare Image Attachments",
              "type": "main",
              "index": 0
            },
            {
              "node": "Explode imageAttachments[]",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse – AI JSON Response": {
        "main": [
          [
            {
              "node": "Merge AI Lead with Attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Image Attachments": {
        "main": [
          [
            {
              "node": "Merge AI Lead with Attachments",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge AI Lead with Attachments": {
        "main": [
          [
            {
              "node": "Merge Both JSON Objects",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map HiPages Lead": {
        "main": [
          [
            {
              "node": "Download Lead Attachments",
              "type": "main",
              "index": 0
            },
            {
              "node": "React with an emoji to a message",
              "type": "main",
              "index": 0
            },
            {
              "node": "add 5s",
              "type": "main",
              "index": 0
            },
            {
              "node": "Pass-through + Normalize",
              "type": "main",
              "index": 0
            },
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Lead Attachments": {
        "main": [
          [
            {
              "node": "Upload Attachments to Gmail Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Attachments to Gmail Drive": {
        "main": [
          []
        ]
      },
      "Merge Both JSON Objects": {
        "main": [
          [
            {
              "node": "Map HiPages Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Explode imageAttachments[]": {
        "main": [
          [
            {
              "node": "Download Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OCR / Analyze Image": {
        "main": [
          [
            {
              "node": "Parse – AI JSON Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet": {
        "main": [
          []
        ]
      },
      "Send a message": {
        "main": [
          []
        ]
      },
      "React with an emoji to a message": {
        "main": [
          []
        ]
      },
      "Pass-through + Normalize": {
        "main": [
          [
            {
              "node": "Create Opportunities",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many messages": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Binary": {
        "main": [
          [
            {
              "node": "OCR / Analyze Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Normalize – Discord Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "add 5s": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Christine Kam",
    "name": "Version de27c9a9",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-25T22:54:24.277Z",
        "id": 753,
        "workflowId": "Dm34kcocvPR7PllT",
        "versionId": "de27c9a9-ef74-40f3-af91-2dbae15f0b7e",
        "event": "activated",
        "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b"
      }
    ]
  }
}