workflows/[Portfolio] Retell - Receive Call Events.json
{
  "updatedAt": "2026-03-19T16:22:42.363Z",
  "createdAt": "2026-03-17T13:59:39.461Z",
  "id": "REOW8qevo6ToVETX",
  "name": "[Portfolio] Retell - Receive Call Events",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retell-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "wh-retell-events",
      "name": "Receive Retell Events",
      "webhookId": "retell-events-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "x1",
              "name": "event",
              "value": "={{ $json.body.event || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "x2",
              "name": "call_id",
              "value": "={{ $json.body.call?.call_id || '' }}",
              "type": "string"
            },
            {
              "id": "x3",
              "name": "agent_id",
              "value": "={{ $json.body.call?.agent_id || '' }}",
              "type": "string"
            },
            {
              "id": "x4",
              "name": "call_status",
              "value": "={{ $json.body.call?.call_status || '' }}",
              "type": "string"
            },
            {
              "id": "x5",
              "name": "call_type",
              "value": "={{ $json.body.call?.call_type || '' }}",
              "type": "string"
            },
            {
              "id": "x6",
              "name": "metadata",
              "value": "={{ JSON.stringify($json.body.call?.metadata || {}) }}",
              "type": "string"
            },
            {
              "id": "x7",
              "name": "start_timestamp",
              "value": "={{ $json.body.call?.start_timestamp || '' }}",
              "type": "string"
            },
            {
              "id": "x8",
              "name": "end_timestamp",
              "value": "={{ $json.body.call?.end_timestamp || '' }}",
              "type": "string"
            },
            {
              "id": "x9",
              "name": "duration_ms",
              "value": "={{ $json.body.call?.duration_ms || 0 }}",
              "type": "number"
            },
            {
              "id": "x10",
              "name": "disconnection_reason",
              "value": "={{ $json.body.call?.disconnection_reason || '' }}",
              "type": "string"
            },
            {
              "id": "x11",
              "name": "transcript",
              "value": "={{ $json.body.call?.transcript || '' }}",
              "type": "string"
            },
            {
              "id": "x12",
              "name": "call_summary",
              "value": "={{ $json.body.call?.call_analysis?.call_summary || '' }}",
              "type": "string"
            },
            {
              "id": "x13",
              "name": "user_sentiment",
              "value": "={{ $json.body.call?.call_analysis?.user_sentiment || '' }}",
              "type": "string"
            },
            {
              "id": "x14",
              "name": "call_successful",
              "value": "={{ $json.body.call?.call_analysis?.call_successful || false }}",
              "type": "boolean"
            },
            {
              "id": "x15",
              "name": "booking_intent",
              "value": "={{ $json.body.call?.call_analysis?.custom_analysis_data?.booking_intent || '' }}",
              "type": "string"
            },
            {
              "id": "x16",
              "name": "requested_time",
              "value": "={{ $json.body.call?.call_analysis?.custom_analysis_data?.requested_time || '' }}",
              "type": "string"
            },
            {
              "id": "x17",
              "name": "service_type",
              "value": "={{ $json.body.call?.call_analysis?.custom_analysis_data?.service_type || '' }}",
              "type": "string"
            },
            {
              "id": "x18",
              "name": "customer_name",
              "value": "={{ $json.body.call?.metadata?.customer_name || '' }}",
              "type": "string"
            },
            {
              "id": "x19",
              "name": "email",
              "value": "={{ $json.body.call?.metadata?.email || '' }}",
              "type": "string"
            },
            {
              "id": "x20",
              "name": "event_id",
              "value": "={{ $json.body.call?.call_analysis?.custom_analysis_data?.event_id || '' }}",
              "type": "string"
            },
            {
              "id": "x21",
              "name": "cancellation_reason",
              "value": "={{ $json.body.call?.call_analysis?.custom_analysis_data?.cancellation_reason || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "set-extract",
      "name": "Extract Event Data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "call_started",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "call_started"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "call_ended",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "call_ended"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "call_analyzed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "call_analyzed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        448,
        0
      ],
      "id": "switch-event",
      "name": "Route by Event Type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "action",
              "value": "call_started",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "call_id",
              "value": "={{ $json.call_id }}",
              "type": "string"
            },
            {
              "id": "s3",
              "name": "status",
              "value": "active",
              "type": "string"
            },
            {
              "id": "s4",
              "name": "timestamp",
              "value": "={{ $json.start_timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -208
      ],
      "id": "set-started",
      "name": "Log Call Started"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "action",
              "value": "call_ended",
              "type": "string"
            },
            {
              "id": "e2",
              "name": "call_id",
              "value": "={{ $json.call_id }}",
              "type": "string"
            },
            {
              "id": "e3",
              "name": "status",
              "value": "ended",
              "type": "string"
            },
            {
              "id": "e4",
              "name": "duration_ms",
              "value": "={{ $json.duration_ms }}",
              "type": "number"
            },
            {
              "id": "e5",
              "name": "disconnection_reason",
              "value": "={{ $json.disconnection_reason }}",
              "type": "string"
            },
            {
              "id": "e6",
              "name": "transcript",
              "value": "={{ $json.transcript }}",
              "type": "string"
            },
            {
              "id": "e7",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        0
      ],
      "id": "set-ended",
      "name": "Log Call Ended"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "action",
              "value": "call_analyzed",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "call_id",
              "value": "={{ $json.call_id }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "call_summary",
              "value": "={{ $json.call_summary }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "user_sentiment",
              "value": "={{ $json.user_sentiment }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "call_successful",
              "value": "={{ $json.call_successful }}",
              "type": "boolean"
            },
            {
              "id": "a6",
              "name": "booking_intent",
              "value": "={{ $json.booking_intent }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "requested_time",
              "value": "={{ $json.requested_time }}",
              "type": "string"
            },
            {
              "id": "a8",
              "name": "service_type",
              "value": "={{ $json.service_type }}",
              "type": "string"
            },
            {
              "id": "a9",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "a10",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "a11",
              "name": "transcript",
              "value": "={{ $json.transcript }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        208
      ],
      "id": "set-analyzed",
      "name": "Extract Analysis Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.booking_intent }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        208
      ],
      "id": "if-booking-intent",
      "name": "Has Booking Intent?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {},
            {},
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1360,
        112
      ],
      "id": "switch-booking",
      "name": "Route Booking Intent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1127913.hstgr.cloud/webhook/create-booking",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ start: $json.requested_time, event_title: $json.service_type || 'Booking via AI Call', attendee_email: $json.email, attendee_name: $json.customer_name, service_type: $json.service_type, timezone: 'Asia/Manila', notes: 'Booked via Retell AI call. Call ID: ' + $json.call_id }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        0
      ],
      "id": "http-create-booking",
      "name": "Call Create Booking (D)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1127913.hstgr.cloud/webhook/update-booking",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_id: $json.event_id, new_start: $json.requested_time, attendee_email: $json.email, attendee_name: $json.customer_name, service_type: $json.service_type, timezone: 'Asia/Manila', reason_for_change: 'Rescheduled via Retell AI call. Call ID: ' + $json.call_id }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        208
      ],
      "id": "http-update-booking",
      "name": "Call Update Booking (E)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1127913.hstgr.cloud/webhook/cancel-booking",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_id: $json.event_id, attendee_email: $json.email, attendee_name: $json.customer_name, cancellation_reason: $json.cancellation_reason || 'Cancelled via Retell AI call', timezone: 'Asia/Manila' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        400
      ],
      "id": "http-cancel-booking",
      "name": "Call Cancel Booking (F)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "l1",
              "name": "logged",
              "value": "unknown_event",
              "type": "string"
            },
            {
              "id": "l2",
              "name": "raw_event",
              "value": "={{ $('Extract Event Data').first().json.event }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        400
      ],
      "id": "set-unknown",
      "name": "Log Unknown Event"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1920,
        208
      ],
      "id": "resp-200",
      "name": "Respond 200 OK"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WDhHh6uZJ3soUEuqDG0yNaLK4X64z6q8ouI7gBv_ncA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDhHh6uZJ3soUEuqDG0yNaLK4X64z6q8ouI7gBv_ncA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Email"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        928,
        208
      ],
      "id": "sheets-update-call",
      "name": "Update Call Data in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DBEwozLer2lI42WC",
          "name": "DP: Google Sheets Account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract Event Data').first().json;\nconst ended = $('Log Call Ended').first().json;\n\n// Build transcript string from Retell format\nlet transcript = ended.transcript || data.transcript || '';\n// Retell sends transcript as object/array sometimes — convert to string\nif (typeof transcript === 'object') {\n  try { transcript = JSON.stringify(transcript); } catch(e) { transcript = String(transcript); }\n}\n\nreturn [{ json: {\n  'Email': data.email || '',\n  'Call ID': ended.call_id || data.call_id || '',\n  'Call Status': 'ended',\n  'Transcript': transcript,\n  'Duration (sec)': (ended.duration_ms || data.duration_ms) ? Math.round((ended.duration_ms || data.duration_ms) / 1000) : ''\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        904,
        0
      ],
      "id": "prep_call_sheet",
      "name": "Prepare Call End Sheet"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WDhHh6uZJ3soUEuqDG0yNaLK4X64z6q8ouI7gBv_ncA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Email"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1104,
        0
      ],
      "id": "update_call_sheet",
      "name": "Update Sheet Call Ended",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DBEwozLer2lI42WC",
          "name": "DP: Google Sheets Account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract Analysis Data').first().json;\nconst extract = $('Extract Event Data').first().json;\n\nlet transcript = data.transcript || extract.transcript || '';\nif (typeof transcript === 'object') {\n  try { transcript = JSON.stringify(transcript); } catch(e) { transcript = String(transcript); }\n}\n\nreturn [{ json: {\n  'Email': data.email || extract.email || '',\n  'Call ID': data.call_id || extract.call_id || '',\n  'Call Status': 'analyzed',\n  'Transcript': transcript,\n  'Duration (sec)': extract.duration_ms ? Math.round(extract.duration_ms / 1000) : '',\n  'Call Summary': data.call_summary || '',\n  'Cost ($)': extract.cost || ''\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        728,
        208
      ],
      "id": "prep_analysis_sheet",
      "name": "Prepare Analysis Sheet"
    }
  ],
  "connections": {
    "Receive Retell Events": {
      "main": [
        [
          {
            "node": "Extract Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Event Data": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Log Call Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Call Ended",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Analysis Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unknown Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Call Started": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Call Ended": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Call End Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Analysis Data": {
      "main": [
        [
          {
            "node": "Prepare Analysis Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Booking Intent?": {
      "main": [
        [
          {
            "node": "Route Booking Intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Booking Intent": {
      "main": [
        [
          {
            "node": "Call Create Booking (D)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Update Booking (E)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Cancel Booking (F)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Create Booking (D)": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Update Booking (E)": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Cancel Booking (F)": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unknown Event": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Data in Sheet": {
      "main": [
        [
          {
            "node": "Has Booking Intent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Call End Sheet": {
      "main": [
        [
          {
            "node": "Update Sheet Call Ended",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Analysis Sheet": {
      "main": [
        [
          {
            "node": "Update Call Data in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "51292f39-400f-48a1-836f-b5ed181fbdd6",
  "activeVersionId": "51292f39-400f-48a1-836f-b5ed181fbdd6",
  "versionCounter": 34,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-17T13:59:39.463Z",
      "createdAt": "2026-03-17T13:59:39.463Z",
      "role": "workflow:owner",
      "workflowId": "REOW8qevo6ToVETX",
      "projectId": "p3k6mrxCVXQTfj2s",
      "project": {
        "updatedAt": "2025-12-28T03:48:55.498Z",
        "createdAt": "2025-12-23T06:42:33.272Z",
        "id": "p3k6mrxCVXQTfj2s",
        "name": "Don Puerto <don.puerto.1003@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e46dc87f-10bb-402e-9a73-9fe38838f451"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-17T14:31:28.982Z",
      "createdAt": "2026-03-17T14:31:28.982Z",
      "id": "94WxhQrJEC73SqLi",
      "name": "Workflow-B"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-19T16:22:42.364Z",
    "createdAt": "2026-03-19T16:22:42.364Z",
    "versionId": "51292f39-400f-48a1-836f-b5ed181fbdd6",
    "workflowId": "REOW8qevo6ToVETX",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "retell-events",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "wh-retell-events",
        "name": "Receive Retell Events",
        "webhookId": "retell-events-001"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "x1",
                "name": "event",
                "value": "={{ $json.body.event || 'unknown' }}",
                "type": "string"
              },
              {
                "id": "x2",
                "name": "call_id",
                "value": "={{ $json.body.call?.call_id || '' }}",
                "type": "string"
              },
              {
                "id": "x3",
                "name": "agent_id",
                "value": "={{ $json.body.call?.agent_id || '' }}",
                "type": "string"
              },
              {
                "id": "x4",
                "name": "call_status",
                "value": "={{ $json.body.call?.call_status || '' }}",
                "type": "string"
              },
              {
                "id": "x5",
                "name": "call_type",
                "value": "={{ $json.body.call?.call_type || '' }}",
                "type": "string"
              },
              {
                "id": "x6",
                "name": "metadata",
                "value": "={{ JSON.stringify($json.body.call?.metadata || {}) }}",
                "type": "string"
              },
              {
                "id": "x7",
                "name": "start_timestamp",
                "value": "={{ $json.body.call?.start_timestamp || '' }}",
                "type": "string"
              },
              {
                "id": "x8",
                "name": "end_timestamp",
                "value": "={{ $json.body.call?.end_timestamp || '' }}",
                "type": "string"
              },
              {
                "id": "x9",
                "name": "duration_ms",
                "value": "={{ $json.body.call?.duration_ms || 0 }}",
                "type": "number"
              },
              {
                "id": "x10",
                "name": "disconnection_reason",
                "value": "={{ $json.body.call?.disconnection_reason || '' }}",
                "type": "string"
              },
              {
                "id": "x11",
                "name": "transcript",
                "value": "={{ $json.body.call?.transcript || '' }}",
                "type": "string"
              },
              {
                "id": "x12",
                "name": "call_summary",
                "value": "={{ $json.body.call?.call_analysis?.call_summary || '' }}",
                "type": "string"
              },
              {
                "id": "x13",
                "name": "user_sentiment",
                "value": "={{ $json.body.call?.call_analysis?.user_sentiment || '' }}",
                "type": "string"
              },
              {
                "id": "x14",
                "name": "call_successful",
                "value": "={{ $json.body.call?.call_analysis?.call_successful || false }}",
                "type": "boolean"
              },
              {
                "id": "x15",
                "name": "booking_intent",
                "value": "={{ $json.body.call?.call_analysis?.custom_analysis_data?.booking_intent || '' }}",
                "type": "string"
              },
              {
                "id": "x16",
                "name": "requested_time",
                "value": "={{ $json.body.call?.call_analysis?.custom_analysis_data?.requested_time || '' }}",
                "type": "string"
              },
              {
                "id": "x17",
                "name": "service_type",
                "value": "={{ $json.body.call?.call_analysis?.custom_analysis_data?.service_type || '' }}",
                "type": "string"
              },
              {
                "id": "x18",
                "name": "customer_name",
                "value": "={{ $json.body.call?.metadata?.customer_name || '' }}",
                "type": "string"
              },
              {
                "id": "x19",
                "name": "email",
                "value": "={{ $json.body.call?.metadata?.email || '' }}",
                "type": "string"
              },
              {
                "id": "x20",
                "name": "event_id",
                "value": "={{ $json.body.call?.call_analysis?.custom_analysis_data?.event_id || '' }}",
                "type": "string"
              },
              {
                "id": "x21",
                "name": "cancellation_reason",
                "value": "={{ $json.body.call?.call_analysis?.custom_analysis_data?.cancellation_reason || '' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          0
        ],
        "id": "set-extract",
        "name": "Extract Event Data"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": ""
                  },
                  "conditions": [
                    {
                      "id": "r1",
                      "leftValue": "={{ $json.event }}",
                      "rightValue": "call_started",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "call_started"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": ""
                  },
                  "conditions": [
                    {
                      "id": "r2",
                      "leftValue": "={{ $json.event }}",
                      "rightValue": "call_ended",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "call_ended"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": ""
                  },
                  "conditions": [
                    {
                      "id": "r3",
                      "leftValue": "={{ $json.event }}",
                      "rightValue": "call_analyzed",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "call_analyzed"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          448,
          0
        ],
        "id": "switch-event",
        "name": "Route by Event Type"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "s1",
                "name": "action",
                "value": "call_started",
                "type": "string"
              },
              {
                "id": "s2",
                "name": "call_id",
                "value": "={{ $json.call_id }}",
                "type": "string"
              },
              {
                "id": "s3",
                "name": "status",
                "value": "active",
                "type": "string"
              },
              {
                "id": "s4",
                "name": "timestamp",
                "value": "={{ $json.start_timestamp }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          704,
          -208
        ],
        "id": "set-started",
        "name": "Log Call Started"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e1",
                "name": "action",
                "value": "call_ended",
                "type": "string"
              },
              {
                "id": "e2",
                "name": "call_id",
                "value": "={{ $json.call_id }}",
                "type": "string"
              },
              {
                "id": "e3",
                "name": "status",
                "value": "ended",
                "type": "string"
              },
              {
                "id": "e4",
                "name": "duration_ms",
                "value": "={{ $json.duration_ms }}",
                "type": "number"
              },
              {
                "id": "e5",
                "name": "disconnection_reason",
                "value": "={{ $json.disconnection_reason }}",
                "type": "string"
              },
              {
                "id": "e6",
                "name": "transcript",
                "value": "={{ $json.transcript }}",
                "type": "string"
              },
              {
                "id": "e7",
                "name": "email",
                "value": "={{ $json.email }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          704,
          0
        ],
        "id": "set-ended",
        "name": "Log Call Ended"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "action",
                "value": "call_analyzed",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "call_id",
                "value": "={{ $json.call_id }}",
                "type": "string"
              },
              {
                "id": "a3",
                "name": "call_summary",
                "value": "={{ $json.call_summary }}",
                "type": "string"
              },
              {
                "id": "a4",
                "name": "user_sentiment",
                "value": "={{ $json.user_sentiment }}",
                "type": "string"
              },
              {
                "id": "a5",
                "name": "call_successful",
                "value": "={{ $json.call_successful }}",
                "type": "boolean"
              },
              {
                "id": "a6",
                "name": "booking_intent",
                "value": "={{ $json.booking_intent }}",
                "type": "string"
              },
              {
                "id": "a7",
                "name": "requested_time",
                "value": "={{ $json.requested_time }}",
                "type": "string"
              },
              {
                "id": "a8",
                "name": "service_type",
                "value": "={{ $json.service_type }}",
                "type": "string"
              },
              {
                "id": "a9",
                "name": "customer_name",
                "value": "={{ $json.customer_name }}",
                "type": "string"
              },
              {
                "id": "a10",
                "name": "email",
                "value": "={{ $json.email }}",
                "type": "string"
              },
              {
                "id": "a11",
                "name": "transcript",
                "value": "={{ $json.transcript }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          704,
          208
        ],
        "id": "set-analyzed",
        "name": "Extract Analysis Data"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "caseSensitive": true
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.booking_intent }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "isNotEmpty"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1152,
          208
        ],
        "id": "if-booking-intent",
        "name": "Has Booking Intent?"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {},
              {},
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1360,
          112
        ],
        "id": "switch-booking",
        "name": "Route Booking Intent"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.srv1127913.hstgr.cloud/webhook/create-booking",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ start: $json.requested_time, event_title: $json.service_type || 'Booking via AI Call', attendee_email: $json.email, attendee_name: $json.customer_name, service_type: $json.service_type, timezone: 'Asia/Manila', notes: 'Booked via Retell AI call. Call ID: ' + $json.call_id }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1632,
          0
        ],
        "id": "http-create-booking",
        "name": "Call Create Booking (D)",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.srv1127913.hstgr.cloud/webhook/update-booking",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ event_id: $json.event_id, new_start: $json.requested_time, attendee_email: $json.email, attendee_name: $json.customer_name, service_type: $json.service_type, timezone: 'Asia/Manila', reason_for_change: 'Rescheduled via Retell AI call. Call ID: ' + $json.call_id }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1632,
          208
        ],
        "id": "http-update-booking",
        "name": "Call Update Booking (E)",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.srv1127913.hstgr.cloud/webhook/cancel-booking",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ event_id: $json.event_id, attendee_email: $json.email, attendee_name: $json.customer_name, cancellation_reason: $json.cancellation_reason || 'Cancelled via Retell AI call', timezone: 'Asia/Manila' }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1632,
          400
        ],
        "id": "http-cancel-booking",
        "name": "Call Cancel Booking (F)",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "l1",
                "name": "logged",
                "value": "unknown_event",
                "type": "string"
              },
              {
                "id": "l2",
                "name": "raw_event",
                "value": "={{ $('Extract Event Data').first().json.event }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          704,
          400
        ],
        "id": "set-unknown",
        "name": "Log Unknown Event"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ received: true }) }}",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1920,
          208
        ],
        "id": "resp-200",
        "name": "Respond 200 OK"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1WDhHh6uZJ3soUEuqDG0yNaLK4X64z6q8ouI7gBv_ncA",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Main",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDhHh6uZJ3soUEuqDG0yNaLK4X64z6q8ouI7gBv_ncA/edit#gid=0"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "Email"
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          928,
          208
        ],
        "id": "sheets-update-call",
        "name": "Update Call Data in Sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "DBEwozLer2lI42WC",
            "name": "DP: Google Sheets Account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const data = $('Extract Event Data').first().json;\nconst ended = $('Log Call Ended').first().json;\n\n// Build transcript string from Retell format\nlet transcript = ended.transcript || data.transcript || '';\n// Retell sends transcript as object/array sometimes — convert to string\nif (typeof transcript === 'object') {\n  try { transcript = JSON.stringify(transcript); } catch(e) { transcript = String(transcript); }\n}\n\nreturn [{ json: {\n  'Email': data.email || '',\n  'Call ID': ended.call_id || data.call_id || '',\n  'Call Status': 'ended',\n  'Transcript': transcript,\n  'Duration (sec)': (ended.duration_ms || data.duration_ms) ? Math.round((ended.duration_ms || data.duration_ms) / 1000) : ''\n} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          904,
          0
        ],
        "id": "prep_call_sheet",
        "name": "Prepare Call End Sheet"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1WDhHh6uZJ3soUEuqDG0yNaLK4X64z6q8ouI7gBv_ncA",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Main"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "Email"
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1104,
          0
        ],
        "id": "update_call_sheet",
        "name": "Update Sheet Call Ended",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "DBEwozLer2lI42WC",
            "name": "DP: Google Sheets Account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const data = $('Extract Analysis Data').first().json;\nconst extract = $('Extract Event Data').first().json;\n\nlet transcript = data.transcript || extract.transcript || '';\nif (typeof transcript === 'object') {\n  try { transcript = JSON.stringify(transcript); } catch(e) { transcript = String(transcript); }\n}\n\nreturn [{ json: {\n  'Email': data.email || extract.email || '',\n  'Call ID': data.call_id || extract.call_id || '',\n  'Call Status': 'analyzed',\n  'Transcript': transcript,\n  'Duration (sec)': extract.duration_ms ? Math.round(extract.duration_ms / 1000) : '',\n  'Call Summary': data.call_summary || '',\n  'Cost ($)': extract.cost || ''\n} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          728,
          208
        ],
        "id": "prep_analysis_sheet",
        "name": "Prepare Analysis Sheet"
      }
    ],
    "connections": {
      "Receive Retell Events": {
        "main": [
          [
            {
              "node": "Extract Event Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Event Data": {
        "main": [
          [
            {
              "node": "Route by Event Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Event Type": {
        "main": [
          [
            {
              "node": "Log Call Started",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Call Ended",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract Analysis Data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Unknown Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Call Started": {
        "main": [
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Call Ended": {
        "main": [
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prepare Call End Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Analysis Data": {
        "main": [
          [
            {
              "node": "Prepare Analysis Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Booking Intent?": {
        "main": [
          [
            {
              "node": "Route Booking Intent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Booking Intent": {
        "main": [
          [
            {
              "node": "Call Create Booking (D)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call Update Booking (E)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call Cancel Booking (F)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Create Booking (D)": {
        "main": [
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Update Booking (E)": {
        "main": [
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Cancel Booking (F)": {
        "main": [
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Unknown Event": {
        "main": [
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Call Data in Sheet": {
        "main": [
          [
            {
              "node": "Has Booking Intent?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Call End Sheet": {
        "main": [
          [
            {
              "node": "Update Sheet Call Ended",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Analysis Sheet": {
        "main": [
          [
            {
              "node": "Update Call Data in Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Don Puerto",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-19T16:22:42.404Z",
        "id": 747,
        "workflowId": "REOW8qevo6ToVETX",
        "versionId": "51292f39-400f-48a1-836f-b5ed181fbdd6",
        "event": "activated",
        "userId": "e46dc87f-10bb-402e-9a73-9fe38838f451"
      },
      {
        "createdAt": "2026-03-19T16:22:42.392Z",
        "id": 746,
        "workflowId": "REOW8qevo6ToVETX",
        "versionId": "51292f39-400f-48a1-836f-b5ed181fbdd6",
        "event": "deactivated",
        "userId": "e46dc87f-10bb-402e-9a73-9fe38838f451"
      }
    ]
  }
}