workflows/AI-powered Instagram content repurposing with OpenAI GPT-4O & Perplexity Research  Use for free Click to explore.json
{
  "updatedAt": "2026-03-06T00:27:30.417Z",
  "createdAt": "2026-03-06T00:26:29.829Z",
  "id": "6rciGn3SPbBPFhQj",
  "name": "AI-powered Instagram content repurposing with OpenAI GPT-4O & Perplexity Research  Use for free Click to explore",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a9e7abba-0175-4e72-a2da-42d147c89ad6",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -432,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "limit": 1,
        "handle": "={{ $json['Instagram Handles'] }}",
        "operation": "getInstagramUserPosts",
        "requestOptions": {}
      },
      "id": "b3b24e7d-935d-4184-aafb-5644a5cfed08",
      "name": "Get an instagram user s posts1",
      "type": "n8n-nodes-scrape-creators.scrapeCreators",
      "position": [
        352,
        416
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d43ea994-eb0c-4634-a0d7-9626329e0500",
              "name": "items[0].video_versions[0].url",
              "type": "string",
              "value": "={{ $json.items[0].video_versions[0].url }}"
            },
            {
              "id": "6b19de57-7cb0-4ad0-a310-75be63b1d2f2",
              "name": "items[0].video_versions[2].url",
              "type": "string",
              "value": "={{ $json.items[0].video_versions[2].url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "313c03ed-ce45-47fb-86a3-bf69467ed905",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        528,
        416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent admin assistant.",
              "role": "system"
            },
            {
              "content": "I run an AI & automation Instagram channel. I'm looking through news archives to find mentions of tools that I can repurpose into content for my channel.\n\nYour task is to take as input a transcript of a news archive, and then determine if the transcription is about a tool, a technology, or AI.\n\nIf so, you'll identify the tools, then write a list of step-by-step instructions to use the tool easily (ideally for free or for low cost), and one suggestion on exactly how to make this content more palatable to an AI automation audience.\n\nReturn your output in JSON using this format:\n\n{\n  \"verdict\":\"true or false\",\n  \"tools\":[\"list\",\"of\",\"tools\",\"or\",\"resources\"],\n  \"stepByStep\":\"Detailed instructions on how to use the tool(s).\",\n  \"suggestion\":\"Comprehensive, in-depth suggestions on how to make this content more interesting and palatable to my audience (AI automation).\",\n  \"searchPrompt\":\"A short search prompt we'll use to look up the service. Write it like '{toolName}, the {typeOfTool}'\"\n}\n\nIf verdict is \"false\", leave the rest of the fields empty."
            },
            {
              "content": "={\"transcript\":\"{{ $json.text }}\"}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "501036f5-a5ea-467f-ad1c-568b35f0fdd8",
      "name": "Filter & Generate Suggestions",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1120,
        416
      ],
      "retryOnFail": true,
      "typeVersion": 1.6,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.items[0].video_versions[0].url }}",
        "options": {}
      },
      "id": "670e3cbc-d11d-455a-a26a-f45fc68b0693",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        736,
        416
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "7420a7e2-bf1f-48d3-9c42-8bc51d8c6328",
      "name": "Transcribe Video",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        928,
        416
      ],
      "retryOnFail": true,
      "typeVersion": 1.6,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TOKEN_HERE KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and concise.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Tell me three interesting (peculiar) things about {{ $json.message.content.searchPrompt }}\"\n    }\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "43e429b5-0a04-40d5-8b48-4a80877d738f",
      "name": "Search Perplexity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1472,
        416
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent writing assistant.",
              "role": "system"
            },
            {
              "content": "I run an AI & automation Instagram channel.\n\nMy editors would like to make a new video. They've found an interesting tool or technology, compiled a step-by-step guide on how to use it, done some searching on the Internet to find some interesting things about it, wrote a rough draft about it, and we also had our chief editor write concrete suggestions for how to make the content better.\n\nYour task is to take as input all of these things, and then write a new, high quality script for us to feature.\n\nReturn your output in JSON using this format:\n\n{\n  \"script\":\"Your script goes here (~100 words).\n}\n\nRules:\n- Use a casual, spartan tone of voice. No frills. Be straightforward, and don't use poetic language.\n- End the script with a call to action like \"Want {thing}? Just comment {keyword} and I'll send it straight to your DMs\",\n- Add newlines as \\n between sentences."
            },
            {
              "content": "={\n  \"toolNames\":\"Speechma\",\n  \"roughDraftScript\":\"Hey there. So, I just wanted to let you know about a AI text-to-speech generator that has recently become available. It’s doesn’t cost anything at all.\\n\\nIt has a lot of voices! And the best part is you don’t need to sign up for an account in order to use it.\\n\\nThe process is really simple, too. You just go the site and type whatever you want converted into speech. There are lots of voices as well.\\n\\nIf this sounds interesting to you, I’d highly recommend giving it a try for yourself. Just leave a comment saying \"texttospeech,\" and I’ll make sure to send you the link so you can check it out firsthand.\",\n  \"perplexityOutput\": \"Here are three interesting things about Speechma, the AI text-to-speech tool:\\n\\n1. Speechma offers over 400 premium AI voices for text-to-speech conversion, allowing users to find the perfect voice for any project[1].\\n\\n2. The platform provides unlimited free usage with no restrictions on the number of conversions, which is unusual for a premium text-to-speech service[1].\\n\\n3. Speechma grants users commercial rights to use the generated audio for any purpose, including YouTube videos, TikTok content, and business presentations[1].\",\n  \"stepByStepGuide\":\"1. Visit the Speechma website.\\n2. Enter or paste your text into the provided text box.\\n3. Browse through the available 400+ voices and select one that fits your needs.\\n4. Choose the desired language from the 60 supported options.\\n5. Click the 'Generate' button to create your AI-generated speech.\\n6. Download or use your AI-generated speech as needed for projects like YouTube videos or TikToks.\",\n  \"suggestionsForImprovement\":\"Create a short tutorial video showing how to use Speechma, emphasizing its free nature and ease of use. Highlight its unlimited features and vast voice selection. Consider doing a voice comparison test using Speechma versus other popular tools. Discuss potential use cases such as content creation for social media, especially focusing on platforms like Instagram and TikTok, highlighting the benefit of rapid content creation using AI automation.\"\n}"
            },
            {
              "content": "={\n  \"script\":\"Hey—there’s a completely new AI text to speech generator that’s just as good as ElevenLabs, but FREE.\\nIt allows you to choose from over 400 voices, it supports 60 languages, and it’s all completely unlimited with no signup required.\\nJust head over to this website\\nPaste your text\\nChoose one of the voices\\nAnd click generate\\nThat’s it! Your AI speech is now ready to use.\\nYou can use this voice for YouTube videos, TikToks, or whatever you like.\\nSo go try it yourself.\\nJust Comment \"speech\" and I’ll share the link with you.\"\n}",
              "role": "assistant"
            },
            {
              "content": "={\n  \"toolNames\":\"{{ $('Filter & Generate Suggestions').item.json.message.content.tools.join() }}\",\n  \"roughDraftScript\":\"{{ $('Transcribe Video').all().first().json.text }}\",\n  \"perplexityOutput\": \"{{ $json.choices[0].message.content }}\",\n  \"stepByStepGuide\":\"{{ $('Filter & Generate Suggestions').item.json.message.content.stepByStep }}\",\n  \"suggestionsForImprovement\":\"{{ $('Filter & Generate Suggestions').item.json.message.content.suggestion }}\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.7
        }
      },
      "id": "c6f1ab4e-209d-4312-8cca-21b3c1a401cb",
      "name": "Write New Script",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1680,
        416
      ],
      "retryOnFail": true,
      "typeVersion": 1.6,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "673950fb-f963-4a9a-8c1a-e426da88a0a3",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        80,
        400
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1tH-0MOe-Y_BsB3coqtFhhmZVHmchD0jTH8A3w1he3o8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tH-0MOe-Y_BsB3coqtFhhmZVHmchD0jTH8A3w1he3o8/edit?usp=drivesdk",
          "cachedResultName": "Insta profiles for Phantom"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1977263029,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tH-0MOe-Y_BsB3coqtFhhmZVHmchD0jTH8A3w1he3o8/edit#gid=1977263029",
          "cachedResultName": "profiles"
        },
        "options": {}
      },
      "id": "d275bb7b-47bc-46cc-854d-9df463a23a9d",
      "name": "Get row(s) in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -208,
        400
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IgTz53yznufnsBXa",
          "name": "WR: Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1tH-0MOe-Y_BsB3coqtFhhmZVHmchD0jTH8A3w1he3o8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tH-0MOe-Y_BsB3coqtFhhmZVHmchD0jTH8A3w1he3o8/edit?usp=drivesdk",
          "cachedResultName": "Insta profiles for Phantom"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 375581874,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tH-0MOe-Y_BsB3coqtFhhmZVHmchD0jTH8A3w1he3o8/edit#gid=375581874",
          "cachedResultName": "pahtom output"
        },
        "columns": {
          "value": {
            "id": "={{ $('Get an instagram user s posts1').item.json.items[0].id }}",
            "caption": "={{ $('Get an instagram user s posts1').item.json.items[0].caption.text }}",
            "Duration": "={{ $('Get an instagram user s posts1').item.json.items[0].image_versions2.scrubber_spritesheet_info_candidates.default.video_length }}",
            "videoUrl": "={{ $('Get an instagram user s posts1').item.json.items[0].video_versions[0].url }}",
            "Username ": "={{ $('Get row(s) in sheet1').item.json['Instagram Handles'] }}",
            "timeStamp": "={{ new Date($('Get an instagram user s posts1').item.json.items[0].caption.created_at * 1000).toISOString() }}\n",
            "likesCount": "={{ $('Get an instagram user s posts1').item.json.items[0].like_count }}",
            "commentcount": "={{ $('Get an instagram user s posts1').item.json.items[0].comment_count }}",
            "original Script": "={{ $('Transcribe Video').item.json.text }}",
            "videoViewsCount": "={{ $('Get an instagram user s posts1').item.json.items[0].play_count }}",
            "rewritten Script": "={{ $json.message.content.script }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "timeStamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "timeStamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "caption",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "commentcount",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "commentcount",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "videoUrl",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "videoUrl",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "likesCount",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "likesCount",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "videoViewsCount",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "videoViewsCount",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Username ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Username ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Duration",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "original Script",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "original Script",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "rewritten Script",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "rewritten Script",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "style",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "style",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Updated",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Updated",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4193481e-1b7a-4b6c-985d-3d878108dfc1",
      "name": "Update Entries2",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2192,
        400
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IgTz53yznufnsBXa",
          "name": "WR: Google Sheets Account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "STEP 1: Data Input & Video Retrieval\nThis section pulls Instagram profiles from a Google Sheet and fetches their latest video posts for content analysis and repurposing.\n\nKey Components:\n* Manual Trigger - Initiates the workflow execution on demand\n* Google Sheets Reader - Retrieves Instagram handles from the \"profiles\" sheet\n* Loop Over Items - Processes each Instagram profile in batches\n* Scrape Creators API - Fetches the most recent Instagram post/video for each handle\n* Edit Fields - Extracts video URLs from the Instagram post data\n",
        "height": 304,
        "width": 496
      },
      "id": "a9595fa4-9827-49f7-b50c-f4239514ab59",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "STEP 2: Video Processing & AI Transcription\nThis section downloads Instagram videos and converts them to text using OpenAI's Whisper transcription model for content analysis.\n\nKey Components:\n* Download Video - Fetches the video file from Instagram's CDN\n* Transcribe Video - Uses OpenAI Whisper to convert video audio to text transcript\n* Error Handling - Continues workflow even if download or transcription fails\n",
        "height": 240,
        "width": 496
      },
      "id": "b561bd0a-2c9a-4220-bd96-bf5966a3423f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "STEP 3: AI Content Analysis & Enhancement\nThis section uses multiple AI models to analyze transcripts, filter relevant content, research tools mentioned, and generate optimized scripts for repurposing.\n\nKey Components:\n* Filter & Generate Suggestions (GPT-4O) - Analyzes transcripts to identify AI/automation tools and creates step-by-step guides\n* Search Perplexity - Performs web research to find interesting facts about identified tools\n* Write New Script (GPT-4O) - Generates polished, engaging scripts optimized for Instagram audience with CTAs\n",
        "height": 256,
        "width": 576
      },
      "id": "4168308a-8923-417c-a8f2-a3948c9d3f2f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "STEP 4: Data Storage & Loop Management\nThis section saves all processed data back to Google Sheets and manages the batch processing loop for multiple profiles.\n\nKey Components:\n* Update Entries - Writes video metadata, original transcripts, and rewritten scripts to \"phantom output\" sheet\n* Loop Return - Sends execution back to process the next Instagram profile\n* Error Handling - Ensures data is saved even if some steps fail",
        "height": 240,
        "width": 448
      },
      "id": "08c30638-a36b-4d81-9160-f9745df92be0",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        128
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Transcribe Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get an instagram user s posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Entries2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Video": {
      "main": [
        [
          {
            "node": "Filter & Generate Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write New Script": {
      "main": [
        [
          {
            "node": "Update Entries2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Perplexity": {
      "main": [
        [
          {
            "node": "Write New Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Generate Suggestions": {
      "main": [
        [
          {
            "node": "Search Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an instagram user s posts1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "be4fa235-9ab3-4013-8272-16822ee8f22f",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-06T00:26:29.832Z",
      "createdAt": "2026-03-06T00:26:29.832Z",
      "role": "workflow:owner",
      "workflowId": "6rciGn3SPbBPFhQj",
      "projectId": "p3k6mrxCVXQTfj2s",
      "project": {
        "updatedAt": "2025-12-28T03:48:55.498Z",
        "createdAt": "2025-12-23T06:42:33.272Z",
        "id": "p3k6mrxCVXQTfj2s",
        "name": "Don Puerto <don.puerto.1003@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e46dc87f-10bb-402e-9a73-9fe38838f451"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}