workflows/Generate and publish Instagram Reels with Gemini and Veo.json
{
  "updatedAt": "2026-03-06T00:10:15.622Z",
  "createdAt": "2026-03-06T00:10:09.295Z",
  "id": "E50Uk9Rk30lYiwby",
  "name": "Generate and publish Instagram Reels with Gemini and Veo",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "71075990-a4ea-445b-86da-12ff0c5dea26",
      "name": "Schedule Reel Posting",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        640,
        432
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "videoTopic",
              "type": "string",
              "value": "Create an engaging short video about daily motivation"
            },
            {
              "id": "id-2",
              "name": "caption",
              "type": "string",
              "value": "Daily motivation to inspire your day! #motivation #inspiration #reels"
            },
            {
              "id": "id-3",
              "name": "aspectRatio",
              "type": "string",
              "value": "9:16"
            }
          ]
        },
        "options": {}
      },
      "id": "04ccf72c-20fc-45da-9ab2-a3acff37e783",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        864,
        432
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {
              "content": "={{ 'Generate a detailed video prompt for a short-form vertical video (9:16 aspect ratio) about: ' + $json.videoTopic + '. The prompt should describe visual scenes, camera movements, and mood in detail for video generation AI. Keep it under 200 words and focus on visual storytelling.' }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "58df3470-b691-4abb-a4dd-d8406e2f82aa",
      "name": "Generate Video Prompt",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        1088,
        432
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "prompt": "={{ $json.message.content }}",
        "returnAs": "url",
        "options": {
          "aspectRatio": "={{ $('Workflow Configuration').item.json.aspectRatio }}"
        }
      },
      "id": "dc6ae06e-0e00-4cf7-8ba2-22fd700bec27",
      "name": "Generate Video with Veo",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        1440,
        432
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "node": "<__PLACEHOLDER_VALUE__Instagram Business Account ID__>",
        "caption": "={{ $('Workflow Configuration').item.json.caption }}",
        "resource": "reels",
        "videoUrl": "={{ $('Generate Video with Veo').item.json.url }}",
        "operation": "publish",
        "graphApiVersion": "v22.0"
      },
      "id": "f5d6513e-a503-43bd-86c4-1d741b316955",
      "name": "Publish to Instagram",
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "position": [
        1664,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🎬 Automated Instagram Reel Generator\n\n### 📖 HOW IT WORKS\n\n**Flow Overview:**\n1. **Schedule Trigger** - Runs daily at 9 AM (customizable)\n2. **Workflow Configuration** - Defines video topic, caption, and aspect ratio\n3. **Generate Video Prompt** - Gemini AI creates detailed visual prompt for video generation\n4. **Generate Video with Veo** - Google Veo generates the actual video from prompt\n5. **Publish to Instagram** - Posts the reel directly to your Instagram account\n\n**Processing Time:** 2-5 minutes per video (Veo generation)\n\n---\n\n### ⚙️ SETUP GUIDE\n\n**Step 1: Google Gemini Credentials**\n- Get API key: https://ai.google.dev/\n- Add credentials to both \"Generate Video Prompt\" and \"Generate Video with Veo\" nodes\n- Select model: gemini-2.0-flash recommended for prompt generation\n- Select Veo model for video generation\n\n**Step 2: Instagram Credentials**\n- Requires Facebook Graph API access token\n- Needed permissions: instagram_content_publish, pages_read_engagement\n- Get started: https://developers.facebook.com/docs/instagram-platform/instagram-graph-api/get-started\n- Add credentials to \"Publish to Instagram\" node\n\n**Step 3: Configure Content**\n- Edit \"Workflow Configuration\" node\n- Set **videoTopic**: Your content theme (e.g., \"daily motivation\", \"tech tips\")\n- Set **caption**: Instagram caption with hashtags\n- Set **aspectRatio**: 9:16 for Reels (default)\n\n**Step 4: Adjust Schedule**\n- Edit \"Schedule Reel Posting\" trigger\n- Change time/frequency as needed\n- Consider API rate limits (don't post too frequently)\n\n**Step 5: Test Before Activating**\n- Click \"Test workflow\" to run manually\n- Verify credentials work\n- Check video quality and Instagram post\n- Activate workflow when ready\n\n---\n\n\n### ⚠️ IMPORTANT NOTES\n\n- Check Google Gemini API quotas and pricing\n- Instagram has daily posting limits\n- Ensure workflow timeout > 5 minutes for video generation\n- Test thoroughly before scheduling\n\nDocs: https://docs.n8n.io/",
        "height": 1376,
        "width": 520,
        "color": 4
      },
      "id": "e4e8f56d-a44a-4045-9c53-d7f15bb4c376",
      "name": "📋 Setup Guide & How It Works",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Generate Video Prompt": {
      "main": [
        [
          {
            "node": "Generate Video with Veo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Reel Posting": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Generate Video Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video with Veo": {
      "main": [
        [
          {
            "node": "Publish to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a57ced3c-27da-4b37-904a-a7f9326f9a98",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-06T00:10:09.299Z",
      "createdAt": "2026-03-06T00:10:09.299Z",
      "role": "workflow:owner",
      "workflowId": "E50Uk9Rk30lYiwby",
      "projectId": "p3k6mrxCVXQTfj2s",
      "project": {
        "updatedAt": "2025-12-28T03:48:55.498Z",
        "createdAt": "2025-12-23T06:42:33.272Z",
        "id": "p3k6mrxCVXQTfj2s",
        "name": "Don Puerto <don.puerto.1003@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e46dc87f-10bb-402e-9a73-9fe38838f451"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}