workflows/N8N Whatsapp RAG Agent.json
{
  "updatedAt": "2026-02-14T13:17:53.451Z",
  "createdAt": "2026-02-14T12:13:39.763Z",
  "id": "4rsIhCjs3w7EdkZAMOK_1",
  "name": "N8N Whatsapp RAG Agent",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -64
      ],
      "id": "209ae4dd-4f40-4784-99b7-2ad38d2d520f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/fileSearchStores",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "upload_file",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -48
      ],
      "id": "37c01203-6690-4bee-acfe-feec94c67eeb",
      "name": "DP: Upload Document",
      "credentials": {
        "httpQueryAuth": {
          "id": "VmMwctZATkFWols1",
          "name": "DP: Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/fileSearchStores",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "displayName",
              "value": "whatsapp-data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        -64
      ],
      "id": "7079bff4-abe0-47f5-8362-5c8e0c328196",
      "name": "DP: Gemini File Store",
      "credentials": {
        "httpQueryAuth": {
          "id": "VmMwctZATkFWols1",
          "name": "DP: Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/fileSearchStores/whatsapp-data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_name",
              "value": "={{ $json.file.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        -48
      ],
      "id": "cc010bb6-86c7-4304-a056-33b432e450e3",
      "name": "DP: Move to file store",
      "credentials": {
        "httpQueryAuth": {
          "id": "VmMwctZATkFWols1",
          "name": "DP: Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        240,
        -48
      ],
      "id": "9f24ff61-fbdf-4bb6-85ce-b5a1ae1297e4",
      "name": "Analyze document"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "DP: Gemini File Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DP: Upload Document": {
      "main": [
        [
          {
            "node": "DP: Move to file store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "DP: Upload Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ef43115c-7bd6-401b-9bea-249a629a9c83",
  "activeVersionId": null,
  "versionCounter": 57,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-14T12:13:39.766Z",
      "createdAt": "2026-02-14T12:13:39.766Z",
      "role": "workflow:owner",
      "workflowId": "4rsIhCjs3w7EdkZAMOK_1",
      "projectId": "p3k6mrxCVXQTfj2s",
      "project": {
        "updatedAt": "2025-12-28T03:48:55.498Z",
        "createdAt": "2025-12-23T06:42:33.272Z",
        "id": "p3k6mrxCVXQTfj2s",
        "name": "Don Puerto <don.puerto.1003@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
        "projectRelations": [
          {
            "updatedAt": "2025-12-23T06:42:33.313Z",
            "createdAt": "2025-12-23T06:42:33.313Z",
            "userId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
            "projectId": "p3k6mrxCVXQTfj2s",
            "user": {
              "updatedAt": "2026-02-16T14:26:24.000Z",
              "createdAt": "2025-12-23T06:42:33.249Z",
              "id": "e46dc87f-10bb-402e-9a73-9fe38838f451",
              "email": "don.puerto.1003@gmail.com",
              "firstName": "Don",
              "lastName": "Puerto",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-28T03:49:29.611Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "reporting",
                  "monitoring-alerting",
                  "data-syncing",
                  "other"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "-yN8AJ3CHdjtkwnalEIuo",
                "userActivated": true,
                "userActivatedAt": 1771210378925
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}