workflows/RAG Gemini File Search v2.json
{
  "updatedAt": "2026-02-16T15:56:29.000Z",
  "createdAt": "2026-02-16T15:56:29.018Z",
  "id": "cumBZaZPkGNaDSta",
  "name": "RAG Gemini File Search v2",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/fileSearchStores",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "displayName",
              "value": "{STORAGE-NAME}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        336
      ],
      "id": "7fdc917e-fe9f-4165-8609-46e1deb94fc3",
      "name": "Create Storage"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "6dd05092-490a-4383-8a99-50801d324d50",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        240
      ],
      "id": "ece2494f-ef58-449e-832b-0c1da2f38ecc",
      "name": "Download file"
    },
    {
      "parameters": {
        "options": {},
        "path": "dd472548-f751-4544-ae67-07e6a16e65f1"
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        2112,
        304
      ],
      "id": "96d28b63-4db9-47eb-b2fa-0001b4b8b876",
      "name": "When chat message received",
      "webhookId": "dd472548-f751-4544-ae67-07e6a16e65f1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Your job is to answer the user's questions by only using the File Search tool as knowledge base.\n\nRules:\n- Query sent to the File Search tool must only be text. No punctuations, quotation marks, or new lines.\n- Always cite your source"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2256,
        304
      ],
      "id": "dea25076-023e-406a-9cec-65d260c2e84e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n            \"contents\": [{\n                \"parts\":[{\"text\": \"{{ $fromAI(\"query\",\"the question the user needs an answer to\") }}\"}]          \n            }],\n          \"tools\": [{\n                \"file_search\": { \"file_search_store_names\":[\"{STORAGE-NAME}\"] }\n            }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2400,
        400
      ],
      "id": "71d329a0-fe6c-42a4-9045-837a543b86b4",
      "name": "File Search",
      "credentials": {
        "httpQueryAuth": {
          "id": "VmMwctZATkFWols1",
          "name": "DP: Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2256,
        400
      ],
      "id": "ba499b57-1f2e-488e-ab11-faac651366d1",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $json.name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "force",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1712,
        352
      ],
      "id": "60201a66-a0e6-4412-a9fb-92a9342be7b2",
      "name": "Delete Doc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/upload/v1beta/{STORAGE-NAME}:uploadToFileSearchStore",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "resumable"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "start"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json.size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "={{ $json.mimeType }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"display_name\": \"{{ $json.id }}\",\n  \"custom_metadata\": [\n    {\"key\": \"drive_id\", \"string_value\": \"{{ $json.id }}\"}\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        240
      ],
      "id": "85e02cb4-0cae-4566-a053-6b0ba6a7743d",
      "name": "Upload",
      "credentials": {
        "httpQueryAuth": {
          "id": "VmMwctZATkFWols1",
          "name": "DP: Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.headers['x-goog-upload-url'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Content-Length",
              "value": "={{ $('Google Drive Trigger').item.json.size }}"
            },
            {
              "name": "X-Goog-Upload-Offset",
              "value": "0"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "upload, finalize"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        432
      ],
      "id": "77947728-4370-4706-93dd-5ad456ac90e3",
      "name": "Import Binary"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        336
      ],
      "id": "9b2cd7be-0672-4d45-b6fb-196b11891944",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "A7b9FKJyvlW9T4LT",
          "mode": "list",
          "cachedResultName": "YT Tutorial",
          "cachedResultUrl": "/projects/DbDFXvmiFjwKFwFv/datatables/A7b9FKJyvlW9T4LT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "fileID": "={{ $('Google Drive Trigger').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "fileID",
              "displayName": "fileID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        624,
        432
      ],
      "id": "b4893421-16a4-45bd-851f-3ed9d7f28dbb",
      "name": "Insert row"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        928,
        240
      ],
      "id": "644b9ba4-3af2-4fe1-ac48-63a137e79530",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files?q=%27{{ $json.folderID }}%27%20in%20parents%20and%20trashed%3Dfalse&fields=files(id,name,mimeType,size)",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        432
      ],
      "id": "959978f3-6667-4853-8d3a-de335b4a404b",
      "name": "Get GDrive Files"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab4371e4-21d7-4444-9d2c-367d348e9949",
              "name": "folderID",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        240
      ],
      "id": "2b70faa3-c445-4483-85d1-c4f47c8458f2",
      "name": "Set Folder ID"
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1104,
        432
      ],
      "id": "219e9a9a-9f7e-4f2d-848a-7cb2884b6539",
      "name": "Split Out1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "A7b9FKJyvlW9T4LT",
          "mode": "list",
          "cachedResultName": "YT Tutorial",
          "cachedResultUrl": "/projects/DbDFXvmiFjwKFwFv/datatables/A7b9FKJyvlW9T4LT"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1312,
        304
      ],
      "id": "336aca85-9725-41fa-bd45-32a950ed33e3",
      "name": "Get row(s)",
      "executeOnce": true
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "fileID",
              "field2": "id"
            }
          ]
        },
        "resolve": "preferInput1",
        "options": {
          "skipFields": "createdAt, updatedAt, name, mimeType, size"
        }
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1488,
        368
      ],
      "id": "31c62ac2-7ae8-40bd-b22f-71c102225a85",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "A7b9FKJyvlW9T4LT",
          "mode": "list",
          "cachedResultName": "YT Tutorial",
          "cachedResultUrl": "/projects/DbDFXvmiFjwKFwFv/datatables/A7b9FKJyvlW9T4LT"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "fileID",
              "keyValue": "={{ $('Compare Datasets').item.json.fileID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1856,
        352
      ],
      "id": "105dc22b-8303-4ccf-a939-27deae817e25",
      "name": "Delete row(s)"
    },
    {
      "parameters": {
        "content": "# Create Storage Folder\n### Create the bucket where your files will be stored\n- Change the value for displayName to whatever you like",
        "height": 464,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        128
      ],
      "typeVersion": 1,
      "id": "5005fc56-6928-4f29-80ae-d841492de2bd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Upload files from GDrive to storage folder\n### The automation will detect for any new files created in a watched folder and upload it into your storage folder",
        "height": 464,
        "width": 704,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        128
      ],
      "typeVersion": 1,
      "id": "4d6c68aa-202b-4bc8-b63f-294d66c63cab",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Remove deleted files from GDrive from the storage folder\n- Scope: https://www.googleapis.com/auth/drive",
        "height": 464,
        "width": 1184,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        128
      ],
      "typeVersion": 1,
      "id": "649b5d9f-d3ad-49d1-91ab-edbdfc2a67c3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# RAG agent",
        "height": 464,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        128
      ],
      "typeVersion": 1,
      "id": "c05f4227-dbe3-4a63-88a0-deb695f7f5c6",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Import Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import Binary": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Folder ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Folder ID": {
      "main": [
        [
          {
            "node": "Get GDrive Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GDrive Files": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Delete Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Doc": {
      "main": [
        [
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "92c726d9-3069-48a7-9f1b-1484d4c1282a",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-16T15:56:29.024Z",
      "createdAt": "2026-02-16T15:56:29.024Z",
      "role": "workflow:owner",
      "workflowId": "cumBZaZPkGNaDSta",
      "projectId": "p3k6mrxCVXQTfj2s",
      "project": {
        "updatedAt": "2025-12-28T03:48:55.498Z",
        "createdAt": "2025-12-23T06:42:33.272Z",
        "id": "p3k6mrxCVXQTfj2s",
        "name": "Don Puerto <don.puerto.1003@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
        "projectRelations": [
          {
            "updatedAt": "2025-12-23T06:42:33.313Z",
            "createdAt": "2025-12-23T06:42:33.313Z",
            "userId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
            "projectId": "p3k6mrxCVXQTfj2s",
            "user": {
              "updatedAt": "2026-02-16T14:26:24.000Z",
              "createdAt": "2025-12-23T06:42:33.249Z",
              "id": "e46dc87f-10bb-402e-9a73-9fe38838f451",
              "email": "don.puerto.1003@gmail.com",
              "firstName": "Don",
              "lastName": "Puerto",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-28T03:49:29.611Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "reporting",
                  "monitoring-alerting",
                  "data-syncing",
                  "other"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "-yN8AJ3CHdjtkwnalEIuo",
                "userActivated": true,
                "userActivatedAt": 1771210378925
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}