workflows/RAG Gemini File Search v1.json
{
  "updatedAt": "2026-02-16T15:56:14.422Z",
  "createdAt": "2026-02-14T13:38:20.371Z",
  "id": "Ff4l8nf0SUrwaAC0EJ6so",
  "name": "RAG Gemini File Search v1",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/fileSearchStores",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "displayName",
              "value": "{STORAGE-NAME}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        336
      ],
      "id": "426d2dcd-ee3b-4218-a078-82c6a5645c50",
      "name": "Create Storage"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "307535f9-38ed-43c0-b385-c1e7c9edcc6c",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        240
      ],
      "id": "f0bbc11b-5efe-46d8-b36a-5686090aefdf",
      "name": "Download file"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        2112,
        304
      ],
      "id": "0bb921ba-da75-4ecc-ae21-69d9de3439f6",
      "name": "When chat message received",
      "webhookId": "ac68753c-613b-4932-9c65-9398f6472e89"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Your job is to answer the user's questions by only using the File Search tool as knowledge base.\n\nRules:\n- Query sent to the File Search tool must only be text. No punctuations, quotation marks, or new lines.\n- Always cite your source"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2256,
        304
      ],
      "id": "11e3d123-ee97-46fa-b547-5f93047b8e91",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n            \"contents\": [{\n                \"parts\":[{\"text\": \"{{ $fromAI(\"query\",\"the question the user needs an answer to\") }}\"}]          \n            }],\n          \"tools\": [{\n                \"file_search\": { \"file_search_store_names\":[\"{STORAGE-NAME}\"] }\n            }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2400,
        400
      ],
      "id": "0172b6e1-f813-4d3f-aad5-f28ff5a2c7a3",
      "name": "File Search",
      "credentials": {
        "httpQueryAuth": {
          "id": "VmMwctZATkFWols1",
          "name": "DP: Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2256,
        400
      ],
      "id": "1aa1d787-0a92-4087-a186-35cb6b9b00cc",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $json.name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "force",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1712,
        352
      ],
      "id": "306bb6b5-c961-44e0-aa9a-d6304d20b3bc",
      "name": "Delete Doc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/upload/v1beta/{STORAGE-NAME}:uploadToFileSearchStore",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "resumable"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "start"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json.size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "={{ $json.mimeType }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"display_name\": \"{{ $json.id }}\",\n  \"custom_metadata\": [\n    {\"key\": \"drive_id\", \"string_value\": \"{{ $json.id }}\"}\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        240
      ],
      "id": "6c785f14-8a28-4249-83d8-c6e85936290e",
      "name": "Upload",
      "credentials": {
        "httpQueryAuth": {
          "id": "VmMwctZATkFWols1",
          "name": "DP: Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.headers['x-goog-upload-url'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Content-Length",
              "value": "={{ $('Google Drive Trigger').item.json.size }}"
            },
            {
              "name": "X-Goog-Upload-Offset",
              "value": "0"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "upload, finalize"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        432
      ],
      "id": "eb6d85f8-e0b2-4d0b-b878-f9471538ff40",
      "name": "Import Binary"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        336
      ],
      "id": "69ed8fda-f622-4857-9f9f-ab38820137fd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "A7b9FKJyvlW9T4LT",
          "mode": "list",
          "cachedResultName": "YT Tutorial",
          "cachedResultUrl": "/projects/DbDFXvmiFjwKFwFv/datatables/A7b9FKJyvlW9T4LT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "fileID": "={{ $('Google Drive Trigger').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "fileID",
              "displayName": "fileID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        624,
        432
      ],
      "id": "70bee63f-220e-456e-a39e-33d0aa194251",
      "name": "Insert row"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        928,
        240
      ],
      "id": "4a8f6d3b-a04c-447a-b791-256ac39255b1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files?q=%27{{ $json.folderID }}%27%20in%20parents%20and%20trashed%3Dfalse&fields=files(id,name,mimeType,size)",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        432
      ],
      "id": "f018726f-33de-4640-b32b-47592c712dde",
      "name": "Get GDrive Files"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab4371e4-21d7-4444-9d2c-367d348e9949",
              "name": "folderID",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        240
      ],
      "id": "5aaecce5-ec0e-47cf-8bfc-4b061ca2ee8e",
      "name": "Set Folder ID"
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1104,
        432
      ],
      "id": "7593ab3a-ef6e-479c-9036-4c31a63295c4",
      "name": "Split Out1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "A7b9FKJyvlW9T4LT",
          "mode": "list",
          "cachedResultName": "YT Tutorial",
          "cachedResultUrl": "/projects/DbDFXvmiFjwKFwFv/datatables/A7b9FKJyvlW9T4LT"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1312,
        304
      ],
      "id": "b1f06ffc-6eaa-4ee0-9e65-9e38ff213672",
      "name": "Get row(s)",
      "executeOnce": true
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "fileID",
              "field2": "id"
            }
          ]
        },
        "resolve": "preferInput1",
        "options": {
          "skipFields": "createdAt, updatedAt, name, mimeType, size"
        }
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1488,
        368
      ],
      "id": "c2d0bf55-f19e-45ce-bf28-11b24c00fe3a",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "A7b9FKJyvlW9T4LT",
          "mode": "list",
          "cachedResultName": "YT Tutorial",
          "cachedResultUrl": "/projects/DbDFXvmiFjwKFwFv/datatables/A7b9FKJyvlW9T4LT"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "fileID",
              "keyValue": "={{ $('Compare Datasets').item.json.fileID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1856,
        352
      ],
      "id": "61b470a8-196c-4f3a-9cd4-896ed25181a3",
      "name": "Delete row(s)"
    },
    {
      "parameters": {
        "content": "# Create Storage Folder\n### Create the bucket where your files will be stored\n- Change the value for displayName to whatever you like",
        "height": 464,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        128
      ],
      "typeVersion": 1,
      "id": "f0c3b42e-2853-4503-9d74-99210af5f456",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Upload files from GDrive to storage folder\n### The automation will detect for any new files created in a watched folder and upload it into your storage folder",
        "height": 464,
        "width": 704,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        128
      ],
      "typeVersion": 1,
      "id": "69c7221c-b352-49f8-8820-76ccc5904e72",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Remove deleted files from GDrive from the storage folder\n- Scope: https://www.googleapis.com/auth/drive",
        "height": 464,
        "width": 1184,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        128
      ],
      "typeVersion": 1,
      "id": "ee5ec6fa-8004-4e52-8872-23dfe6c2cf5d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# RAG agent",
        "height": 464,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        128
      ],
      "typeVersion": 1,
      "id": "c27a54d6-1bac-4be6-acff-db3df7c50225",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Import Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import Binary": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Folder ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Folder ID": {
      "main": [
        [
          {
            "node": "Get GDrive Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GDrive Files": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Delete Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Doc": {
      "main": [
        [
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "34fc874a-426a-4564-b765-8751efffbad5",
  "activeVersionId": null,
  "versionCounter": 10,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-14T13:38:20.373Z",
      "createdAt": "2026-02-14T13:38:20.373Z",
      "role": "workflow:owner",
      "workflowId": "Ff4l8nf0SUrwaAC0EJ6so",
      "projectId": "p3k6mrxCVXQTfj2s",
      "project": {
        "updatedAt": "2025-12-28T03:48:55.498Z",
        "createdAt": "2025-12-23T06:42:33.272Z",
        "id": "p3k6mrxCVXQTfj2s",
        "name": "Don Puerto <don.puerto.1003@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
        "projectRelations": [
          {
            "updatedAt": "2025-12-23T06:42:33.313Z",
            "createdAt": "2025-12-23T06:42:33.313Z",
            "userId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
            "projectId": "p3k6mrxCVXQTfj2s",
            "user": {
              "updatedAt": "2026-02-16T14:26:24.000Z",
              "createdAt": "2025-12-23T06:42:33.249Z",
              "id": "e46dc87f-10bb-402e-9a73-9fe38838f451",
              "email": "don.puerto.1003@gmail.com",
              "firstName": "Don",
              "lastName": "Puerto",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-28T03:49:29.611Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "reporting",
                  "monitoring-alerting",
                  "data-syncing",
                  "other"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "-yN8AJ3CHdjtkwnalEIuo",
                "userActivated": true,
                "userActivatedAt": 1771210378925
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}