workflows/reviewFunnel.json
{
  "updatedAt": "2026-02-16T08:54:56.853Z",
  "createdAt": "2026-02-13T03:51:41.496Z",
  "id": "7qcxlXpoQdgL2IRZLnLjR",
  "name": "reviewFunnel",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "topic": "orders/fulfilled"
      },
      "type": "n8n-nodes-base.shopifyTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9b981efa-65f5-48cd-8394-940f71fd2bff",
      "name": "Shopify Trigger",
      "webhookId": "0f8c7c98-0d7a-41b4-86b1-484dc04678f5",
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "GM2UhKe3UQoTJHft",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "a1c4828e-8513-4bef-8cc1-327c6b225b74",
      "name": "Wait",
      "webhookId": "51d37979-64d4-43be-a0e9-b3141f777469"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7b1657c-276a-4752-af00-f983ab237582",
              "name": "order_number",
              "value": "={{ $json.order_number }}",
              "type": "number"
            },
            {
              "id": "d8ea47d2-3557-416d-815d-1e25b3a1d658",
              "name": "contact_email",
              "value": "={{ $json.contact_email }}",
              "type": "string"
            },
            {
              "id": "00d8c4b3-f850-48a2-84ae-5fae6437fc93",
              "name": "customer.first_name",
              "value": "={{ $json.customer.first_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        -96
      ],
      "id": "f558dcda-eb25-4eba-b27f-348591d103a1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.contact_email }}",
        "subject": "Quick question about your recent order",
        "message": "=Hi {{ $json.customer.first_name }},\n<br><br>\nQuick question for you — did the part solve the problem the way you expected?\n<br><br>\nClick the option that fits:\n\n<br><br>\n\n<strong>Everything worked perfectly</strong>\n<a href=\"https://n8n.srv1127913.hstgr.cloud/webhook/review-happy?email={{ $json.contact_email }}&order={{ $json.order_number }}\">\nYes — job done.\n</a>\n\n<br><br>\n\n<strong>Something wasn’t right</strong>\n<a href=\"https://n8n.srv1127913.hstgr.cloud/webhook/review-help?email={{ $json.contact_email }}&order={{ $json.order_number }}\">\nNo — I need help.\n</a>\n\n<br><br>\n\nIf it didn’t fit, didn’t perform, or just wasn’t what you expected we’ll make it right.\n\nNo hassle. No back-and-forth.\n\nThat’s how we do business.\n\n<br><br>\n\nWindow Revival Shop",
        "options": {
          "appendAttribution": true,
          "bccList": "shop@windowrevival.com.au",
          "replyTo": "shop@windowrevival.com.au"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        -96
      ],
      "id": "996d5635-febd-4068-bf07-6080585c794f",
      "name": "Send a message",
      "webhookId": "c704bb28-568a-414f-a65a-c39fbbe83a5e",
      "credentials": {
        "gmailOAuth2": {
          "id": "XttthNS8ehA8gBFE",
          "name": "WR: Revival Shop"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0056568e-5dd0-4b8c-915e-5e5c6d12e242",
              "leftValue": "={{ (Array.isArray($json) ? $json[0] : $json).financial_status }}",
              "rightValue": "paid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c16fd693-54ca-4072-a612-a1e571305233",
              "leftValue": "={{ (Array.isArray($json) ? $json[0] : $json).fulfillment_status }}",
              "rightValue": "fulfilled",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "776e7d3e-aa70-4894-a590-9c6af2861217",
              "leftValue": "={{ (Array.isArray($json) ? $json[0] : $json).cancelled_at }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "49b9505b-fc66-4557-b84a-d68f3747ba6c",
              "leftValue": "={{ ((Array.isArray($json) ? $json[0] : $json).refunds || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "7a842510-f69a-47a4-8639-9374ac1fbaa3",
              "leftValue": "={{ (Array.isArray($json) ? $json[0] : $json).email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8589a686-33da-4c95-a728-8667b4d4e64d",
              "leftValue": "={{ $('Get row(s) in sheet').item.json.status }}",
              "rightValue": "🟢 Delivered",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        0
      ],
      "id": "cd0160c5-9bc9-4d68-b796-19a39567dac8",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "orderId": "={{ $('Shopify Trigger').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.shopify",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "34bf9c3a-b48b-4dba-ac9b-6ca076571702",
      "name": "Get an order",
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "GM2UhKe3UQoTJHft",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        112
      ],
      "id": "c434ce12-e942-4a01-bc42-6afcd2955c84",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Saoy_4dBYP6pOevexzFizFDmkFt-6ARlmwRvYPzGtWU/edit?pli=1&gid=2095084692#gid=2095084692",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2095084692,
          "mode": "list",
          "cachedResultName": "Tracker - Shopify",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Saoy_4dBYP6pOevexzFizFDmkFt-6ARlmwRvYPzGtWU/edit#gid=2095084692"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=order_no",
              "lookupValue": "=#{{ $json.order_number }}"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 3,
              "firstDataRow": 6
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        0
      ],
      "id": "eeb3410d-fc11-4e0c-adc8-4eca0fbb8cd2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iNsBYYAG0CoB29qK",
          "name": "WR: Google Sheets Shop"
        }
      }
    }
  ],
  "connections": {
    "Shopify Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Get an order": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Get an order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "uuxIWB5TVjU2H3nWtHINp",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600
  },
  "staticData": {
    "node:Shopify Trigger": {
      "webhookId": 1567795773607
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Shopify Trigger": [
      {
        "json": {
          "id": 6706439684263,
          "admin_graphql_api_id": "gid://shopify/Order/6706439684263",
          "app_id": 580111,
          "browser_ip": "2403:580b:5291:0:dcbd:33f3:df9a:7117",
          "buyer_accepts_marketing": true,
          "cancel_reason": null,
          "cancelled_at": null,
          "cart_token": "hWN8gSn7MTNmIgENf4c5crDg",
          "checkout_id": 33469009068199,
          "checkout_token": "d476c9e7785977af62071f88e67ac315",
          "client_details": {
            "accept_language": "en-AU",
            "browser_height": null,
            "browser_ip": "2403:580b:5291:0:dcbd:33f3:df9a:7117",
            "browser_width": null,
            "session_hash": null,
            "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36"
          },
          "closed_at": "2026-02-13T14:54:50+11:00",
          "confirmation_number": "5PJPW7DHY",
          "confirmed": true,
          "contact_email": "conradvernon11@gmail.com",
          "created_at": "2026-02-12T14:12:50+11:00",
          "currency": "AUD",
          "current_shipping_price_set": {
            "shop_money": {
              "amount": "21.00",
              "currency_code": "AUD"
            },
            "presentment_money": {
              "amount": "21.00",
              "currency_code": "AUD"
            }
          },
          "current_subtotal_price": "56.00",
          "current_subtotal_price_set": {
            "shop_money": {
              "amount": "56.00",
              "currency_code": "AUD"
            },
            "presentment_money": {
              "amount": "56.00",
              "currency_code": "AUD"
            }
          },
          "current_total_additional_fees_set": null,
          "current_total_discounts": "0.00",
          "current_total_discounts_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "AUD"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "AUD"
            }
          },
          "current_total_duties_set": null,
          "current_total_price": "77.00",
          "current_total_price_set": {
            "shop_money": {
              "amount": "77.00",
              "currency_code": "AUD"
            },
            "presentment_money": {
              "amount": "77.00",
              "currency_code": "AUD"
            }
          },
          "current_total_tax": "0.00",
          "current_total_tax_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "AUD"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "AUD"
            }
          },
          "customer_locale": "en-AU",
          "device_id": null,
          "discount_codes": [],
          "duties_included": false,
          "email": "test@email.com",
          "estimated_taxes": false,
          "financial_status": "paid",
          "fulfillment_status": "fulfilled",
          "landing_site": "/?srsltid=AfmBOoozWjOJGS6eo04a5c7-zSok4XT5qu6srxZ-qg4nOP9e4RtEvmo6",
          "landing_site_ref": null,
          "location_id": null,
          "merchant_business_entity_id": "MTM5ODA0ODk1Mzk5",
          "merchant_of_record_app_id": null,
          "name": "#1214",
          "note": null,
          "note_attributes": [],
          "number": 214,
          "order_number": 1214,
          "order_status_url": "https://windowrevivalshop.com/39804895399/orders/231c8934f864c5e06d4880a19f3ec650/authenticate?key=2c538fabf0765ae19ad549826777c609",
          "original_total_additional_fees_set": null,
          "original_total_duties_set": null,
          "payment_gateway_names": [
            "bogus"
          ],
          "phone": null,
          "po_number": null,
          "presentment_currency": "AUD",
          "processed_at": "2026-02-12T14:12:47+11:00",
          "reference": null,
          "referring_site": "https://www.google.com/",
          "source_identifier": null,
          "source_name": "web",
          "source_url": null,
          "subtotal_price": "56.00",
          "subtotal_price_set": {
            "shop_money": {
              "amount": "56.00",
              "currency_code": "AUD"
            },
            "presentment_money": {
              "amount": "56.00",
              "currency_code": "AUD"
            }
          },
          "tags": "",
          "tax_exempt": false,
          "tax_lines": [],
          "taxes_included": false,
          "test": true,
          "token": "231c8934f864c5e06d4880a19f3ec650",
          "total_cash_rounding_payment_adjustment_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "AUD"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "AUD"
            }
          },
          "total_cash_rounding_refund_adjustment_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "AUD"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "AUD"
            }
          },
          "total_discounts": "0.00",
          "total_discounts_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "AUD"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "AUD"
            }
          },
          "total_line_items_price": "56.00",
          "total_line_items_price_set": {
            "shop_money": {
              "amount": "56.00",
              "currency_code": "AUD"
            },
            "presentment_money": {
              "amount": "56.00",
              "currency_code": "AUD"
            }
          },
          "total_outstanding": "0.00",
          "total_price": "77.00",
          "total_price_set": {
            "shop_money": {
              "amount": "77.00",
              "currency_code": "AUD"
            },
            "presentment_money": {
              "amount": "77.00",
              "currency_code": "AUD"
            }
          },
          "total_shipping_price_set": {
            "shop_money": {
              "amount": "21.00",
              "currency_code": "AUD"
            },
            "presentment_money": {
              "amount": "21.00",
              "currency_code": "AUD"
            }
          },
          "total_tax": "0.00",
          "total_tax_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "AUD"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "AUD"
            }
          },
          "total_tip_received": "0.00",
          "total_weight": 524,
          "updated_at": "2026-02-13T14:54:50+11:00",
          "user_id": null,
          "billing_address": {
            "first_name": "test",
            "address1": "13 Apia Avenue",
            "phone": "0411111111",
            "city": "Clear Island Waters",
            "zip": "4226",
            "province": "Queensland",
            "country": "Australia",
            "last_name": "lastname7",
            "address2": null,
            "company": null,
            "latitude": -28.0332222,
            "longitude": 153.4047723,
            "name": "test lastname7",
            "country_code": "AU",
            "province_code": "QLD"
          },
          "customer": {
            "id": 8950361850023,
            "created_at": "2026-01-21T16:27:13+11:00",
            "updated_at": "2026-02-12T14:12:50+11:00",
            "first_name": "test",
            "last_name": "lastname7",
            "state": "disabled",
            "note": null,
            "verified_email": true,
            "multipass_identifier": null,
            "tax_exempt": false,
            "email": "test@email.com",
            "phone": "+61411121212",
            "currency": "AUD",
            "tax_exemptions": [],
            "admin_graphql_api_id": "gid://shopify/Customer/8950361850023",
            "default_address": {
              "id": 9856279642279,
              "customer_id": 8950361850023,
              "first_name": "test",
              "last_name": "lastname7",
              "company": null,
              "address1": "13 Apia Avenue",
              "address2": null,
              "city": "Clear Island Waters",
              "province": "Queensland",
              "country": "Australia",
              "zip": "4226",
              "phone": "0411111111",
              "name": "test lastname7",
              "province_code": "QLD",
              "country_code": "AU",
              "country_name": "Australia",
              "default": true
            }
          },
          "discount_applications": [],
          "fulfillments": [
            {
              "id": 6009520980135,
              "admin_graphql_api_id": "gid://shopify/Fulfillment/6009520980135",
              "created_at": "2026-02-13T14:54:50+11:00",
              "location_id": 47339208871,
              "name": "#1214.1",
              "order_id": 6706439684263,
              "origin_address": {},
              "receipt": {},
              "service": "manual",
              "shipment_status": null,
              "status": "success",
              "tracking_company": null,
              "tracking_number": null,
              "tracking_numbers": [],
              "tracking_url": null,
              "tracking_urls": [],
              "updated_at": "2026-02-13T14:54:50+11:00",
              "line_items": [
                {
                  "id": 15831875584167,
                  "admin_graphql_api_id": "gid://shopify/LineItem/15831875584167",
                  "current_quantity": 2,
                  "fulfillable_quantity": 0,
                  "fulfillment_service": "manual",
                  "fulfillment_status": "fulfilled",
                  "gift_card": false,
                  "grams": 132,
                  "name": "Universal Sliding Door Rollers | Same Profile as DR141/26",
                  "price": "14.00",
                  "price_set": {
                    "shop_money": {
                      "amount": "14.00",
                      "currency_code": "AUD"
                    },
                    "presentment_money": {
                      "amount": "14.00",
                      "currency_code": "AUD"
                    }
                  },
                  "product_exists": true,
                  "product_id": 5261139476647,
                  "properties": [],
                  "quantity": 2,
                  "requires_shipping": true,
                  "sku": null,
                  "taxable": false,
                  "title": "Universal Sliding Door Rollers | Same Profile as DR141/26",
                  "total_discount": "0.00",
                  "total_discount_set": {
                    "shop_money": {
                      "amount": "0.00",
                      "currency_code": "AUD"
                    },
                    "presentment_money": {
                      "amount": "0.00",
                      "currency_code": "AUD"
                    }
                  },
                  "variant_id": 34516420657319,
                  "variant_inventory_management": "shopify",
                  "variant_title": null,
                  "vendor": "Window Revival Shop",
                  "tax_lines": [
                    {
                      "channel_liable": false,
                      "price": "0.00",
                      "price_set": {
                        "shop_money": {
                          "amount": "0.00",
                          "currency_code": "AUD"
                        },
                        "presentment_money": {
                          "amount": "0.00",
                          "currency_code": "AUD"
                        }
                      },
                      "rate": 0.1,
                      "title": "GST"
                    }
                  ],
                  "duties": [],
                  "discount_allocations": []
                },
                {
                  "id": 15831875616935,
                  "admin_graphql_api_id": "gid://shopify/LineItem/15831875616935",
                  "current_quantity": 2,
                  "fulfillable_quantity": 0,
                  "fulfillment_service": "manual",
                  "fulfillment_status": "fulfilled",
                  "gift_card": false,
                  "grams": 130,
                  "name": "Sliding/Wardrobe Door Rollers | Suits Alcan, Olympic, Spacemaster, old Crane, Versalite | DR207/1 Profile Similar",
                  "price": "14.00",
                  "price_set": {
                    "shop_money": {
                      "amount": "14.00",
                      "currency_code": "AUD"
                    },
                    "presentment_money": {
                      "amount": "14.00",
                      "currency_code": "AUD"
                    }
                  },
                  "product_exists": true,
                  "product_id": 5269533950119,
                  "properties": [],
                  "quantity": 2,
                  "requires_shipping": true,
                  "sku": "",
                  "taxable": false,
                  "title": "Sliding/Wardrobe Door Rollers | Suits Alcan, Olympic, Spacemaster, old Crane, Versalite | DR207/1 Profile Similar",
                  "total_discount": "0.00",
                  "total_discount_set": {
                    "shop_money": {
                      "amount": "0.00",
                      "currency_code": "AUD"
                    },
                    "presentment_money": {
                      "amount": "0.00",
                      "currency_code": "AUD"
                    }
                  },
                  "variant_id": 34540994986151,
                  "variant_inventory_management": "shopify",
                  "variant_title": null,
                  "vendor": "Window Revival Shop",
                  "tax_lines": [
                    {
                      "channel_liable": false,
                      "price": "0.00",
                      "price_set": {
                        "shop_money": {
                          "amount": "0.00",
                          "currency_code": "AUD"
                        },
                        "presentment_money": {
                          "amount": "0.00",
                          "currency_code": "AUD"
                        }
                      },
                      "rate": 0.1,
                      "title": "GST"
                    }
                  ],
                  "duties": [],
                  "discount_allocations": []
                }
              ]
            }
          ],
          "line_items": [
            {
              "id": 15831875584167,
              "admin_graphql_api_id": "gid://shopify/LineItem/15831875584167",
              "current_quantity": 2,
              "fulfillable_quantity": 0,
              "fulfillment_service": "manual",
              "fulfillment_status": "fulfilled",
              "gift_card": false,
              "grams": 132,
              "name": "Universal Sliding Door Rollers | Same Profile as DR141/26",
              "price": "14.00",
              "price_set": {
                "shop_money": {
                  "amount": "14.00",
                  "currency_code": "AUD"
                },
                "presentment_money": {
                  "amount": "14.00",
                  "currency_code": "AUD"
                }
              },
              "product_exists": true,
              "product_id": 5261139476647,
              "properties": [],
              "quantity": 2,
              "requires_shipping": true,
              "sales_line_item_group_id": null,
              "sku": null,
              "taxable": false,
              "title": "Universal Sliding Door Rollers | Same Profile as DR141/26",
              "total_discount": "0.00",
              "total_discount_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "AUD"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "AUD"
                }
              },
              "variant_id": 34516420657319,
              "variant_inventory_management": "shopify",
              "variant_title": null,
              "vendor": "Window Revival Shop",
              "tax_lines": [
                {
                  "channel_liable": false,
                  "price": "0.00",
                  "price_set": {
                    "shop_money": {
                      "amount": "0.00",
                      "currency_code": "AUD"
                    },
                    "presentment_money": {
                      "amount": "0.00",
                      "currency_code": "AUD"
                    }
                  },
                  "rate": 0.1,
                  "title": "GST"
                }
              ],
              "duties": [],
              "discount_allocations": []
            },
            {
              "id": 15831875616935,
              "admin_graphql_api_id": "gid://shopify/LineItem/15831875616935",
              "current_quantity": 2,
              "fulfillable_quantity": 0,
              "fulfillment_service": "manual",
              "fulfillment_status": "fulfilled",
              "gift_card": false,
              "grams": 130,
              "name": "Sliding/Wardrobe Door Rollers | Suits Alcan, Olympic, Spacemaster, old Crane, Versalite | DR207/1 Profile Similar",
              "price": "14.00",
              "price_set": {
                "shop_money": {
                  "amount": "14.00",
                  "currency_code": "AUD"
                },
                "presentment_money": {
                  "amount": "14.00",
                  "currency_code": "AUD"
                }
              },
              "product_exists": true,
              "product_id": 5269533950119,
              "properties": [],
              "quantity": 2,
              "requires_shipping": true,
              "sales_line_item_group_id": null,
              "sku": "",
              "taxable": false,
              "title": "Sliding/Wardrobe Door Rollers | Suits Alcan, Olympic, Spacemaster, old Crane, Versalite | DR207/1 Profile Similar",
              "total_discount": "0.00",
              "total_discount_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "AUD"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "AUD"
                }
              },
              "variant_id": 34540994986151,
              "variant_inventory_management": "shopify",
              "variant_title": null,
              "vendor": "Window Revival Shop",
              "tax_lines": [
                {
                  "channel_liable": false,
                  "price": "0.00",
                  "price_set": {
                    "shop_money": {
                      "amount": "0.00",
                      "currency_code": "AUD"
                    },
                    "presentment_money": {
                      "amount": "0.00",
                      "currency_code": "AUD"
                    }
                  },
                  "rate": 0.1,
                  "title": "GST"
                }
              ],
              "duties": [],
              "discount_allocations": []
            }
          ],
          "payment_terms": null,
          "refunds": [],
          "shipping_address": {
            "first_name": "test",
            "address1": "13 Apia Avenue",
            "phone": "0411111111",
            "city": "Clear Island Waters",
            "zip": "4226",
            "province": "Queensland",
            "country": "Australia",
            "last_name": "lastname7",
            "address2": null,
            "company": null,
            "latitude": -28.0332222,
            "longitude": 153.4047723,
            "name": "test lastname7",
            "country_code": "AU",
            "province_code": "QLD"
          },
          "shipping_lines": [
            {
              "id": 5252808999079,
              "carrier_identifier": null,
              "code": "Standard - 500g to 1kg",
              "current_discounted_price_set": {
                "shop_money": {
                  "amount": "21.00",
                  "currency_code": "AUD"
                },
                "presentment_money": {
                  "amount": "21.00",
                  "currency_code": "AUD"
                }
              },
              "discounted_price": "21.00",
              "discounted_price_set": {
                "shop_money": {
                  "amount": "21.00",
                  "currency_code": "AUD"
                },
                "presentment_money": {
                  "amount": "21.00",
                  "currency_code": "AUD"
                }
              },
              "is_removed": false,
              "phone": null,
              "price": "21.00",
              "price_set": {
                "shop_money": {
                  "amount": "21.00",
                  "currency_code": "AUD"
                },
                "presentment_money": {
                  "amount": "21.00",
                  "currency_code": "AUD"
                }
              },
              "requested_fulfillment_service_id": null,
              "source": "shopify",
              "title": "Standard - 500g to 1kg",
              "tax_lines": [
                {
                  "channel_liable": false,
                  "price": "0.00",
                  "price_set": {
                    "shop_money": {
                      "amount": "0.00",
                      "currency_code": "AUD"
                    },
                    "presentment_money": {
                      "amount": "0.00",
                      "currency_code": "AUD"
                    }
                  },
                  "rate": 0.1,
                  "title": "GST"
                }
              ],
              "discount_allocations": []
            }
          ],
          "returns": [],
          "line_item_groups": []
        }
      }
    ]
  },
  "versionId": "ccd913f0-e061-4229-94b8-118e1c5b7d2b",
  "activeVersionId": "ccd913f0-e061-4229-94b8-118e1c5b7d2b",
  "versionCounter": 338,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-13T03:51:41.500Z",
      "createdAt": "2026-02-13T03:51:41.500Z",
      "role": "workflow:owner",
      "workflowId": "7qcxlXpoQdgL2IRZLnLjR",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-16T14:08:50.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-16T08:55:44.000Z",
    "createdAt": "2026-02-16T08:54:56.854Z",
    "versionId": "ccd913f0-e061-4229-94b8-118e1c5b7d2b",
    "workflowId": "7qcxlXpoQdgL2IRZLnLjR",
    "nodes": [
      {
        "parameters": {
          "authentication": "oAuth2",
          "topic": "orders/fulfilled"
        },
        "type": "n8n-nodes-base.shopifyTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "9b981efa-65f5-48cd-8394-940f71fd2bff",
        "name": "Shopify Trigger",
        "webhookId": "0f8c7c98-0d7a-41b4-86b1-484dc04678f5",
        "credentials": {
          "shopifyOAuth2Api": {
            "id": "GM2UhKe3UQoTJHft",
            "name": "Shopify account"
          }
        }
      },
      {
        "parameters": {
          "amount": 10,
          "unit": "days"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          208,
          0
        ],
        "id": "a1c4828e-8513-4bef-8cc1-327c6b225b74",
        "name": "Wait",
        "webhookId": "51d37979-64d4-43be-a0e9-b3141f777469"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b7b1657c-276a-4752-af00-f983ab237582",
                "name": "order_number",
                "value": "={{ $json.order_number }}",
                "type": "number"
              },
              {
                "id": "d8ea47d2-3557-416d-815d-1e25b3a1d658",
                "name": "contact_email",
                "value": "={{ $json.contact_email }}",
                "type": "string"
              },
              {
                "id": "00d8c4b3-f850-48a2-84ae-5fae6437fc93",
                "name": "customer.first_name",
                "value": "={{ $json.customer.first_name }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1024,
          -96
        ],
        "id": "f558dcda-eb25-4eba-b27f-348591d103a1",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "sendTo": "={{ $json.contact_email }}",
          "subject": "Quick question about your recent order",
          "message": "=Hi {{ $json.customer.first_name }},\n<br><br>\nQuick question for you — did the part solve the problem the way you expected?\n<br><br>\nClick the option that fits:\n\n<br><br>\n\n<strong>Everything worked perfectly</strong>\n<a href=\"https://n8n.srv1127913.hstgr.cloud/webhook/review-happy?email={{ $json.contact_email }}&order={{ $json.order_number }}\">\nYes — job done.\n</a>\n\n<br><br>\n\n<strong>Something wasn’t right</strong>\n<a href=\"https://n8n.srv1127913.hstgr.cloud/webhook/review-help?email={{ $json.contact_email }}&order={{ $json.order_number }}\">\nNo — I need help.\n</a>\n\n<br><br>\n\nIf it didn’t fit, didn’t perform, or just wasn’t what you expected we’ll make it right.\n\nNo hassle. No back-and-forth.\n\nThat’s how we do business.\n\n<br><br>\n\nWindow Revival Shop",
          "options": {
            "appendAttribution": true,
            "bccList": "shop@windowrevival.com.au",
            "replyTo": "shop@windowrevival.com.au"
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1216,
          -96
        ],
        "id": "996d5635-febd-4068-bf07-6080585c794f",
        "name": "Send a message",
        "webhookId": "c704bb28-568a-414f-a65a-c39fbbe83a5e",
        "credentials": {
          "gmailOAuth2": {
            "id": "XttthNS8ehA8gBFE",
            "name": "WR: Revival Shop"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "0056568e-5dd0-4b8c-915e-5e5c6d12e242",
                "leftValue": "={{ (Array.isArray($json) ? $json[0] : $json).financial_status }}",
                "rightValue": "paid",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "c16fd693-54ca-4072-a612-a1e571305233",
                "leftValue": "={{ (Array.isArray($json) ? $json[0] : $json).fulfillment_status }}",
                "rightValue": "fulfilled",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "776e7d3e-aa70-4894-a590-9c6af2861217",
                "leftValue": "={{ (Array.isArray($json) ? $json[0] : $json).cancelled_at }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              },
              {
                "id": "49b9505b-fc66-4557-b84a-d68f3747ba6c",
                "leftValue": "={{ ((Array.isArray($json) ? $json[0] : $json).refunds || []).length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              },
              {
                "id": "7a842510-f69a-47a4-8639-9374ac1fbaa3",
                "leftValue": "={{ (Array.isArray($json) ? $json[0] : $json).email }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "8589a686-33da-4c95-a728-8667b4d4e64d",
                "leftValue": "={{ $('Get row(s) in sheet').item.json.status }}",
                "rightValue": "🟢 Delivered",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          768,
          0
        ],
        "id": "cd0160c5-9bc9-4d68-b796-19a39567dac8",
        "name": "If"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "operation": "get",
          "orderId": "={{ $('Shopify Trigger').item.json.id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.shopify",
        "typeVersion": 1,
        "position": [
          592,
          0
        ],
        "id": "34bf9c3a-b48b-4dba-ac9b-6ca076571702",
        "name": "Get an order",
        "credentials": {
          "shopifyOAuth2Api": {
            "id": "GM2UhKe3UQoTJHft",
            "name": "Shopify account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1040,
          112
        ],
        "id": "c434ce12-e942-4a01-bc42-6afcd2955c84",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1Saoy_4dBYP6pOevexzFizFDmkFt-6ARlmwRvYPzGtWU/edit?pli=1&gid=2095084692#gid=2095084692",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 2095084692,
            "mode": "list",
            "cachedResultName": "Tracker - Shopify",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Saoy_4dBYP6pOevexzFizFDmkFt-6ARlmwRvYPzGtWU/edit#gid=2095084692"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "=order_no",
                "lookupValue": "=#{{ $json.order_number }}"
              }
            ]
          },
          "options": {
            "dataLocationOnSheet": {
              "values": {
                "rangeDefinition": "specifyRange",
                "headerRow": 3,
                "firstDataRow": 6
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          400,
          0
        ],
        "id": "eeb3410d-fc11-4e0c-adc8-4eca0fbb8cd2",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "iNsBYYAG0CoB29qK",
            "name": "WR: Google Sheets Shop"
          }
        }
      }
    ],
    "connections": {
      "Shopify Trigger": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          []
        ]
      },
      "Get an order": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Get an order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Christine Kam",
    "name": "Version 1.4",
    "description": "fix wait time\nfixed subject and body of email\nbcc shop - for initial testing\nallow reply to shop@windowrevival.com.au",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-16T08:55:44.425Z",
        "id": 189,
        "workflowId": "7qcxlXpoQdgL2IRZLnLjR",
        "versionId": "ccd913f0-e061-4229-94b8-118e1c5b7d2b",
        "event": "activated",
        "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b"
      }
    ]
  }
}