workflows/reviewFunnelHelp.json
{
  "updatedAt": "2026-02-16T07:43:38.347Z",
  "createdAt": "2026-02-13T04:49:00.251Z",
  "id": "XpULQf4VczPZw8YxPBT8L",
  "name": "reviewFunnelHelp",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "review-help",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "325ba10b-3835-4eda-baa7-1235c0a1f2ee",
      "name": "Webhook",
      "webhookId": "a7b69d18-cdbd-4bd7-913c-01edf4c57436"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "https://windowrevivalshop.com/pages/support",
        "options": {
          "responseCode": 302,
          "responseHeaders": {
            "entries": [
              {
                "name": "Location",
                "value": "https://windowrevivalshop.com/pages/faqs"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        0
      ],
      "id": "437ce9d3-7583-45ee-8051-7a0b4080ba4e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "windowrevivalshop@gmail.com",
        "subject": "=Customer Needs Help - Order {{ $json.query.order }}",
        "message": "=Order: {{ $json.query.order }}\nCustomer clicked \"Need Help\".\n\nFollow up immediately.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "8aef4c33-bd14-4dbb-9c6f-ed51a14d2d62",
      "name": "Send a message",
      "webhookId": "1da668cf-d3d8-41ce-8466-435157725c81",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iacb6DlpUsfDqQMK",
          "name": "WR: Gmail Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "uuxIWB5TVjU2H3nWtHINp",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0e0c041d-6d7a-44ef-8373-6b5a9c1873f3",
  "activeVersionId": "0e0c041d-6d7a-44ef-8373-6b5a9c1873f3",
  "versionCounter": 42,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-13T04:49:00.254Z",
      "createdAt": "2026-02-13T04:49:00.254Z",
      "role": "workflow:owner",
      "workflowId": "XpULQf4VczPZw8YxPBT8L",
      "projectId": "6TsYTzg0HY92xH2K",
      "project": {
        "updatedAt": "2025-11-14T08:33:27.896Z",
        "createdAt": "2025-11-14T07:49:25.938Z",
        "id": "6TsYTzg0HY92xH2K",
        "name": "Christine Kam <windowrevival@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T07:49:25.938Z",
            "createdAt": "2025-11-14T07:49:25.938Z",
            "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
            "projectId": "6TsYTzg0HY92xH2K",
            "user": {
              "updatedAt": "2026-02-16T14:08:50.000Z",
              "createdAt": "2025-11-14T07:49:14.641Z",
              "id": "bc31a112-3ed8-48ca-b94c-7225571c3d7b",
              "email": "windowrevival@gmail.com",
              "firstName": "Christine",
              "lastName": "Kam",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T08:34:38.735Z",
                "personalization_survey_n8n_version": "1.119.1",
                "automationGoalDevops": [
                  "reporting",
                  "other"
                ],
                "automationGoalDevopsOther": "Automate all apps",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "it",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZwjGOdSLvNlPoB1E",
                "userActivatedAt": 1763281773859,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763554974919
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-16T07:43:33.000Z",
    "createdAt": "2026-02-16T05:01:45.333Z",
    "versionId": "0e0c041d-6d7a-44ef-8373-6b5a9c1873f3",
    "workflowId": "XpULQf4VczPZw8YxPBT8L",
    "nodes": [
      {
        "parameters": {
          "path": "review-help",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "325ba10b-3835-4eda-baa7-1235c0a1f2ee",
        "name": "Webhook",
        "webhookId": "a7b69d18-cdbd-4bd7-913c-01edf4c57436"
      },
      {
        "parameters": {
          "respondWith": "redirect",
          "redirectURL": "https://windowrevivalshop.com/pages/support",
          "options": {
            "responseCode": 302,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Location",
                  "value": "https://windowrevivalshop.com/pages/faqs"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          400,
          0
        ],
        "id": "437ce9d3-7583-45ee-8051-7a0b4080ba4e",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "sendTo": "windowrevivalshop@gmail.com",
          "subject": "=Customer Needs Help - Order {{ $json.query.order }}",
          "message": "=Order: {{ $json.query.order }}\nCustomer clicked \"Need Help\".\n\nFollow up immediately.",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          208,
          0
        ],
        "id": "8aef4c33-bd14-4dbb-9c6f-ed51a14d2d62",
        "name": "Send a message",
        "webhookId": "1da668cf-d3d8-41ce-8466-435157725c81",
        "credentials": {
          "gmailOAuth2": {
            "id": "Iacb6DlpUsfDqQMK",
            "name": "WR: Gmail Account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Christine Kam",
    "name": "Version 1.0",
    "description": "review funnel help path",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-16T07:43:33.275Z",
        "id": 183,
        "workflowId": "XpULQf4VczPZw8YxPBT8L",
        "versionId": "0e0c041d-6d7a-44ef-8373-6b5a9c1873f3",
        "event": "activated",
        "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b"
      },
      {
        "createdAt": "2026-02-16T07:43:38.379Z",
        "id": 184,
        "workflowId": "XpULQf4VczPZw8YxPBT8L",
        "versionId": "0e0c041d-6d7a-44ef-8373-6b5a9c1873f3",
        "event": "activated",
        "userId": "bc31a112-3ed8-48ca-b94c-7225571c3d7b"
      }
    ]
  }
}