workflows/Scrape verified Instagram leads with Apify and Airtable.json
{
  "updatedAt": "2026-03-06T00:19:19.227Z",
  "createdAt": "2026-03-06T00:19:11.505Z",
  "id": "2DjEId3zaf9ZfAHL",
  "name": "Scrape verified Instagram leads with Apify and Airtable",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "organicResults",
        "options": {}
      },
      "id": "580febdc-13cd-46f5-accd-372c20d34441",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1552,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "438c3c27-bd95-45ed-8fa6-9684c124cac8",
      "name": "Processing Data",
      "type": "n8n-nodes-base.wait",
      "position": [
        1312,
        304
      ],
      "webhookId": "1f273829-bbcb-4b65-89e8-522a1cb7536e",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "58b1cc95-3985-4578-9931-a25996033036",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.validations.mx_records }}",
              "rightValue": ""
            },
            {
              "id": "262b1b66-40a1-4d55-88fb-99b63dd002ac",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "VALID"
            },
            {
              "id": "9deaa93f-f899-4c69-8f41-25e80ef7d311",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.validations.mailbox_exists }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "ee837eb5-9fd8-4315-8912-2d9c483fe68c",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        848,
        720
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "https://rapid-email-verifier.fly.dev/api/validate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.emphasizedKeywords[0] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "014cfb4c-80ba-445d-a502-48434065cef6",
      "name": "Email Verifier",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        720
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "formTitle": "Enter Data",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter Query"
            }
          ]
        },
        "options": {}
      },
      "id": "bbb892a8-6c22-4cd9-8c4a-a65fa433f5c7",
      "name": "Query Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        640,
        304
      ],
      "webhookId": "b6ca6710-21b2-4391-aa26-0920a76045c5",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "62534e33-25c5-4df8-8fcd-3d9aa323ea08",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.emphasizedKeywords[0] }}",
              "rightValue": "@gmail.com"
            },
            {
              "id": "bedf6d74-9908-4a0e-91ec-5542f56b8470",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.emphasizedKeywords[0] }}",
              "rightValue": "@hotmail.com"
            },
            {
              "id": "1dbd9a2a-6f13-4894-97ad-30f9dd41552b",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.emphasizedKeywords[0] }}",
              "rightValue": "@aol.com"
            },
            {
              "id": "00b32635-9296-4b6c-9074-64c7d650ce2f",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.emphasizedKeywords[0] }}",
              "rightValue": "@yahoo.com"
            },
            {
              "id": "fd100974-0abc-4016-97da-fa035f75184a",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.emphasizedKeywords[0] }}",
              "rightValue": "@outlook.com"
            }
          ]
        },
        "options": {}
      },
      "id": "50fa8948-4236-4f1f-8b60-7a89f92f7d56",
      "name": "Passing Emails",
      "type": "n8n-nodes-base.if",
      "position": [
        1776,
        304
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## How it works\nThis Workflow helps you to Scrape the Leads from Instagram, It uses Apify Scrapers to scrape the data from Instagram such as Profile, Emails, etc and Then filters it out based on certain parameters to Qualify the leads and Store in your Airtable Database which is ready for Cold Outreach.\n\n## Setup steps\n1. Create an Apify account and open the Google Search Scraper actor.\n2. Copy the “Run actor synchronously and get dataset items” endpoint URL and replace it in the **Apify Scraping Data** node.\n3. Add your Apify token in the Apify Scraping Data node URL.\n4. Create an Airtable base + table with these fields: Username, Contact Details, URL, Followers, Email Verifier.\n5. Connect your Airtable credentials in the **Airtable DB** node and select your base/table.\n6. Run the workflow → submit your query in the form → verified leads will appear in Airtable.\n\n>For Detailed Guide, See Notes available below\n\n## Apify Token Setup\nReplace the token in the 'Apify Scraping Data' Node with your own token.\n\n**How to Get Token and Setup**\n1. Go to Apify Actor: [Open Link](https://console.apify.com/actors/nFJndFXA5zjCTuudP/input)\n2. Click on API > API Endpoints\n3. Scroll down and Find this > 'Run Actor synchronously and get dataset items'\n4. Copy the POST URL\n5. Paste this URL in the 'Apify Scraping Data' node in this workflow in the URL field\n\n## Airtable Token Setup\nConnect Airtable token + select base/table in the 'Airtable DB' node before running.\n\nYou can close this Airtable Sheet for Ease: [Clone Table](https://airtable.com/appOfLatszE9cHYw3/shrbctCMIY7tOdv15)\n\n**How to get Airtable Token**\n1. Signup or Login to Airtable Account\n2. Go to Builder Hub in Airtable\n3. Create your Personal Access Token\n\n>Use this link for Full detailed Airtable Setup Guide: [Open Link](https://docs.n8n.io/integrations/builtin/credentials/airtable/)\n\nThanks,\nContact Me [@msiddhant](#)\n\n",
        "height": 1072,
        "width": 544,
        "color": 6
      },
      "id": "a16f08e3-1c49-4f86-881b-ed13a1909df4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "applMjHUxKsqVMuQJ",
          "cachedResultUrl": "https://airtable.com/applMjHUxKsqVMuQJ",
          "cachedResultName": "IG Leads"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblYcWRvqRcSkcfiN",
          "cachedResultUrl": "https://airtable.com/applMjHUxKsqVMuQJ/tblYcWRvqRcSkcfiN",
          "cachedResultName": "Leads"
        },
        "columns": {
          "value": {
            "URL": "={{ $('Split Out').item.json.url }}",
            "Username": "={{ $('Split Out').item.json.displayedUrl }}",
            "Followers": "={{ $('Split Out').item.json.followersAmount }}",
            "Email Verifier": "={{ $json.status }}",
            "Contact Details": "={{ $json.email }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "Username",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Username",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Details",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Contact Details",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Followers",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Followers",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Verifier",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Email Verifier",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Username"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0879ad08-5372-4cca-82ee-ff682a1d9391",
      "name": "Airtable DB",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1120,
        704
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Email Verify + Store\nVerifies emails using an email verification API. If valid, the lead is stored into Airtable.",
        "height": 352,
        "width": 688
      },
      "id": "0589fac6-f716-4909-a0d2-22002f4a6baf",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Input + Scraping\nEnter a keyword query. Apify Google Search Scraper runs a search for Instagram pages containing public emails.\n",
        "height": 368,
        "width": 576,
        "color": 4
      },
      "id": "a8170e18-9596-4a06-a699-de682ba9d70a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Data Processing + Email Filtering\nWaits for Apify results and splits the data into individual lead items and Filterss results that contain Gmail address.\n",
        "height": 368,
        "width": 688,
        "color": 5
      },
      "id": "6dd9ee18-aa70-411b-a559-327616278047",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~google-search-scraper/run-sync-get-dataset-items?token=YOUR_TOKEN_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"focusOnPaidAds\": false,\n    \"forceExactMatch\": false,\n    \"includeIcons\": false,\n    \"includeUnfilteredResults\": false,\n    \"maxPagesPerQuery\": 10,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"mobileResults\": false,\n    \"queries\": \"site:instagram.com + {{ $json['Enter Query'] }} + @gmail.com\",\n    \"resultsPerPage\": 100,\n    \"saveHtml\": false,\n    \"saveHtmlToKeyValueStore\": true\n}",
        "options": {}
      },
      "id": "540f35ec-1419-47ce-93ad-63cdbb6a1377",
      "name": "Apify Scraping Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        960,
        304
      ],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "If1": {
      "main": [
        [
          {
            "node": "Airtable DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Passing Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Form": {
      "main": [
        [
          {
            "node": "Apify Scraping Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Verifier": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passing Emails": {
      "main": [
        [
          {
            "node": "Email Verifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processing Data": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Scraping Data": {
      "main": [
        [
          {
            "node": "Processing Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "07bfe0f3-d9e5-4792-9b1c-17f22bc945ea",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-06T00:19:11.508Z",
      "createdAt": "2026-03-06T00:19:11.508Z",
      "role": "workflow:owner",
      "workflowId": "2DjEId3zaf9ZfAHL",
      "projectId": "p3k6mrxCVXQTfj2s",
      "project": {
        "updatedAt": "2025-12-28T03:48:55.498Z",
        "createdAt": "2025-12-23T06:42:33.272Z",
        "id": "p3k6mrxCVXQTfj2s",
        "name": "Don Puerto <don.puerto.1003@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e46dc87f-10bb-402e-9a73-9fe38838f451"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}