workflows/Shopify RRP Price Sync.json
{
  "updatedAt": "2026-02-14T13:33:35.871Z",
  "createdAt": "2026-02-14T13:33:35.871Z",
  "id": "AeTsW4upsgvg2cRQc4Gt3",
  "name": "Shopify RRP Price Sync",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.frankfurter.app/latest?from={{ $json[\"Supplier Currency\"] }}&to=GBP",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        1040
      ],
      "id": "f9283d1b-4e8b-43ad-8f4a-f832fdc2fece",
      "name": "Currency Exchange"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Product Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        1040
      ],
      "id": "0d834115-c50e-4fc0-9435-3fc966b97ae9",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f3ca0451-9669-4a23-8447-ad9c3029f7cf",
              "leftValue": "={{ Number($json['Supplier RRP'] || 0) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "3b25d87c-5209-4f16-970f-f4ed4cec5329",
              "leftValue": "={{ $json[\"Supplier Currency\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        1040
      ],
      "id": "7ea8be95-7b56-446f-8764-958a0d8c70aa",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item, index) => {\n  const supplierRRP = $('Edit Fields').all()[index].json[\"Supplier RRP\"];\n  const gbpRate = item.json.rates.GBP;\n  const gbpValue = supplierRRP * gbpRate;\n  const roundedGBP = Math.ceil(gbpValue);\n  \n  const sheetGBPPrice = $('Edit Fields').all()[index].json[\"GBP Price\"];\n  const updateStatus = roundedGBP === sheetGBPPrice ? \"no_change\" : \"update\";\n  \n  return {\n    json: {\n      GBP: roundedGBP,\n      update: updateStatus\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        1040
      ],
      "id": "f49be770-ee66-4795-abc1-dc1c55611daf",
      "name": "Calculate New Price"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://[YOUR_SUBDOMAIN].myshopify.com/admin/api/2024-10/variants/{{ $('Get row(s) in sheet').item.json[\"Variant ID\"] }}.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyAccessTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"variant\": {\n    \"id\": {{ $('Get row(s) in sheet').item.json[\"Variant ID\"] }},\n    \"price\": \"{{ $json.GBP }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        1040
      ],
      "id": "8ccea44c-9123-41b0-98c6-5bdd0d7eac52",
      "name": "Update Variant Price",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc",
          "mode": "list",
          "cachedResultName": "Cellbase Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Product Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Variant ID": "={{ $('Edit Fields').item.json[\"Variant ID\"] }}",
            "GBP Price": "={{ $json.variant.price }}"
          },
          "matchingColumns": [
            "Variant ID"
          ],
          "schema": [
            {
              "id": "Product ID",
              "displayName": "Product ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Variant ID",
              "displayName": "Variant ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Variant Name",
              "displayName": "Variant Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Supplier Name",
              "displayName": "Supplier Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Supplier RRP",
              "displayName": "Supplier RRP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Supplier Currency",
              "displayName": "Supplier Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GBP Price",
              "displayName": "GBP Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1680,
        1040
      ],
      "id": "d8f289d4-0e77-4b22-9b87-834c629b1301",
      "name": "Append or update row in sheet"
    },
    {
      "parameters": {
        "content": "# Product Updates\n- This workflow will sync products and its variants onto Google Sheet\n- Detects any changes made to your Shopify products\n- Event: Product Update",
        "height": 592,
        "width": 1104
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "9abb4e5a-2120-494c-96f2-f96cdc00c7a1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        592,
        1040
      ],
      "id": "aa88759b-3bb4-4dcf-b0da-fa460d062228",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "057ac2ff-d3e9-4b8d-86fa-6994e19930ed",
              "leftValue": "={{ $json.update }}",
              "rightValue": "no_change",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        1040
      ],
      "id": "f99060ee-10e8-459e-b01e-a806c90a3da4",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1840,
        1040
      ],
      "id": "7c053ae0-d2ae-4c7b-b75e-5b0e066d9f16",
      "name": "Wait",
      "webhookId": "de87e08b-ec43-454d-8103-5657a3ef9fed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0ce8f67-1261-4653-a4ff-d4ae0cfb1317",
              "name": "Supplier RRP",
              "value": "={{ $('Get row(s) in sheet').item.json[\"Supplier RRP\"] }}",
              "type": "string"
            },
            {
              "id": "dad93de2-a280-4de8-83ba-9cbbb9234892",
              "name": "Supplier Currency",
              "value": "={{ $('Get row(s) in sheet').item.json[\"Supplier Currency\"] }}",
              "type": "string"
            },
            {
              "id": "df62bc92-fddf-4557-a136-58dc6f3875c2",
              "name": "Variant ID",
              "value": "={{ $('Get row(s) in sheet').item.json[\"Variant ID\"] }}",
              "type": "string"
            },
            {
              "id": "f3b93c9a-a130-42af-9025-31b05221992c",
              "name": "GBP Price",
              "value": "={{ $('Get row(s) in sheet').item.json[\"GBP Price\"] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        1040
      ],
      "id": "f145a060-8d30-44fd-80fc-8accc1751a7f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc",
          "mode": "list",
          "cachedResultName": "Cellbase Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Product Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Product ID",
              "lookupValue": "={{ $json.body.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        160
      ],
      "id": "380cd0e8-ab6e-4351-b10a-67e25754a7ef",
      "name": "Get row(s) in sheet3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.variants",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        272,
        400
      ],
      "id": "7f8b6889-9c35-4110-a625-4a19ec5f4203",
      "name": "Split Out5"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "Variant ID",
              "field2": "id"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        512,
        256
      ],
      "id": "24e353cf-5e90-427e-94d4-d56c686a0383",
      "name": "Compare Datasets1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc",
          "mode": "list",
          "cachedResultName": "Cellbase Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 623354131,
          "mode": "list",
          "cachedResultName": "Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit#gid=623354131"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product ID": "={{ $json.product_id }}",
            "Variant ID": "={{ $json.id }}",
            "Product Name": "={{ $('Product Update').item.json.body.title }}",
            "Supplier Name": "={{ $('Product Update').item.json.body.vendor }}",
            "GBP Price": "={{ $json.price }}",
            "Variant Name": "={{ $json.title }}",
            "SKU": "={{ $json.sku }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Product ID",
              "displayName": "Product ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Variant ID",
              "displayName": "Variant ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Variant Name",
              "displayName": "Variant Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Supplier Name",
              "displayName": "Supplier Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Supplier RRP",
              "displayName": "Supplier RRP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Supplier Currency",
              "displayName": "Supplier Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GBP Price",
              "displayName": "GBP Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        464
      ],
      "id": "618257f0-d59a-4fd5-bd9f-899af4a5854c",
      "name": "New Product1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc",
          "mode": "list",
          "cachedResultName": "Cellbase Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Product Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Variant ID": "={{ $json.id }}",
            "Product ID": "={{ $json.product_id }}",
            "Product Name": "={{ $('Product Update').item.json.body.title }}",
            "Supplier Name": "={{ $('Product Update').item.json.body.vendor }}",
            "GBP Price": "={{ $json.price }}",
            "SKU": "={{ $json.sku }}",
            "Variant Name": "={{ $json.title }}"
          },
          "matchingColumns": [
            "Variant ID"
          ],
          "schema": [
            {
              "id": "Product ID",
              "displayName": "Product ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Variant ID",
              "displayName": "Variant ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Variant Name",
              "displayName": "Variant Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Supplier Name",
              "displayName": "Supplier Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Supplier RRP",
              "displayName": "Supplier RRP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Supplier Currency",
              "displayName": "Supplier Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GBP Price",
              "displayName": "GBP Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        304
      ],
      "id": "aa12cc21-b961-49b7-aee6-eecc32a7443d",
      "name": "Update Product1"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc",
          "mode": "list",
          "cachedResultName": "Cellbase Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Product Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit#gid=0"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        96
      ],
      "id": "9f893912-90ce-4d9e-b3cb-902a2627d932",
      "name": "Delete Product1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "row_number",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        768,
        96
      ],
      "id": "4f2e5929-0b0a-4743-add0-eef660ae6ef0",
      "name": "Sort2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Product Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Product ID",
              "lookupValue": "={{ $json.body.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        688
      ],
      "id": "4fe83a78-d2ac-49e7-bb29-36fb5096b19a",
      "name": "Get row(s) in sheet4"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc",
          "mode": "list",
          "cachedResultName": "Cellbase Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Product Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M44OL3_KpTWc312jyDO9stME-A4mJQ1_4xd6jo5vXmc/edit#gid=0"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        688
      ],
      "id": "8ebb4c90-3160-48d0-9c93-03f0ff700958",
      "name": "Delete rows or columns from sheet1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "row_number",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        416,
        688
      ],
      "id": "ea6b93d7-eb1a-473d-970b-45df40f03ce4",
      "name": "Sort3"
    },
    {
      "parameters": {
        "content": "# Product Delete\n- Triggers when an entire product is deleted and will remove it from your Google Sheet",
        "height": 272,
        "width": 912,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        592
      ],
      "typeVersion": 1,
      "id": "f9ff7d42-4ccc-48cc-ad8f-f39e7647cd29",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "sendTo": "[YOUR EMAIL]",
        "subject": "RRP Missing",
        "message": "Some of the products listed in are missing RRP",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        416,
        1280
      ],
      "id": "f5e62407-f7c0-4b4c-9c28-d1eddff3179e",
      "name": "RRP Missing",
      "webhookId": "ea04db36-8ad8-4ea2-aee3-4a59e0afe34a",
      "executeOnce": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        1040
      ],
      "id": "d9085836-0646-4b52-9814-e4ff30352fff",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "productupdate",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        288
      ],
      "id": "3f063e27-b99d-4e49-9740-2c5f643550d5",
      "name": "Product Update",
      "webhookId": "54d18463-aaf2-4c8b-887a-e5f25acd1250"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "productdelete",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        688
      ],
      "id": "3ee7b76a-5bf7-450e-87c6-ab99daa3f8f1",
      "name": "Product Delete",
      "webhookId": "d73bdddc-219e-442b-a7e3-b495496337c9"
    },
    {
      "parameters": {
        "content": "# Phase 1\n- Grabs all rows from Google Sheet\n- Identify if RRP or currency code is missing",
        "height": 528,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        912
      ],
      "typeVersion": 1,
      "id": "c94037b8-cb3e-49f1-8860-41b162225a1a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Phase 2\n- Uses Frankfurter's open source API to detect the latest currency\n- Code node will calculate new price and determine whether prices need to be updated in Shopify",
        "height": 528,
        "width": 880,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        912
      ],
      "typeVersion": 1,
      "id": "efaff664-bf07-4231-84c6-ad00e5825f87",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Phase 3\n- Makes API call to Shopify to update variant and product prices\n- Wait node is used to reduce the amount lower the chances of hitting Shopify's rate limit",
        "height": 528,
        "width": 608,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        912
      ],
      "typeVersion": 1,
      "id": "33c5d3f9-990d-4d92-9544-9b21e1f5d28f",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Currency Exchange": {
      "main": [
        [
          {
            "node": "Calculate New Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RRP Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate New Price": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Variant Price": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update Variant Price",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Currency Exchange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Compare Datasets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "Compare Datasets1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets1": {
      "main": [
        [
          {
            "node": "Sort2",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Update Product1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "New Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort2": {
      "main": [
        [
          {
            "node": "Delete Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Sort3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort3": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Update": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Delete": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "09a36bab-211e-4638-a050-385793b50dde",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-14T13:33:35.874Z",
      "createdAt": "2026-02-14T13:33:35.874Z",
      "role": "workflow:owner",
      "workflowId": "AeTsW4upsgvg2cRQc4Gt3",
      "projectId": "p3k6mrxCVXQTfj2s",
      "project": {
        "updatedAt": "2025-12-28T03:48:55.498Z",
        "createdAt": "2025-12-23T06:42:33.272Z",
        "id": "p3k6mrxCVXQTfj2s",
        "name": "Don Puerto <don.puerto.1003@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
        "projectRelations": [
          {
            "updatedAt": "2025-12-23T06:42:33.313Z",
            "createdAt": "2025-12-23T06:42:33.313Z",
            "userId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
            "projectId": "p3k6mrxCVXQTfj2s",
            "user": {
              "updatedAt": "2026-02-16T14:26:24.000Z",
              "createdAt": "2025-12-23T06:42:33.249Z",
              "id": "e46dc87f-10bb-402e-9a73-9fe38838f451",
              "email": "don.puerto.1003@gmail.com",
              "firstName": "Don",
              "lastName": "Puerto",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-28T03:49:29.611Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "reporting",
                  "monitoring-alerting",
                  "data-syncing",
                  "other"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "-yN8AJ3CHdjtkwnalEIuo",
                "userActivated": true,
                "userActivatedAt": 1771210378925
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}