workflows/Ultimate Google Calendar Agents.json
{
  "updatedAt": "2026-02-15T13:57:09.993Z",
  "createdAt": "2026-02-14T11:31:32.202Z",
  "id": "P4mqqv_LJQNjl5PNGb81M",
  "name": "Ultimate Google Calendar Agents",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user’s calendar.\n\n## Calendar Management Tools:\n\nUse “Create Event with Attendee” when an event includes a participant.\nUse “Create Event” for solo events.\nUse “Get Events” to fetch calendar schedules when requested.\nUse “Delete Event” to delete an event. You must use “Get Events” first to get the ID of the event to delete.\nUse “Update Event” to update an event. You must use “Get Events” first to get the ID of the event to update.\nUse \"Notion Tool\" to get the contact information available \n\n## Rules\n- Turn the incoming query into an action. Ignore clarification questions, just take action based on the intent you receive.\n- Also send the Event link with output\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn’t specified, assume it will be one hour."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        560,
        0
      ],
      "id": "cb802f7a-0451-42cf-920d-0bb70d4216ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        240
      ],
      "id": "691e5eb0-55f3-4f07-8306-5a77c62296df",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "freelance3015@gmail.com",
          "mode": "list",
          "cachedResultName": "freelance3015@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        320
      ],
      "id": "65d8b4c6-ae9f-4ecc-b058-b44e8e780e96",
      "name": "Get Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1TXl73FCExI5p2lV",
          "name": "DP: Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "freelance3015@gmail.com",
          "mode": "list",
          "cachedResultName": "freelance3015@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        592,
        224
      ],
      "id": "f35276ee-bc77-4c4a-8d68-25447fc4d24a",
      "name": "Create Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1TXl73FCExI5p2lV",
          "name": "DP: Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "freelance3015@gmail.com",
          "mode": "list",
          "cachedResultName": "freelance3015@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        704,
        224
      ],
      "id": "cf891e73-731e-4b70-af3e-b6c1431abd13",
      "name": "Update Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1TXl73FCExI5p2lV",
          "name": "DP: Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "freelance3015@gmail.com",
          "mode": "list",
          "cachedResultName": "freelance3015@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        832,
        224
      ],
      "id": "982e6304-6254-4c04-af9f-3e27e671aafa",
      "name": "Delete Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1TXl73FCExI5p2lV",
          "name": "DP: Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e67c08f8-2cb9-4271-95e3-d063b03713bb",
      "name": "Telegram Trigger",
      "webhookId": "8c8b1095-1a85-4857-9ed6-1b1aa03a4751"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        0
      ],
      "id": "de3fbe1f-aade-449e-ba9d-f4be6c487e31",
      "name": "Telegram",
      "webhookId": "6059fb6f-c0ea-4694-8998-eb893713d8cf"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1d8ecac0-0023-806a-8a48-ff008bea4f1c",
          "mode": "list",
          "cachedResultName": "Client DB",
          "cachedResultUrl": "https://www.notion.so/1d8ecac00023806a8a48ff008bea4f1c"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        944,
        224
      ],
      "id": "687d4c22-bfe5-4f00-9f0b-6f4f5c15937f",
      "name": "Notion"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "freelance3015@gmail.com",
          "mode": "list",
          "cachedResultName": "freelance3015@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1072,
        224
      ],
      "id": "2e8e88dc-cba9-4ee4-a960-b0dcff1cf6f3",
      "name": "Create Event with Attendees",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1TXl73FCExI5p2lV",
          "name": "DP: Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "472c147a-b030-431a-881a-9b3f09997b28",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendees": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "93ba816c-c45c-45c4-93f7-2bc99239ad5b",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-14T11:31:32.203Z",
      "createdAt": "2026-02-14T11:31:32.203Z",
      "role": "workflow:owner",
      "workflowId": "P4mqqv_LJQNjl5PNGb81M",
      "projectId": "p3k6mrxCVXQTfj2s",
      "project": {
        "updatedAt": "2025-12-28T03:48:55.498Z",
        "createdAt": "2025-12-23T06:42:33.272Z",
        "id": "p3k6mrxCVXQTfj2s",
        "name": "Don Puerto <don.puerto.1003@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
        "projectRelations": [
          {
            "updatedAt": "2025-12-23T06:42:33.313Z",
            "createdAt": "2025-12-23T06:42:33.313Z",
            "userId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
            "projectId": "p3k6mrxCVXQTfj2s",
            "user": {
              "updatedAt": "2026-02-16T14:26:24.000Z",
              "createdAt": "2025-12-23T06:42:33.249Z",
              "id": "e46dc87f-10bb-402e-9a73-9fe38838f451",
              "email": "don.puerto.1003@gmail.com",
              "firstName": "Don",
              "lastName": "Puerto",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-28T03:49:29.611Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "reporting",
                  "monitoring-alerting",
                  "data-syncing",
                  "other"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "-yN8AJ3CHdjtkwnalEIuo",
                "userActivated": true,
                "userActivatedAt": 1771210378925
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}