workflows/whatsapp n8n.json
{
  "updatedAt": "2026-02-15T07:09:27.113Z",
  "createdAt": "2026-02-14T11:30:43.564Z",
  "id": "wl78jKBZCjZHxeGhWioOk",
  "name": "whatsapp n8n",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        128
      ],
      "id": "408b12e0-ec82-4d3a-bd9d-e389c7d45cb2",
      "name": "WhatsApp Trigger",
      "webhookId": "e0f55413-4f60-4fb8-93ff-721ed3d18b61",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "DP5qP3nrpK1pcng0",
          "name": "DP: WhatsApp OAuth Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "580846031785849",
        "recipientPhoneNumber": "+918888704667",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1840,
        -24
      ],
      "id": "29cd1071-0a1c-4ff5-898d-9cb4597744e7",
      "name": "WhatsApp Business Cloud",
      "webhookId": "a7c16d3b-f4d2-4c55-80e9-e120c1b06122",
      "credentials": {
        "whatsAppApi": {
          "id": "fJoSFpa4TcBzUGmP",
          "name": "DP: WhatsApp Account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        144
      ],
      "id": "5731882a-ac28-4e35-b5d5-7ba3e525f2fe",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "f17ce6be-7ed3-4e8f-a3a9-d8854592d16a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad5f60f6-76a9-44b7-a02d-d5899894fb89",
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7a05336-69bc-44c2-8b65-d5dfe4392aec",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        104
      ],
      "id": "edf09490-2ca6-4931-ab8f-49f783e4015a",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        352,
        -72
      ],
      "id": "e8ffa8ac-7d90-41fe-a976-d1c85aa2c31a",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JQ6ARVQIEbbwoWxD",
          "name": "DP: OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36578e2f-a621-4033-bc03-f1045026e3e9",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        120
      ],
      "id": "8dadeb7d-3625-4321-a140-9cd09098493d",
      "name": "Set Value"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7dfbbb7e-cb8f-425a-b8d9-b385f2631f55",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].audio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        24
      ],
      "id": "9b34ec97-0992-48fd-a7d7-b26b51039a2d",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de9730b9-d6ce-4f5b-ac43-5b782ee1b20b",
              "name": "output",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        364
      ],
      "id": "91d43e98-7fbf-491c-97da-9e6c50c03ffd",
      "name": "Set Field"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Role \nYou are a helpful assistant named vision. Keep your answer short and to the point \n\n## Aditional Information\nTodays date is {{ $now.toLocal() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        696,
        -80
      ],
      "id": "08f70f12-44da-4d29-a0bb-af56597f5cd3",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -96,
        -72
      ],
      "id": "68780c3f-d578-43c4-bbb3-015c54877e28",
      "name": "Get Audio URL",
      "webhookId": "801ba5d6-ee46-4809-a11a-4e7b964e1423",
      "credentials": {
        "whatsAppApi": {
          "id": "fJoSFpa4TcBzUGmP",
          "name": "DP: WhatsApp Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        -72
      ],
      "id": "3de77a5a-a290-424b-a92c-a3a9e959f0da",
      "name": "Download Audio"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1392,
        -24
      ],
      "id": "0b098a03-61df-423f-a3ad-73ca52475742",
      "name": "Generate Audio",
      "credentials": {
        "openAiApi": {
          "id": "JQ6ARVQIEbbwoWxD",
          "name": "DP: OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputItem = items[0];\ninputItem.binary.data.mimeType = `audio/mpeg`;\nreturn inputItem;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -24
      ],
      "id": "28ba4fd9-1150-486b-9fa1-0e16735f66ee",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "580846031785849",
        "recipientPhoneNumber": "+918888704667",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1392,
        316
      ],
      "id": "2cc347d8-47f3-4595-80e9-fa27d572a011",
      "name": "WhatsApp Business Cloud1",
      "webhookId": "a7c16d3b-f4d2-4c55-80e9-e120c1b06122",
      "credentials": {
        "whatsAppApi": {
          "id": "fJoSFpa4TcBzUGmP",
          "name": "DP: WhatsApp Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        364
      ],
      "id": "a667f1ef-0727-40f9-b90b-4a0a75025e8f",
      "name": "Download Image"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        128,
        364
      ],
      "id": "bd406057-2520-4422-9748-3bd79f33f532",
      "name": "Get Image URL",
      "webhookId": "f29f74c6-fa77-4c1d-9b47-4f9807ce39ba",
      "credentials": {
        "whatsAppApi": {
          "id": "fJoSFpa4TcBzUGmP",
          "name": "DP: WhatsApp Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "={{ $('Switch').item.json.messages[0].image.caption || \"What's in this image?\"}}",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        760,
        364
      ],
      "id": "e8551249-cbad-4eca-9f9f-5b8085d07757",
      "name": "Analise Image",
      "credentials": {
        "openAiApi": {
          "id": "JQ6ARVQIEbbwoWxD",
          "name": "DP: OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1d8ecac0-0023-806a-8a48-ff008bea4f1c",
          "mode": "list",
          "cachedResultName": "Client DB",
          "cachedResultUrl": "https://www.notion.so/1d8ecac00023806a8a48ff008bea4f1c"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        832,
        144
      ],
      "id": "c79ce441-8ff0-4438-b09e-1ae8cac8402e",
      "name": "Notion"
    },
    {
      "parameters": {
        "name": "UltimateGoogleCalendar",
        "description": "Call this tool when Thing related calendar are being called",
        "workflowId": {
          "__rl": true,
          "value": "XKo3XnJ5nQbsMXCD",
          "mode": "list",
          "cachedResultName": "Ultimate Google Calendar Agents"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        960,
        144
      ],
      "id": "72793201-b62b-4f9e-9a40-262e7473cc24",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        144
      ],
      "id": "8ce65841-070b-4acc-85f8-0b3aa03ab965",
      "name": "Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JQ6ARVQIEbbwoWxD",
          "name": "DP: OpenAi Account"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Value",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Value": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analise Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analise Image": {
      "main": [
        [
          {
            "node": "Set Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Field": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d31da3a9-1882-4284-8279-ee1bba0e783b",
  "activeVersionId": null,
  "versionCounter": 8,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-14T11:30:43.567Z",
      "createdAt": "2026-02-14T11:30:43.567Z",
      "role": "workflow:owner",
      "workflowId": "wl78jKBZCjZHxeGhWioOk",
      "projectId": "p3k6mrxCVXQTfj2s",
      "project": {
        "updatedAt": "2025-12-28T03:48:55.498Z",
        "createdAt": "2025-12-23T06:42:33.272Z",
        "id": "p3k6mrxCVXQTfj2s",
        "name": "Don Puerto <don.puerto.1003@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
        "projectRelations": [
          {
            "updatedAt": "2025-12-23T06:42:33.313Z",
            "createdAt": "2025-12-23T06:42:33.313Z",
            "userId": "e46dc87f-10bb-402e-9a73-9fe38838f451",
            "projectId": "p3k6mrxCVXQTfj2s",
            "user": {
              "updatedAt": "2026-02-16T14:26:24.000Z",
              "createdAt": "2025-12-23T06:42:33.249Z",
              "id": "e46dc87f-10bb-402e-9a73-9fe38838f451",
              "email": "don.puerto.1003@gmail.com",
              "firstName": "Don",
              "lastName": "Puerto",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-28T03:49:29.611Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "reporting",
                  "monitoring-alerting",
                  "data-syncing",
                  "other"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "-yN8AJ3CHdjtkwnalEIuo",
                "userActivated": true,
                "userActivatedAt": 1771210378925
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}